[2018-03-19 02:04] whitlockjc commented on #76
If you want to work around this now, reorder the statics in front of their parameterized equivalent.  I'm working on an algorithm that will make this work regardless of order.

[2018-03-25 19:31] Fonz001 commented on #94
When is the next release coming up? :-)

[2018-03-30 17:02] whitlockjc commented on #94
Soon I hope.  I've been trying to spend more time on this but I have been struggling.

[2018-04-04 03:08] glukki opened #175 "swaggerApi.getOperation(operationId) returns `Path` instead of `Operation`"
Issue source: https://github.com/apigee-127/sway/blob/ee8329540b4c1a279c5077a6937bcd495f085b89/lib/types/api.js#L139-L141

False-positive test: https://github.com/apigee-127/sway/blob/ee8329540b4c1a279c5077a6937bcd495f085b89/test/test-api.js#L90-L92

Adding a check like `assert.ok(operation  instanceOf Operation)` into the test should help

[2018-04-25 00:28] saywow opened #176 "why is the package.json still 1.0.0 when you have dependencies and code changes?"
Can you please bump up the versions in your package.json to reflect the recent changes?
Much appreciated, this will help us as consumers of your package to track changes and version control.

[2018-04-26 17:58] whitlockjc commented on #176
I could bump it to `2.0.0` since that is likely the next version to be released.

[2018-05-07 20:41] WaldoJeffers commented on #102
Is there any plan to fix this @whitlockjc? This is quite annoying. Can we help?

[2018-05-08 16:10] whitlockjc commented on #102
I'm working on it but I'm also a one-person team so when I'm busy, there's not a lot of progress.  I apologize for the delay.

[2018-05-15 12:12] WaldoJeffers commented on #102
Sure @whitlockjc , I fully understand, that's why I was asking if there's anything I can to do help :)

[2018-05-16 07:48] ehmicky commented on #176
I was going to post the same issue. One of the upsides of doing it is that at the moment `npm audit` reports a production vulnerability linked to `json-schema-faker`. Since the the latest commit have upgraded that library, this fixed the problem. I.e. releasing a new version would allow using this library without `npm audit` vulnerabilities.

[2018-05-16 18:02] whitlockjc commented on #176
Since I've never followed this approach before, bumping `master` before you know which version it will apply to, what is the suggested approach?  Is there some `npm/semver/package.json` documentation somewhere saying how we _should_ do this?

[2018-05-16 19:34] ehmicky commented on #176
I am trying to understand what the problem is: can't you bump the version in `package.json` then publish to npm?

[2018-05-16 19:38] whitlockjc commented on #176
I'm not saying there is a problem, I'm asking for details on the convention.

[2018-05-16 20:09] ehmicky commented on #176
I am sorry, I think there must be something I do noy understand. The convention seems to be to bump the version in `package.json`, update changelogs, use `git tag` then run `npm publish` but you definitely already know this, so I think I might not understand your initial problem.

[2018-05-16 22:32] ehmicky commented on #176
It seems to me (correct me if I'm wrong) that following [semver](https://semver.org), and going through the new commits (which do not seem to introduce breaking changes but do introduce new features), it should be `1.1.0`.

[2018-05-30 01:48] amarzavery commented on #128
@whitlockjc - Any plans to move to 3.0 Open API spec? 3.0 is GA now. Folks have been asking for this since last year. I know you are super busy. We really love this library. It would be great if you can provide an approximate timeline on when will this be possible?

[2018-05-30 16:54] iblazevic commented on #94
@whitlockjc any updates on the new release. If there is any help I can provide let me know, we really need this feature

[2018-06-01 23:08] penx commented on #176
from my understanding, @whitlockjc is preparing for a v2 release but is not happy that the current code base is stable enough to push something out now. He also thinks the current code base may have drifted too much from v1 that the next update should be a major update.

If the above is correct, I'd recommend releasing the current code base as v2 prerelease (e.g. 2.0.0-alpha.1)

I think regular re

[2018-06-01 23:08] penx commented on #176
https://semver.org

[2018-06-04 20:27] #76 closed

[2018-06-04 20:28] whitlockjc commented on #76
@Santinell Can you please verify that the fix works as you wanted?  I _think_ it's pretty slick and it even handles cases we don't need to support, just in case.

[2018-06-04 20:41] whitlockjc commented on #78
I will try to figure out how best to handle this.  The only real _interface_ here is that the returned validation error structures.

[2018-06-04 21:07] #79 closed

[2018-06-04 22:21] fed135 commented on #176
Hum: https://github.com/apigee-127/sway/issues/157
It's my humble opinion that all changes to master should result in a version change and a publish.

A good way of implementing this would be:
- Lock master branch (can be done through the configs)
- All changes go through PRs and optionally, link these to some very light CI to validate the changes
- Version changes can follow the same flow (PR for

[2018-06-04 23:03] #88 closed

[2018-06-04 23:04] whitlockjc commented on #107
Can you confirm if this is still the case, on `master`?

[2018-06-04 23:07] whitlockjc commented on #94
I'm working on it as we speak.  _(Check the commits from today.)_

[2018-06-05 08:06] osher commented on #128
Guys, I suppose it's down to us to fork and get on with it. Or maybe start from scratch in pure ES7 porting the good stuff.
Sadly, my current occupation does not involve swagger at all, but if it did - I't totally would have started by now. But my current position does not leave me much free time for efforts that do not promote the projects' main goals

[2018-06-05 13:59] whitlockjc commented on #128
I don’t see why threatening to fork is required when a PR, or PRs, would suffice. I’ve been the only active developer in this project from day one and like you, I’ve run into time conflicts lately. I’ve been trying to pick it back up _(look at yesterday’s commits)_ but it’s not going to ever be as quick if I’m the only one doing it. 3.0 support will likely take some time and will likely require ch

[2018-06-05 15:09] whitlockjc commented on #94
Can someone give me an idea of exactly what you want here?  I can think of a plethora of ways that _"strict mode"_ could be done but I can also think of cases where they might not always be wanted _(request headers for example)_.

[2018-06-05 15:32] #99 closed

[2018-06-05 16:27] amarzavery commented on #128
I don't think it was a threat of any kind. All of us love this repo and the work done by you over here. Since you are the main and only author of this repo, people are expecting a response from you on 3.0 support. @osher posted a comment on Jan 30 and I posted one 7 days ago asking for a timeline if any. This gives us the idea about where the project is heading with 3.0. It took slightly strong wo

[2018-06-05 16:29] whitlockjc commented on #128
Well, let's make this happen.  I'm putting in the time now and I'd love some help.  My plan is to release `2.0.0` by EOW _(barring any unexpected conflict)_ and then focusing on OAI v3.x support.

[2018-06-07 16:34] jmichel84 commented on #94
I agree with @iblazevic.

My biggest issue is that parameters not defined in the swagger schema (path, body or formData), do not throw errors. This forces me to validate the payload in the server side source code before persisting it to the database. Having a strict validation would permit to reduce the amount of source validation by delegating the task to the middleware.

The behavior I would exp

[2018-06-07 17:41] whitlockjc commented on #94
What if we had it so that request validation took a `strictMode` option that can be one of two things:

1. `boolean`: If `true`, all inputs/outputs are strict
2. `object`: A key/value pair of where the keys are `in` values _(`header`, `formData`, `query`)_ whose value is a boolean and dictates if that particular input/output is validated strictly or not _(Default value if the key isn't present is

[2018-06-07 20:16] iblazevic commented on #94
I didn't know I can achieve this behavior for the body validation with `additionalProperties`, I didn't come across that option in the docs. I'll have to test that for the body as that might just cover my strict body validation.

Is `additionalProperties` documented anywhere?

As for you proposal for `_header_`, `_formData_` and `_query_` I think it makes perfect sense.

[2018-06-07 20:19] whitlockjc commented on #94
`additionalProperties` is a JSON Schema feature and Swagger 2.0 uses it.  It's mentioned [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#schema-object) from a Swagger perspective and it's documented [here](https://spacetelescope.github.io/understanding-json-schema/reference/object.html#properties) from a JSON Schema perspective.  `additionalProperties` is definitely

[2018-06-08 14:09] #100 closed

[2018-06-08 14:10] whitlockjc commented on #107
Closing until more information becomes available.

[2018-06-08 14:10] #107 closed

[2018-06-08 14:12] whitlockjc commented on #109
Since the next release of `sway` will be a breaking one, I'm going to update `Request#getSample` and `Response#getSample` to return an object whose values are keys corresponding to `in` locations, each of which will be populated by parameters of that `in` and having sample values by name.

[2018-06-08 14:39] whitlockjc commented on #176
@fed135 I like the idea.  Let's say we're in the spot we are now _(nearing `v2.0.0` release, `master` hasn't been managed the way you're suggesting, etc.)_, how do we get there ASAP?  I'm cool with the whole _"all changes go through PRs"_ bit _(although I'm not sure I want to wait to get PRs approved for my own changes)_, all `master` changes become some new automatically-versioned, pre-release ve

[2018-06-08 15:02] #175 closed

[2018-06-08 15:03] whitlockjc commented on #173
I'm going to treat this as a duplicate of #176 as we'll likely address this there.

[2018-06-08 15:03] #173 closed

[2018-06-08 15:04] whitlockjc commented on #165
Is this still happening?  `json-refs@v3.0.0+` should fix this.

[2018-06-08 15:08] whitlockjc commented on #165
Now that `json-refs` support circulars, we'll update `sway` to work with it **but** there is already a way to pass options to `json-refs` allowing you to do this.  [Sway.create](https://github.com/apigee-127/sway/blob/master/docs/API.md#swaycreateoptions-customformats-customformatgenerators--promise) has a `jsonRefs` option that is passed to `json-refs`.

[2018-06-08 15:14] penx commented on #165
I won’t have a chance to test for a week or so, but you could try the unit test I wrote in #172 and merge the unit test only if it’s now working

[2018-06-08 16:13] iblazevic commented on #94
I missed that, that works great for the body. Adding the above-discussed validation for query and headers will round the validation completely IMO.

[2018-06-08 19:36] fed135 commented on #176
I've just now implement full CI on my new OSS, I can definitly help :)

[2018-06-08 20:56] whitlockjc commented on #176
I'm already using Travis to do CI but we're not doing CD on `master` and I think that's a cool idea.

[2018-06-08 21:33] whitlockjc commented on #94
There is an order of operation here that needs to be discussed.  Should strict mode validation only happen _after_ the existing validation happens _(so strict mode validation only happens for valid requests/responses)_ or should it happen _before_ the existing validation?

[2018-06-08 21:49] whitlockjc commented on #94
Or maybe it's not an either/or, but an always?

[2018-06-08 22:32] whitlockjc commented on #159
Ultimately, the response body for `type: file` could be a string.  Of course, the file type dictates the content of the response body but from a generation perspective...isn't a file at it's core just bytes, or a string from a mock perspective?

[2018-06-09 03:44] whitlockjc commented on #159
Simple test to add that reproduces it:

[code]

[2018-06-09 17:03] osher commented on #128
wow. I missed these mails.
Anyway - no, I did not mean fork as in lets split into a new copy, but as
fork - the first step in working on a PR.

Sorry for the confusion!

On Tue, Jun 5, 2018 at 7:29 PM, Jeremy Whitlock <notifications@github.com>
wrote:

[2018-06-11 12:20] iblazevic commented on #94
I would prefer always if possible. It's mostly subjective but I like getting all errors at once, it's a cleaner experience IMO.

[2018-06-11 14:14] fed135 commented on #176
#177

[2018-06-11 14:29] razyon opened #178 "Array validation issue in query"
Hi,

I ran into an issue upgrading swagger-node-runner to the latest version and found an issue in your params parser (more specially in the **convertValue** of the helpers file).

I use an API like this:
[code]

In my swagger definition **ids** is an array of string (the given id in my test is the simplest mongodb ObjectId possible which is 24 hexadecimal chars)

In your code you are doing this t

[2018-06-13 16:21] whitlockjc commented on #178
This is already fixed on `master`: 94ba34fe8008e9febdff2ff1ee48027ac95a881f

[2018-06-13 16:21] #178 closed

[2018-06-18 18:42] #94 closed

[2018-06-18 18:43] whitlockjc commented on #94
First pass of strict mode validation is in.  `Operation#validateRequest`, `Operation#validateResponse` and `Response#validateResponse` now have an optional second argument _(`strictMode`)_ that dictates whether strict mode validation is on/off and to what portion(s) of the request/response needs to be validated _(`formData` is request only, `headers` are request and response and `query` is request

[2018-06-20 18:59] chadxz commented on #176
seems to me that updating package.json as part of a pull request would be rather tedious. What happens when there are multiple pull requests open at the same time? How do you manage who sets their version to what?

Seems like there's a step missing here.

[2018-06-21 12:05] fed135 commented on #176
It is indeed, it's a shortcut that only projects with one or two maintainers can take.

If you're up for it, you could add a `next` branch to your repo, lock it and mark it as default. PRs will all go to this branch, and when you feel comfortable bumping the package version, you just create a PR from next to master.

This approach is closer to the classic git workflow: https://nvie.com/posts/a-suc

[2018-07-12 21:56] Lotti commented on #92
I still encounter this bug :\ any news?
I'm using
    "swagger-express-mw": "^0.7.0",
    "swagger-node-runner": "^0.7.3",

[2018-07-13 15:05] whitlockjc commented on #92
The `sway` release fixing this isn't out yet:

https://github.com/apigee-127/sway/blob/master/RELEASE_NOTES.md#tbd

We're close to a new release.

[2018-07-15 02:47] whitlockjc opened #179 "UNUSED_DEFINITION for references in relative/remote documents"
Whenever `json-refs` records reference metadata, the way it is used to calculate unused definitions doesn't work right when there are references in relative/remote documents that populate referenceable objects.  For example, if `#/definitions` points to `./models.yaml`, anything that also uses `./models.yaml` doesn't get recognized as pointing to `#/definitions/*`.

[2018-07-15 22:02] #179 closed

[2018-07-16 02:53] whitlockjc commented on #158
With #94 _(strict mode)_ being added, you can do this by using the strict mode feature to do this.  If this is not ideal, we can do resurrect this request.

[2018-07-16 02:53] #158 closed

[2018-07-16 18:26] #159 closed

[2018-07-16 18:37] whitlockjc commented on #164
Well, body of `{}` does not imply empty _"does not have a body"_.  I'd like to see how you're calling the API if you don't mind.  As of right now, I will try to fix things as discussed above.

[2018-07-16 18:50] MartinDelVecchio commented on #164
Are you referring to my post?  If so, it seems like you might be responding to this part of it:

But please note that the original, actual problem involves a request with no content-type header and no body.  Everything else was an attempt to diagnose the bug in the library that produces this error.

Thanks.

[2018-07-16 19:04] whitlockjc commented on #164
I got it.  I've got it sorted, commit coming in a few.  Basically, no `Content-Type` validation for request or response when the body is empty _(`undefined` when called programmatically)_.

[2018-07-16 19:07] MartinDelVecchio commented on #164
Thanks!

[2018-07-16 19:12] #164 closed

[2018-07-16 19:41] #165 closed

[2018-07-16 19:41] whitlockjc commented on #165
So I think this is fixed with the newer versions _(`3.0.x+`)_ of `json-refs`.  With your input document, I don't see any failures when using `Sway.create` and then validating the document.

[2018-07-16 19:48] whitlockjc commented on #171
As part of adding strict mode validation _(#94 )_, `Operation#validateRequest`, `Operation#validateResponse` and `Response#validateResponse` was updated to have an optional `strictMode` argument.  I think to do this work, we'll replace the `strictMode` argument for those methods with an `options` object and put `strictMode` into it along with a `validators` property that is an array of validator f

[2018-07-17 22:23] #171 closed

[2018-07-18 18:31] whitlockjc commented on #176
`package.json` is now at `2.0.0`.  I'm going to close this for now but I do hope the discussion continues.  Once we have an agreed-upon plan, we'll create an appropriately described/named issue to do the work.

[2018-07-18 18:31] #176 closed

[2018-07-19 13:43] Nagato-Yuki opened #180 "Cannot compile webpack: ERROR in ./node_modules/sway/lib/validation/validators.js Module not found: Error: Can't resolve 'swagger-schema-official/schema'"
In `lib/validation/validators.json` at line 31
[code]

It seems like this line is preventing webpack to resolve for `schema.json` file in `swagger-schema-official` package

I fixed it by add `.json` to allow webpack to correctly resolve JSON dependency.
[code]

[2018-07-19 14:18] whitlockjc commented on #180
This is likely a deficiency in webpack as Node.js [module loading](https://nodejs.org/api/modules.html#modules_file_modules) treats `.json` files as requirable without the `.json` extension.  The same source base works fine _(without modification)_ in browserify as well.  I'm going to close this since it's not something I'll likely change but if you cannot find a way to make webpack work right _(c

[2018-07-19 14:18] #180 closed

[2018-07-20 22:19] whitlockjc opened #181 "Update error details with JSON Pointer to location"
To avoid consumers of `sway` to directly depend on `json-refs`, we should update the error/warning details to contain the JSON Pointer to the error/warning location.

[2018-07-25 12:07] celalo commented on #128
Any news on OAI v3.x support?

[2018-07-25 13:53] whitlockjc commented on #128
Now that `sway@v2.0.0` is released, `OASv3.x` support is the next major feature being worked on for `sway`.

[2018-07-25 14:07] celalo commented on #128
Thank you very much for your immense efforts. I believe, `OASv3.x` support will need quite a lot of work but do you have a rough timeframe? Do you think it will take days, weeks or months? (I also presume, `OASv3.x` support will not land to `swagger-tools` project, since it's deprecated in favor of `sway`)

[2018-07-25 14:14] whitlockjc commented on #128
I honestly have no idea how long it will take.  Last I heard, `OAS@v3.x` doesn't even have a JSON Schema to use yet.  So I need to figure out how that looks, what the delta is and go from there.  I don't think the `sway` API itself will change much since the JavaScript objects we expose shouldn't change much and when it comes to the features available on them, they shouldn't change much either.  J

[2018-07-25 14:42] philsturgeon commented on #128
They OpenAPI folks areare still working on that, but this Schema is usable despite being labels as WIP. https://github.com/OAI/OpenAPI-Specification/pull/1270

It’s being used in a lot of tools like oas-kit: https://github.com/Mermade/oas-kit/tree/master/packages/oas-validator/schemas

[2018-07-25 16:46] whitlockjc commented on #128
Fair enough.  I'm on the TSC and I know that it's a WIP but building on top of a WIP worries me a little, although I'm not against it.

[2018-07-25 17:21] philsturgeon commented on #128
Cool! Wasn’t pulling rank there just letting folks know in case they didn’t. 😬

I’ve been using oas-kit extensively at wework to validate all sorts of problems, and if there are edge cases the WIP doesn’t cover then I’ve not found them.

Put it this way: if you build a new version of sway presuming the WIP is close enough, and write everything to support v3, you can have that version as beta until

[2018-07-25 17:38] whitlockjc commented on #128
Oh, I didn't take it that way.  :)  I wasn't pulling rank either but I can see how it could be taken that way.

[2018-07-25 19:05] whitlockjc commented on #128
Speaking of...any ideas on how you'd like `sway` to work with multiple versions of OAS?  As we support multiple concurrent versions of the spec, you get to the point where the size of `sway` will increase.  Also, since these JSON Schemas are JSON they are not typically minified during browser builds.  I'm thinking of creating JSON object versions of them to remedy this.  Thoughts?

[2018-07-26 16:18] philsturgeon commented on #128
Many tools implement an adaptor pattern approach, where a base class covers the most basic common functionality and inheritence covers the rest. You'd probably have distinct v2 and v3 base classes, and v3.1 could extend from v3.0, etc.

Or you can use mixins to cherry-pick functionality from a whole bunch of things.

This JSON Schema library does something similar: https://github.com/davishmcclurg

[2018-07-26 16:36] whitlockjc commented on #128
I'm all for collaboration.  Being one of the first on the block for such things _(`sway` started 2 years before `oas-kit` and was written to replace `swagger-tools` which was even older)_, I was surprised more people didn't contribute to my projects and would start their own.  I've never pushed anyone away and I've been quite receptive to criticism and feedback.  I'll stay in my lane for now and i

[2018-07-26 16:41] philsturgeon commented on #128
Excellent. Well, oas-kit is _brand new_ but based on the logic from swagger2openapi, and of course exists because there are no v3.0-based tools out there. I wasn't suggesting ditching your thing because a new thing came along, but was suggesting you take a look at the multiple components they have to see if any of them can replace 2.0-only code you have there.

Another cool approach is to support

[2018-07-26 16:42] whitlockjc commented on #128
I do like that idea.  I'll reach out to @MikeRalphson to see what his thoughts are.

[2018-08-04 20:39] dinvlad commented on #115
The 2.0.0 package doesn't seem to include `index.d.ts`. Would it possible to add it? Thanks!

[2018-08-04 20:41] whitlockjc commented on #115
I can do that, and I'm sure I need to update the TypeScript definitions.  I will see if I can find a way to generate these automatically.

[2018-08-04 21:12] dinvlad commented on #115
Thanks! The existing ones seem to still work, but I've been using this patch to correct them:
[code]

[2018-08-05 02:59] dinvlad commented on #35
This issue has re-appeared again: when I pass an Express `req` object, `isPlainObject()` leads to `'req must be an object'`.

[2018-08-05 04:47] #155 closed

[2018-08-05 05:02] #35 closed

[2018-08-05 05:54] dinvlad commented on #115
Thanks! It seems like the auto-generated types are not working atm because they don't export anything. Would it be possible to replace `declare` with `export`?

[2018-08-05 06:43] whitlockjc commented on #115
I'll need to look at how.  These are generated from the JSDoc tags.

[2018-08-05 07:01] whitlockjc commented on #115
After reading this, it seems like `declare` is the appropriate thing but there could/should be an `export` for the things exported by the module.  I'm using [tsd-jsdoc](https://github.com/englercj/tsd-jsdoc) to do the work.  I'm trying to see how I can get this to work.  The only thing I can find is this: https://github.com/englercj/tsd-jsdoc/issues/20

[2018-08-05 07:27] whitlockjc commented on #115
Wait, you're right.  I'm using [@otris/jsdoc-tsd](https://github.com/otris/jsdoc-tsd).

[2018-08-05 17:33] whitlockjc commented on #115
I'm in the process of reading the docs on writing good TypeScript Declaration files: https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html  If I can understand them better, I'll probably figure out a way to fix this.  The last thing I want is to have to hand craft these.  I'll update you soon.

[2018-08-06 15:00] dinvlad commented on #115
Great, thanks! Let me know if you need any help

[2018-08-09 21:58] whitlockjc commented on #115
Can you check `master` and the latest release?  I tested them myself and they seem to work.

[2018-08-11 16:06] dinvlad commented on #115
Nope - unfortunately it still reports that interfaces are not exported. I'm using it TypeScript 3.0.1 if that matters. Thanks

[2018-08-11 23:10] whitlockjc commented on #115
Why should they be?  You don't instantiate them directly and are there just for code completion/documentation.  To me, anything exported would be something I could access directly and none of the types should be.  Can you give me an example that reproduces some problem?

[2018-08-12 01:00] dinvlad commented on #115
They are needed if we split the code that uses Sway into multiple functions. For example, I have one function that just loads `SwaggerApi` and caches it in global variable (I use Cloud Functions and this type of optimization is critical). Another function just calls `api.getOperation()` and throws an appropriately formatted error if the operation is not found. Yet another one checks that the opera

[2018-08-12 16:26] whitlockjc commented on #115
So how are you associating the types in these other functions?  I assume you're writing TS stuff that uses types and it just can't see the types from my module since they aren't exported?

[2018-08-12 16:33] whitlockjc commented on #115
I get it now.  While exported based on purpose, for consumption I likely need to export anything that you might need type information for so that you can pass the Sway objects or define them yourself.

[2018-08-13 04:55] dinvlad commented on #115
Yep, that's be really nice! I can work around that but re-defining the types in my code, but that seems a bit redundant.

[2018-08-13 15:51] whitlockjc commented on #115
The reasoning for this is nothing, other than the `create` options and callbacks used in options and other APIs, are created by you.  You'll never create an `Operation` or `Response` yourself.  But since TypeScript is typed, before you can reference those types in functions/types you define, they need to get exported.  I get it now.

[2018-08-13 16:07] confuser commented on #128
@whitlockjc Probably worth taking a look at https://github.com/exegesis-js/exegesis as well

[2018-08-26 18:53] whitlockjc commented on #115
Can you give me a reproduction recipe? I tested this and t worked. Only one
function is exported and the others aren’t on purpose because they are
never accessible directly. The code completion worked for me and no
compiler errors.
On Sat, Aug 11, 2018 at 10:06 AM Denis Loginov <notifications@github.com>
wrote:

--
Take care,

Jeremy Whitlock

Twitter: @whitlockjc

[2018-08-26 22:03] dinvlad commented on #115
@whitlockjc it's ok, I've re-defined the interfaces for use in my functions. Thanks for considering the options.

[2018-08-26 22:30] whitlockjc commented on #115
I'll get it sorted and committed in a patch release.  I've verified the fixes being made for another project.  I'd love to have you verify them if you don't mind.

[2018-08-26 22:47] whitlockjc commented on #115
This should be fixed in `sway@v2.0.3`.  Do you mind verifying?

[2018-08-26 22:47] #115 closed

[2018-09-24 21:43] JaekwanLee opened #184 "Form data validation seems incorrect."
It seems weird to see file type of formData is always expected under req.files. I see multer(a popular library for multi-part form data) sometimes use req.file for a single file.

In lib/types/parameter.js, it always throws an error due to validation failure.
[code]

Should it be more generous in the case of formData?

[2018-09-25 04:19] whitlockjc opened #185 "Unresolvable references are not structural validations"
We need to move the code that validates unresolvable references out of the structural validation, or move the unreferenced referenceable objects _(mouthful, I know)_ into structural validation.

[2018-09-25 04:31] whitlockjc opened #186 "JSDoc/TypeScript wrong for a couple APIs"
`SwaggerApi` has a number of APIs that return an array of types and the TypeScript has it as `any[]` and that is wrong.

[2018-09-25 07:34] whitlockjc commented on #184
I don't disagree.  I do think that `sway` aims to try to give a convention and it wouldn't take much to work around this but at the same time, I can make `sway` smarter to treat `req.file` as an array with `req.file` in it.  I'll get working on it.

[2018-09-25 14:43] whitlockjc opened #187 "Modularize Sway"
It would be really nice if `sway` were modularized so that tooling consumers could cherry-pick what they want to use instead of getting everything.

[2018-09-25 14:44] whitlockjc commented on #68
I'm going to suggest we use #187 to keep track of this for now on.  The idea will be to break `sway` up into smaller, more specific components.

[2018-09-25 14:44] #68 closed

[2018-09-25 18:33] DavidBiesack commented on #128
Glad to see progress and some momentum on 3.0. I would suggest, however, that the README.md not imply that `master` supports the latest (3.0) until it actually does.

[2018-09-26 08:57] rahimimo commented on #128
I agree with @DavidBiesack  I really do not know if now 3 is fully supported or not and what is the correct source to follow,. This issue thread or readme or ?

[2018-09-26 15:40] whitlockjc commented on #128
Can I say that `master` supports `v3.x (WIP)`?

[2018-09-28 15:15] DavidBiesack commented on #128
I suggest not claiming that master supports v3 as a work in progress.
I recommend creating a separate branch for the 3.0 work.
At APIStrat, Jeremy asked about approaches for 3.0 support - I'd like to see sway support both "swagger: 2.0" and "openapi: 3.0.1" at the same time (same code base), rather that forking the tool. That's my opinion, tho.
I don't recommend doing so via an implicit conversion

[2018-09-28 15:52] whitlockjc commented on #128
I fixed the supported version in the README files.  And thanks for the feedback.  I like that approach too.

[2018-10-04 23:22] thomas-silva-sofi opened #188 "MODULE_NOT_FOUND: json-schema-faker/lib"
Sway accepts new minor versions of json-schema-faker in package.json.
`"json-schema-faker": "^0.5.0-rc15"`

And, sway does not utilize the main script but uses a specific directory reference.
https://github.com/apigee-127/sway/search?q=require+json-schema-faker&unscoped_q=require+json-schema-faker
`mocker = require('json-schema-faker/lib');`

0.5.0-rc15 may have worked, however rc16 moved some fil

[2018-10-04 23:39] #188 closed

[2018-10-04 23:41] whitlockjc commented on #188
Rolling a new `v2.x` release right now.

[2018-10-04 23:47] whitlockjc commented on #188
`sway@2.0.5` fixes this.

[2018-10-15 12:13] IulianBojincaSV commented on #171
Hi Jeremy,
How would such a custom validator look like? How would it be created/look like and then passed to the customValidators option? Can you maybe give us a simple example of such a thing? I'm struggling to find a way to implement such a validator for validating the content of the body of an application/json request object.

Thank you!

[2018-10-15 20:44] whitlockjc commented on #171
The `options` object passed to `validateRequest` is documented [here](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_sway.RequestValidationOptions).  That specifies that `customValidators` is of type [Sway.RequestValidationFunction](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_sway.RequestValidationFunction).  A full example can be found [here](https://githu

[2018-10-16 12:50] IulianBojincaSV commented on #171
Thank you for the fast response and the hints. The support for OAS@v3.x as it is right now, it works for me. I know it's WIP but it's pretty decent as it is.
So my solution for validating the request:
- let Sway validate the headers, query, path...etc
- validate the request body through a custom validator using the Z-Schema package directly

Maybe it would be a useful thing to expose some of the h

[2018-10-18 19:45] whitlockjc commented on #171
Why do you need to do custom body validation?  `validateRequest` _should_ do this for you.

[2018-10-19 12:52] IulianBojincaSV commented on #171
I failed to specifically mention that I'm using OAS@3.x for my schemes. What you say I think this is valid for Swagger 2.0 schemes only. In Swagger 2.0 you define the request body in the parameters with in:body. But for OAS 3.0@x you define them in requestBody, a sibling property of parameters.

Looking inside the implementation of validateRequest I saw that the validation for the body is done tog

[2018-10-19 16:16] whitlockjc commented on #171
Okay, that makes more sense.  This is an OAS@v3.x support thing, which is being worked on in #128.

[2018-10-25 08:38] DFaiz opened #189 "Supporting `discriminator` for Swagger 2.0"
Hello,

Are there any plans to support `discriminator` for Swagger 2.0?
Also, is it possible to perform such validation using a custom validator?

Thanks in advance.

[2018-11-11 01:36] dontry commented on #163
I found the same error. I checked that the required module 'swagger-schema-official/schema' is missing in node_modules.

[2018-11-13 06:14] MikeRalphson opened #190 "Lengthy resolution / validation on large / complex OAS 2.0 definitions"

[2018-11-13 06:19] MikeRalphson commented on #190
Again, as requested, comparative time for `oas-kit` to fetch, resolve, convert and validate:

[code]

[code]

[2018-11-13 06:39] whitlockjc commented on #190
If you remove `options.jsonRefs.resolveCircular`, it looks a good bit more reasonable: `6.77s user 0.19s system 104% cpu 6.665 total`  `options.jsonRefs.resolveCircular` shouldn't be necessary, but it also shouldn't be breaking things either.  Even once that is fixed, the performance difference is noticeable but I'm not 100% sure where the cost is coming.  From a resolution perspective, we do reso

[2018-11-13 06:48] MikeRalphson commented on #190
Thanks. I think in apis.guru we use the same options for all definitions, and it's likely some other ones need `resolveCircular`. I'll look at making it optional. We also only need a "locals only" rendering, not every `$ref` resolved.

[2018-11-13 06:49] whitlockjc commented on #190
Does `oas-kit` do a _"locals only"_ resolution?

[2018-11-13 06:58] whitlockjc commented on #190
I wonder what the detail is in resolution detail/scope between `json-refs` _(`sway`)_ and `oas-kit`.  I hope we're comparing apples to apples.

[2018-11-13 07:14] MikeRalphson commented on #190
Yes `oas-kit` only resolves external references, leaving "locals only". It also bails on the first validation error, unlike Sway. But then, it is also doing the work of converting OAS 2.0 to 3.0.0. Definitely some fruit disparity here though :smile:

[2018-11-13 07:14] MikeRalphson commented on #190
I'm going to try and get another of our dependencies, `api-spec-converter` to update to Sway `^2.0.5` as that seems to be the main culprit now.

[2018-11-13 07:17] whitlockjc commented on #190
`sway` isn't without it's warts and I'd love to fix them, like #160.  Thanks again for taking the time.

[2018-11-19 19:42] msmol opened #191 "Sway doesn't correctly validate request body"
Given following openapi definition:
[code]

I would expect sway to validate that a `POST` request to `/test` must have the key `foo` in it's body.

In non-strict mode I get no errors, in strict mode I get:
[code]
Thanks!

[2018-11-19 19:44] whitlockjc commented on #191
`OpenAPI@v3.x` isn't supported yet, and is tracked in #128.

[2018-11-19 19:44] #191 closed

[2018-11-28 17:11] alexandruluca opened #192 "Updating from swagger-tools"
In https://github.com/apigee-127/swagger-tools/issues/335 you are mentioning that swagger-tools are deprecate due to obvious reasons. Let's say I would like to update swagger-tools to using sway, how can I achieve this or what alternate maintained package can I used instead of swagger-tools?

Sway to me does not seem like a drop in replacement for swagger-tools but more like an internal api. Is th

[2018-11-28 17:19] whitlockjc commented on #192
You're right, `sway` is an API that provides everything _(and more)_ than `swagger-tools` but just not in all the same forms.  `swagger-tools` is an API, CLI and Connect middleware.  For the API, `sway` is already more than enough to replace `swagger-tools`.  For a CLI, there is a `sway`-based implementation called `oval`: https://github.com/whitlockjc/oval  As for the Connect Middleware, I starte

[2018-12-07 14:18] RomanGotsiy commented on #128
Hey @whitlockjc, what is the current progress with this?
I mean if I start using code from `master`, what is still missing?

Do you need any help?

[2018-12-07 16:35] whitlockjc commented on #128
Progress is ongoing but not complete.  Doing it alone means slower than ideal delivery.  I'll try to get it out sooner.

[2018-12-20 14:23] whitlockjc opened #196 "Migrate from nsp to snyk"
It looks like `nsp` was [shut down](https://blog.npmjs.org/post/175511531085/the-node-security-platform-service-is-shutting) so we should migrate to `snyk`.

[2018-12-20 14:33] #196 closed

[2018-12-22 11:34] arpitgarg1 opened #197 "Not able to validate URL in swagger specficiation"
In swagger spec, attributes with URI as value instead of URL not giving any validation error/warnings.
For example tokenURL in securitydefinitions requires 'URL' as per OAS 2.0 standards.
But providing URI, sway library not throwing any errors. Although the appropriate error, receive in swagger editor through manual upload of same swagger spec.
securityDefinitions:
  ios:
    type: oauth2
    toke

[2019-01-01 14:57] osher commented on #128
@whitlockjc - just to give you some kudos.
I'm sorry I can't offer help ATM, by the time things got going - I sunk over my head.
So - kudos. that's the least I can do!

[2019-01-01 21:16] whitlockjc commented on #128
No worries.  I've been dragging my feet due to no official JSON Schema for OAS@v3.x but I'm going to take a different approach starting today.

[2019-01-01 23:11] whitlockjc commented on #197
This is new to me, I would expect the JSON Schema from the OAS to catch this.  Let me do some digging and we'll get to the bottom of it.

[2019-01-02 16:15] philsturgeon commented on #128
@whitlockjc hey, is that new approach using the WIP? I don't want to sound like a dog with a bone but you could get a long way using that WIP and it shouldn't mess you up if they release an official metaschema during that time. If you've got a big healthy test suite then it'll aaaaall be fine. Probably. Right? D:

[2019-01-02 19:42] whitlockjc commented on #128
The `master` branch is the WIP and it's where I'll be doing the work.  I may end up creating a new OSS project for the types/validation of the OAS document, something that would address parts of #187, but I'm not 100% sure on that yet.  Regardless, all of this is being done in `master` at this time.

[2019-01-03 00:12] MikeRalphson commented on #128
I think @philsturgeon meant the WIP json schema(s).

[2019-01-04 16:34] DanStory commented on #184
With a formData parameter named for example as `file`, the parameter validation fails when it is required. This is do to `req.files[this.name]` returning undefined, as it is an array not an object.

Both `req.body` and `req.fields` use the parameter name, and may be better suited to get the parameter value.

[2019-01-04 21:14] whitlockjc commented on #184
This will be sorted soon, sorry for the delay.

[2019-02-01 21:43] whitlockjc opened #198 "Omit vendor extensions when creating types"
Whenever we process the `paths` or some other OAS type, we do not handle vendor extensions appropriately.  This could lead to some `x-*` property beneath `paths` being turned into a `Path` object, and in some cases would not work due to a value being `null` or `undefined`.  We need to ensure that we are omitting vendor extensions when processing the parsed types in the OAS document.

Originally re

[2019-02-04 10:07] adityaguru149 commented on #164
@whitlockjc What release has these changes?

[2019-02-04 11:23] adityaguru149 commented on #164
I drilled down into the code in node_modules and found the code in the mentioned commit present.
Yet I feel the code does not handle for case ----when body is a empty object (Object {}).
@whitlockjc Can you take a look and confirm?

I'm facing issue for this case.

[2019-02-06 11:52] adityaguru149 commented on #164
@whitlockjc Yes, I could find the code in node_modules.
What about the below case? Could you look into this?

[2019-02-06 16:39] whitlockjc commented on #164
An empty body of `{}` is not an empty body but a body with an empty object.  Am I misunderstanding?

[2019-02-06 17:23] whitlockjc opened #200 "Add API(s) for getting vendor extensions for all top-level objects"
All top-level objects that `sway` supports should have a `getVendorExtensions` API for getting all `x-*` definitions at the root of its schema definition.

[2019-03-09 00:24] dinvlad opened #203 "Upgrade static-eval dependency in package-lock.json (security concern)"
Hi @whitlockjc,

Could you please update package dependency chain `json-schema-faker`->`jsonpath`->`static-eval` - the current versions in `package-lock.json` are using `static-eval 2.0.0` that's marked for arbitrary code execution by SourceClear. I believe just re-building the package cache should do the job (`static-eval` should pick up v`2.0.2`).

Thanks!

P.S. Relevant info:
https://github.com

[2019-05-07 17:24] whitlockjc commented on #203
Fixed.

[2019-05-07 17:24] #203 closed

[2019-05-07 17:26] whitlockjc commented on #186
Fixed.

[2019-05-07 17:26] #186 closed

[2019-06-05 15:01] pbarker commented on #32
can someone explain what the purpose of this is restriction is? as mentioned above the unique identifier for a resource is verb + path

[2019-06-05 15:43] webron commented on #32
@pbarker correct, and `/path/{a}` and `/path/{b}` are the same path.

[2019-06-07 19:11] whitlockjc opened #206 "Review swagger-tools path-matching bug"
I'm not sure if `sway` is affected by [this bug](https://github.com/apigee-127/swagger-tools/pull/605) but if it is, we need to address it.

[2019-06-07 19:21] 3mard commented on #206
Hey @whitlockjc I was not aware of sway to be honest and I didn't test it, I can look into it a bit later

Sorry if this is a bit off topic but will this bug fixed in swagger-tools ? or the swagger-tools are kinda archived ?

[2019-06-07 22:30] whitlockjc commented on #206
`sway` is the successor to the API portion of `swagger-tools`.  They are unrelated other than this.

[2019-06-27 19:17] whitlockjc opened #207 "Upgrade to Gulp 4.x"
https://github.com/gulpjs/gulp/issues/2324

[2019-06-27 20:56] 73rhodes opened #208 "reexported modules"
I apologize if this has already been covered or has an obvious fix, but I haven't been able to find a solution.  I'm using tsd-jsdoc to generate a types.d.ts file for a node library / npm module. There's a top-level module that's the main entry point and it rexports things that are defined in sub modules. Here's a contrived example:

[code]

Running jsdoc with the tsd-jsdoc template generate somet

[2019-06-27 21:08] 73rhodes commented on #208
Sorry, this was posted under the wrong repo. My bad.

[2019-06-27 21:08] #208 closed

[2019-08-06 09:30] Somebi opened #210 "Development stopped? This project is dead?"
Would like to hear officials. Thank you.

[2019-08-06 14:02] whitlockjc commented on #210
No, development hasn't stopped.  In fact, there was a release a little over 3 months ago.  Sure, development is slower due to me doing this on personal time instead of work time but I assure you it's still active.

[2019-08-06 14:02] #210 closed

[2019-08-22 16:56] philsturgeon commented on #128
How's this coming along? Is there any of the tooling we can align on?

1. [stoplightio/json-ref-resolver](https://github.com/stoplightio/json-ref-resolver) has a few really handy local file, HTTP, or both $ref resolvers
2. [BiteBit/ajv-oai](https://github.com/BiteBit/ajv-oai) handles the validation by wrapping AJV with the OpenAPI v3.0 metaschema we discussed above (now merged!)

I know this tool

[2019-08-22 17:20] whitlockjc commented on #128
Object model is complete, structural validation is complete.  Semantic validation is almost complete.  I will then do request/response validation and cut a release.  The plan is to remove support for mock/sample generation for now.  We can bring it back pretty easily, but the current approach brings in so much bulk that I don't want to stick with it if we don't have to.

Thanks for your patience.

[2019-08-22 17:34] whitlockjc commented on #128
I'm glad you pointed me to stoplightio/json-ref-resolver, I didn't know they too were writing their own version of [json-refs](https://github.com/whitlockjc/json-refs).  I've reached out to better understand, I fear fragmentation for no real reason.

[2019-09-17 17:45] IlhamKhabibullin commented on #128
Is there any updates for now?

[2019-09-17 18:55] whitlockjc commented on #128
Sorry for the delay, but it's nearing completion.  Structural document validation for 2.x and 3.x is working, semantic validation is almost done.  All that's left then are a few APIs and request/response validation.

[2019-09-17 20:04] IlhamKhabibullin opened #211 "Migrating library to typescript"
Even if it not will be srtictly typed that would be good since other developers fullfilled with enthusiasm

[2019-09-17 20:27] whitlockjc commented on #211
It's possible but I like JavaScript.  My compromise _(for now)_ is providing the TypeScript type definitions with the sources so that if you use TypeScript in a dependent project, you can still get static typing as you want.

[2019-09-17 23:44] IlhamKhabibullin commented on #128
i am specifically cared if OpenAPI v3.0 will bring feature with `discriminator`? Is there any chances that it will be supported in that coming release?

[2019-09-18 17:53] whitlockjc commented on #128
`discriminator` is quite difficult to implement but it will be coming.

[2019-10-01 16:51] smoosh911 opened #212 "Breaks with uglifyjs-webpack-plugin"
**Error:** ERROR in bundle-auth.js from UglifyJs
Unexpected token: punc ()) [./node_modules/json-schema-faker/dist/index.umd.min.js:6,1852][bundle-auth.js:141,1603]

**Commands ran:**
npm install
npm run build ("build": webpack)

**Versions:**
"uglifyjs-webpack-plugin": "^1.3.0" (I've tried multiple versions
"sway": "^2.0.6" (tried multiple versions)

[2019-11-01 15:40] dinvlad commented on #78
Hi @whitlockjc - would you have any update on this? Would really like to use `ajv`, as it tends to provide more detailed error messages.

[2019-11-01 16:59] whitlockjc commented on #78
I looked into making the validator pluggable and it's not hard.  I'm just trying to wrap up 3.x support first.  I thought I'd do this as a part of 3.x support but it was more work than I wanted to add to the existing 3.x support.  No timeline.

[2019-11-09 04:47] littlejedi opened #213 "Z-Schema deep cloning"
Hi there,
We've been using Sway in our project, and during memory profiling, we've found the following line that's taking a lot of time (in lib/helper.js)

module.exports.validateAgainstSchema = function (validator, schema, value, schemaPath, isResponse, options) {
  **schema = _.cloneDeep(schema); // Clone the schema as z-schema alters the provided document**

I'm curious as to why z-schema alter

[2019-11-11 17:38] whitlockjc commented on #213
The reason is z-schema modifies the input document to keep track of what it has processed and what it hasn't: https://github.com/zaggino/z-schema/issues/160#issuecomment-214901835  Not only does this cause problems as mentioned in the referenced issue, but I don't think it's right for anything `sway` does to modify inputs it's provided.  Once I knew that z-schema modified the input document, I sta

[2020-01-16 16:25] elecompte60 commented on #128
Any updates on this or is this project dead?

[2020-01-16 17:01] whitlockjc commented on #128
The project isn't dead, I just happen to be a one-man band so things happen much slower now that I'm not paid to work on this.

[2020-01-16 21:51] philsturgeon commented on #128
Maybe now is a good time to split it into a few smaller tools and see if we can find help from the community, getting folks to take ownership of those smaller tools. I'm starting to get together some resources on https://github.com/openapi-contrib, and having a simple validator over there would be massively useful. It would help a lot of people avoid needing to OAS+AJV for validation, which is a m

[2020-01-17 08:19] nazarhussain commented on #128
Can't share how much we are in need of this to finish. And I am willing to contribute to my available capacity. It would be nice if you put your time and efforts on planning the tasks for this release, and then community can take up the tasks and help you finish.

[2020-01-22 12:48] wickedest opened #218 "Global (api level) security ignored when resolving operation#securityDefinitions in OAS3"
### Expected outcome
Given an OAS 3.0 spec that defines [`securitySchemes`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#securitySchemeObject) component (e.g. api-key) and a global [`security`](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#securityRequirementObject) Requirement Object, the `operation.securityDefinitions` should be `{"api-k

[2020-01-23 03:16] whitlockjc commented on #218
OASv3 isn't supported yet, I apologize.  Please use #128 to keep track of that.

[2020-01-23 03:16] #218 closed

[2020-01-23 10:08] wickedest commented on #128
@whitlockjc - I agree with the above comments - If you can put together a roadmap, then the community can help.  E.g. I could fix #218 (not sure why you closed an _actual_ roadmap issue, tbh).

[2020-01-27 17:54] whitlockjc commented on #128
@wickedest It didn't seem like a roadmap issue because it's not a bug in the 2.x support or a new feature of 3.x, it's just a lack of 3.x that makes your unexpected behavior happen.  So to me, completing 3.x support is what is important to track.  I could be wrong.

As for everyone else, I'm down with this.  I have 3.x support working locally where structural validation works and almost all semant

[2020-01-27 20:04] philsturgeon commented on #128
It would help, yes please!

[2020-02-09 15:21] wickedest opened #219 "Consider dropping `getSample` in 3.0"
I was investigating why sway is 10.4 MB.  A good chunk of that size is related to `json-schema-faker` and its dependencies (4.2 MB).  Digging into the code, it only seems to be used by `getSample`.  Is this feature really necessary?  I mean, `getExample` can provide much better samples.

[2020-02-10 17:06] whitlockjc commented on #219
The current refactoring to support 3.x will not have `json-schema-faker`, it's too bulky and not as easy to slim down as we need.

[2020-03-12 15:46] jianyexi opened #221 "path templating parameter name include '-' would caused validateRequest failed"
I create a swagger  with path templating , and  one parameter name is  'key-name'
e.g.
[code]
[code]

Since I refer to  the swagger specification document , but I did not find any information about the parameter name could not include special character like '-'

[2020-03-12 16:34] whitlockjc commented on #221
I'll take a peek.  I'm not sure why it would fail.  Can you give more details on how you tested this?  _(The weird `schemaPath` value isn't from `sway` but `z-schema` and it shouldn't mislead you.)_  Can you give the full parameter definition and the requested path made?  Or maybe even a simple reproduction snippet of code?

[2020-03-12 16:48] jianyexi commented on #221
it

[2020-03-12 16:48] jianyexi commented on #221
it

[2020-03-12 17:02] jianyexi commented on #221
Since I have debug it, below code goes wrong , that cause the validate consider the parameter missed
https://github.com/apigee-127/sway/blob/e9ad6e81af41f526567e9d5a0f150e59e429e513/lib/types/path.js#L95

I think  it caused by the path-to-regexp ,
per https://github.com/pillarjs/path-to-regexp,  parameter names must use "word characters" ([A-Za-z0-9_]).

[2020-05-25 11:25] alasdairhurst commented on #128
@whitlockjc do you have any update when you will push your changes to master and we'll be able to start contributing to get the ball rolling on 3.x?

[2020-08-31 10:14] AviBueno commented on #32
Five years later... how should one define the following operations in swagger?:

[code]

[2020-08-31 16:06] whitlockjc commented on #32
It's quite simple:

[code]

The [Paths Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#paths-object) and [Path Item Object](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#pathItemObject) documentation should explain.

Also, next time...please start a new issue when asking for help, especially when the issue you commented on is unrelated to

[2021-06-14 15:28] rolfl opened #233 "Remove unused `faker` from the dependencies"
`faker` is not used in the code base.

[code]

This unused dependency simply adds bloat.

[2022-07-15 23:02] xDivisionByZerox commented on #233
Can any maintainer confirm this (just in case)? I would appreciate this getting attention due to `faker` not being maintained anymore, but still gaining a lot of traffic.

I'm willing to provide a PR to fix this.

[2022-07-15 23:33] whitlockjc commented on #233
I've not looked at the code in a while but we use `faker` indirectly via `json-schema-faker`: https://github.com/apigee-127/sway/blob/e9ad6e81af41f526567e9d5a0f150e59e429e513/lib/helpers.js#L28 to allow for `Parameter#getSample` to generate an example for a `Parameter`'s schema.  If `faker` is no longer maintained, either we need to find a replacement or we need to remove the ability to register c

[2022-07-15 23:53] xDivisionByZerox commented on #233
I'm a team member from the `faker-js/faker` library which is considered the official fork from the old `faker` package. So I can assure you, other team members are already working on migrating the faker package in  `json-schema-faker` ([see here](https://github.com/json-schema-faker/json-schema-faker/pull/692)).

So your lib really just needs to remove the `faker` package from your dependencies in