[2015-06-05 22:48] whitlockjc opened #3 "Add/Update API for getting an operation response example"
Right now, we will always generate a mock/sample value from the operation response's JSON Schema whenever you call `Operation#getResponseSample`.  It would be nice to either update that API or add a new API to get the example value when available.

[2015-07-11 15:34] whitlockjc opened #4 "Address browser binary build size"
The current browser builds of swagger-core-api are huge and we should investigate if we can fix this.  Here is a useful link: https://gist.github.com/whitlockjc/28b49ddc7558adbea77b  Also, I did some preliminary looking and it seems [json-schema-faker](https://github.com/pateketrueke/json-schema-faker) uses [faker.js](https://github.com/Marak/faker.js) and is including all of its locales, somethin

[2015-07-11 16:49] theganyo commented on #4
...unless people want it. I wonder if there's a way locales could be plug-n-play?

[2015-07-11 19:35] whitlockjc commented on #4
That's the plan.  I know you can require a single local but doing so using json-schema-faker might be interesting.  It will like require some browserify ignores as well.  Not crucial now, just a place holder.

[2015-07-17 16:40] TheToolbox opened #5 "npm module out of date"
Hey, sorry to bother, but it seems that the npm module is out of date with the library here. It would be quite helpful if we could have those brought together again. Thanks!

[2015-07-17 20:34] whitlockjc commented on #5
I don't understand what you mean.  Is there an error or something you're running into?

[2015-07-17 23:02] whitlockjc commented on #5
I've figured it out, I see I've neglected to update the `files` section of `package.json`...

[2015-07-17 23:03] TheToolbox commented on #5
Sorry I was actually just in the middle of typing a response. Thanks for all your work with Swagger/json schema/etc!

From: Jeremy Whitlock
Sent: ‎Friday‎, ‎July‎ ‎17‎, ‎2015 ‎7‎:‎02‎ ‎PM
To: apigee-127/swagger-core-api
Cc: Jason Oettinger

I've figured it out, I see I've neglected to update the files section of package.json...

—
Reply to this email directly or view it on GitHub.

[2015-07-17 23:10] whitlockjc commented on #5
It's fixed in master.

[2015-07-17 23:10] #5 closed

[2015-07-20 14:21] TheToolbox commented on #5
`npm install swagger-core-api --save` still results in the output `swagger-core-api@0.0.01 node_modules/swagger-core-api`, only downloading a skeleton index.js and no dependencies or anything else from this repo. Still seems like npm package isn't linked to the repo. Sorry!

[2015-07-20 16:07] whitlockjc commented on #5
Yeah, I haven't produced an NPM build yet.  Until the next NPM release, you can use `npm install https://github.com/apigee-127/swagger-core-api.git --save` and it will work.

[2015-07-27 23:12] whitlockjc opened #6 "Lock down types and attributes"
Until we have a way to allow the user to alter object attributes at runtime, we should make it explicitly clear that these created objects are read-only by using `Object.freeze`.

[2015-07-27 23:19] mohsen1 commented on #6
or `Object.seal` or `Object.freeze` the whole thing?

[2015-07-27 23:29] whitlockjc commented on #6
Yeah...I mistakenly created the issue while doing too many things at once.  I want to freeze the object as "freezing" the properties with `Object.defineProperty` only somewhat helps.

[2015-07-27 23:38] whitlockjc commented on #6
@mohsen1 @theganyo Do you think this is worth the effort?  I like the idea of immutable objects, especially since changing the internal state directly could cause issues.  But am I really saving anyone from anything?  I mean, to cause a problem you'd have to knowingly do this to yourself.

[2015-07-27 23:43] theganyo commented on #6
I'd only do it if you're exposing part or all of the swagger document itself to your clients. (I believe that's the only state that you might be exposing that you rely on, right?)

[2015-07-28 00:35] mohsen1 commented on #6
Note that `Object.freeze` does not do it recursively so if you want to freeze all methods and stuff in sub-objects you need to go around the whole object recursively yourself and freeze them

[2015-07-30 20:39] whitlockjc opened #7 "Add API for ParameterValue validation"
Add a getter to `ParameterValue` to do validation.

[2015-08-03 15:11] #4 closed

[2015-08-03 17:20] whitlockjc opened #8 "Write tests for format generators/validators"
Right now the format generators/validators are just there to make z-schema/json-schema-faker happy but they are untested.  We should remedy this.

[2015-08-04 22:35] #7 closed

[2015-08-04 23:21] #3 closed

[2015-08-05 15:11] diogeneshamilton opened #9 "Function to get operations by tag"
getOperation is great, but would love a way to grab all operations by tag. I don't have tons of JS experience, but may try to make the PR myself. Would love this functionality though.

[2015-08-05 15:17] whitlockjc commented on #9
Let me know if I can help.  If I don't hear from you, or you decide you don't want to do it, I'll gladly do the work.  Prior to your commit, make sure you run `gulp` as that will lint check your code, run Node.js/browser tests, generate browser builds and generate API documentation.  If you want to run those individually:

* `gulp lint`
* `gulp test-node`
* `gulp test-browser`

Docs generation and

[2015-08-05 15:30] diogeneshamilton commented on #9
Thanks! I will try it out.

[2015-08-05 20:53] #8 closed

[2015-08-05 20:59] whitlockjc commented on #9
Any idea on an ETA?  *(No rush.  I ask only because this is the last issue before I do a release so I'm trying to figure out what kind of timing I'm working with.)*

[2015-08-05 21:10] diogeneshamilton commented on #9
No worries- I'm working on it tonight, we shall see how far I get, but hoping to have a PR ready in the next day or so.

[2015-08-06 03:30] diogeneshamilton commented on #9
Submitted https://github.com/apigee-127/swagger-core-api/pull/10 let me know if that makes sense!

[2015-08-06 04:16] whitlockjc commented on #9
Thanks a lot for your help, excellent PR.

[2015-08-06 04:16] #9 closed

[2015-08-06 04:17] whitlockjc commented on #6
At this time, I think we should avoid this.  No one is asking for it and I'm not seeing anyone else do this for simple libraries like ours.

[2015-08-06 04:17] #6 closed

[2015-08-12 15:12] whitlockjc opened #11 "Encapsulate all options passed through to other libraries"
Right now we take options and use them to drive other libraries, like [json-refs](https://github.com/whitlockjc/json-refs).  We should encapsulate them to save API consumers.

[2015-08-12 15:16] whitlockjc opened #12 "Document validator responses"
The validation API has drifted since it was originally written and needs to be updated.  We need to document the return type for the validator callback and what the structure of the error/warning object.

[2015-08-12 15:18] whitlockjc opened #13 "Add lifecycle support"
Imagine you need to do some preprocessing to your Swagger document prior to being processed into a `SwaggerApi` model.  You cannot do that right now and we should provide facilities for this.

[2015-08-12 15:24] whitlockjc commented on #11
It looks like I'm already doing this.  `options.loaderOptions` is used as the object to encapsulate the options passed to [json-refs](https://github.com/whitlockjc/json-refs), which itself is just passing those options to [path-loader](https://github.com/whitlockjc/path-loader).

[2015-08-12 15:24] #11 closed

[2015-08-12 16:15] #12 closed

[2015-08-12 16:41] whitlockjc commented on #13
After talking with some colleagues on this, we'll punt on this since we don't get anything out of this just yet.  We will reopen if necessary.

[2015-08-12 16:41] #13 closed

[2015-08-14 16:34] IvanGoncharov opened #14 "CLI for validation"
I want to switch from `swagger-tools` to `sway`.
What's blocking me is absence of CLI tool which I can you inside build scripts.
Is it planned feature?

[2015-08-14 16:44] whitlockjc commented on #14
I don't think sway will have a CLI but we will be porting `swagger-node` to use sway soon.  Then you can run `swagger validate PATH_OR_URL` like you can with swagger-tools right now.  Will that work for you?

[2015-08-14 16:48] mohsen1 commented on #14
https://github.com/swagger-api/swagger-node/issues/259
https://github.com/swagger-api/swagger-node/issues/258

[2015-08-14 17:11] IvanGoncharov commented on #14
@whitlockjc Yes, definitely.
Do you have rough estimate when `swagger-node` will migrate on `sway`?

[2015-08-14 17:23] mohsen1 commented on #14
@IvanGoncharov Please follow https://github.com/swagger-api/swagger-node/issues/275. I believe sway is on par with swagger-tools for those commands we only need to use it in swagger-node. Is that true @whitlockjc?

@IvanGoncharov You're welcome to work on that.

[2015-08-14 17:44] whitlockjc commented on #14
That's correct.  Validation in sway is better than in swagger-tools so hooking up `swagger validate` to use it should be great.

[2015-08-14 17:44] whitlockjc commented on #14
Closing this in favor of the work in swagger-node.

[2015-08-14 17:44] #14 closed

[2015-08-24 21:29] whitlockjc opened #15 "Human readable errors for JSON Schema oneOf handling"
There are a number of places in the Swagger JSON Schema file where `oneOf` is used *(parameters for example)* and when the JSON Schema validator produces its error, it is some cryptic error like this: `Data does not match any schemas from 'oneOf'`.  This was also reported in https://github.com/apigee-127/swagger-tools/issues/200  What we need to do is special-case these situations to produce a bet

[2015-08-25 23:02] mohsen1 opened #16 "operation with 'null' value throws"
[code]

[code]

[2015-08-26 17:19] #16 closed

[2015-08-26 17:22] whitlockjc commented on #16
Basically, we were wrapping a `Promise` within a `Promise` and the error thrown was not able to be caught.  We now will catch/reject all errors like this and reject it so you can handle it properly.  As discussed offline, we did not add extra checks in the sources to handle `null` and `undefined` being values for iterable objects (definitions, operations, paths, ...) because that would just allow

[2015-08-26 17:59] mohsen1 commented on #16
:+1:

[2015-08-26 21:44] whitlockjc opened #17 "Relative references to YAML files is broken"
There are three parts to this:

1. When refactoring `options.loaderOptions` to `options.jsonRefs`, we forgot to change all references
2. Sway does not set `options.jsonRefs.location` based on the location used in `options.definition`
3. Sway does not work with references to YAML files

I neglected these tests because json-refs was so heavily tested but this has come back to bite me in the tail.

[2015-08-26 22:04] #17 closed

[2015-08-28 23:25] mohsen1 opened #18 "How to get raw swagger spec?"
Because of all prototype and circular refs it's impossible to get the raw Swagger JSON with no additions. ..or I don't know how to get it?

[2015-08-28 23:44] mohsen1 commented on #18
`SwaggerApi#definition` was what I was looking for.

[2015-08-28 23:44] #18 closed

[2015-08-28 23:45] whitlockjc commented on #18
https://github.com/apigee-127/sway/blob/master/docs/API.md#swaggerapi

[2015-08-31 18:35] mohsen1 opened #19 "Path level $ref is not resolved"
From https://github.com/swagger-api/swagger-editor/issues/611

A simpler YAML to reproduce:

[code]

Inside `root.json`:

[code]

After calling `SwaggerApi#create` the `api.definition` value is:

[code]

[2015-08-31 19:29] whitlockjc commented on #19
The ref being in there as-is is because it cannot be resolved.  If you look at the `api.references` information, you'll see that `#/paths/~1` could not be resolved.  This is working as designed unless you can tell me that sway is not resolving something it shouldn't.

[2015-08-31 19:48] mohsen1 commented on #19
Yes you need to spin up a server to serve the json file. It's not resolving even when the url is reachable

[2015-08-31 19:58] whitlockjc commented on #19
The default example on http://editor.swagger.io shows this is working, and it appears to be using sway.  It references `http://petstore.swagger.io/v2/swagger.json#/paths/~1pet` on line 41.

[2015-08-31 20:07] whitlockjc commented on #19
I'll look into it.  I also found: https://github.com/whitlockjc/json-refs/issues/30 while working on this.

[2015-08-31 20:09] whitlockjc commented on #19
Here is the test I'm using going forward:

[code]

[2015-08-31 20:11] whitlockjc commented on #19
I see this all over the editor.swagger.io console:

`Uncaught (in promise) TypeError: Cannot read property 'petstore_auth' of undefined`

Not sure if that's important or not.

[2015-08-31 20:16] mohsen1 commented on #19
In development version that error is not being thrown and instead shown to user. It's not finding the petstore security definitions in root swagger. Which makes sense.

I'm still able to reproduce the original error. I just checked, the XHR to `root.json` is being made and it's successful

[2015-08-31 20:23] whitlockjc commented on #19
That error was the cause of the problem.  This is an error in sway where we assume `api.resolved.securityDefinitions` is defined and when it's not, we get an error.  When I fix that, remote references work as you'd expect.  I'll fix this and get a release.

I'm not seeing a case where remote references do not work but once we fix this runtime issue, it should be easy to find since all unresolvable

[2015-08-31 20:25] whitlockjc commented on #19
I'm not saying that this issue is fixed.  I'm saying that when I fix sway not to bomb with the error above, remote references appear to work.

[2015-08-31 20:30] whitlockjc commented on #19
sway@v0.2.2 is out.  Try this and you should get the proper errors instead of a runtime failure.  Come back to me with the unresolvable error information.  *(Disregard the missing references within the remote document as that is handled in json-refs/issues/30)*

[2015-08-31 20:51] mohsen1 commented on #19
For resolution I'm using this proxy project so I can use web workers. It's a bit more work to update sway but I'll do it today

https://github.com/mohsen1/sway-worker

[2015-08-31 20:56] whitlockjc commented on #19
json-refs/issue/30 has been fixed and sway@master is updated to use it.  Once we know if this issue is still valid and if so, what the real problem is, we can fix it and get a new release out.

[2015-08-31 21:03] whitlockjc commented on #19
json-refs/issues/30 has been re-opened but should be unrelated to this.

[2015-08-31 23:08] whitlockjc commented on #19
Fixed.  json-refs now has tests using the exact same document in the example above and it is working properly.  I will update sway, again, and you'll need to let me know how this impacts things.

[2015-08-31 23:15] whitlockjc commented on #19
sway@v0.2.3 has been released with a patched json-refs to better handle references to remote documents with local references.  *(json-refs has tests for remote references with and without fragments)*

[2015-08-31 23:29] whitlockjc commented on #19
With the last build of sway, I am no longer able to reproduce any of the issues encountered today.

[2015-09-01 17:54] mohsen1 commented on #19
Ok, I'll update you when I had a chance to try the new release.

[2015-09-03 22:47] whitlockjc opened #20 "Do not throw error for unknown formats"
We need to update [z-schema](https://github.com/zaggino/z-schema) to `3.13.0` so that we can avoid treating unknown formats as validation errors.

Originally reported at https://github.com/swagger-api/swagger-editor/issues/612

[2015-09-08 21:45] mohsen1 opened #21 "Incorrect path for MISSING_PATH_PARAMETER_DECLARATION error"
spec:
[code]

Error:
[code]

[2015-09-08 21:45] mohsen1 commented on #21
path is basically `['0']` if error pasted above is not clear

[2015-09-08 21:52] whitlockjc commented on #21
I cannot reproduce this.  I wrote a unit test with the JSON version of your YAML and the unit test ran fine, showing the path to be proper.  Here is the diff:

[code]

[2015-09-08 21:53] whitlockjc commented on #21
Here is the test as-is:

[code]

[2015-09-08 21:59] mohsen1 commented on #21
I didn't try with the latest. It's reproducible with version I'm using but if it's working fine in latest feel free to close this. I'll check back in when I updated sway.

[2015-09-08 22:05] whitlockjc opened #22 "Update json-refs for web worker support"
https://github.com/whitlockjc/json-refs/issues/32

[2015-09-08 22:05] #21 closed

[2015-09-08 23:37] mohsen1 opened #23 "Do not throw "The 'file' scheme is not supported in the browser""
during autocomplete in Swagger Editor user might type invalid values for `$ref`. Instead of throwing an error, return an error in the callback.

[2015-09-10 21:19] whitlockjc commented on #23
Same as #22.

[2015-09-10 21:19] #23 closed

[2015-09-18 22:09] #22 closed

[2015-09-18 22:36] #20 closed

[2015-09-18 23:33] mohsen1 opened #24 "Update json-refs to fix issue with trailing slash in options.jsonRefs"
part of swagger:

[code]

jsonRefs.location value:

[code]

Request is made to:

[code]

[2015-09-22 21:56] mohsen1 opened #25 "GET operations should not have in body or formaData parameters"
A GET operation should not have body or formData parameter. Throw a validation error if there was one.

/cc @webron

[2015-09-22 21:59] whitlockjc commented on #25
This is more of a swagger-schema thing if you ask me.  But if @webron disagrees, or cannot put it into the spec, we can add this to our [semantic validations](https://github.com/apigee-127/sway/blob/master/docs/versions/2.0.md#semantic-validation).

[2015-09-23 10:12] webron commented on #25
The Swagger spec doesn't forbid it and so the schema won't forbid it as well. Not getting into the debate of whether this is supported in general, should be used or not (technically, it's not forbidden, but avoid it for semantic and technical reasons). As far as I'm concerned, this is an API design issue and not a Swagger validation one.

[2015-09-23 15:21] whitlockjc commented on #25
I think we'll add it as a warning since it's really just a *"Hey,  you might not had intended this to be here but it's harmless as-is."*

[2015-09-23 16:38] mohsen1 commented on #25
If it's allowed by spec, throwing a warning is the right thing to do IMO also.

[2015-09-23 16:40] webron commented on #25
Throwing a warning is definitely an option, but it's up to you do decide what roles you put on sway. Is it its job to hint users about API design? Would it be expanded later to other additional use cases (and there are plenty)?

[2015-09-23 16:43] theganyo commented on #25
I like the idea of a separate API design linter plugin.

[2015-09-23 21:28] whitlockjc commented on #25
Good points but we're already doing that for unused objects (definitions, security definitions, etc.) and that has been received very well.  If the purpose of validation is to tell you of errors and to warn you of things you did that make no sense or are ignored, I think it makes sense to do it.

At some point, we should make these things configurable I guess.  Warnings specifically.

[2015-09-23 21:36] webron commented on #25
The use cases are not equivalent to me. What you just described is specifically related to Swagger - unused objects. That implies that you created something that's incomplete with regard to your Swagger definition.

The original issue is related to API design which is a different scope. It has nothing to do specifically with Swagger.

Both are valid for warning generations, but to me those are dif

[2015-09-23 21:42] whitlockjc commented on #25
Well, unused means you supplied superfluous object definitions which is very similar to this because this case you are supplying superfluous parameter definitions.  Both types are harmless.

As I typed this out, I did have one use case that might make this worth bringing up: request validation.  If you define required parameters as described above, you could trigger request validation failures as

[2015-09-23 21:45] mohsen1 commented on #25
FYI RFC 2616 §9.3 does not prohibit body in GET request. Based on my little research Windows Communication Foundation (WCF) framework is the only framework that throws an error if you define a GET request that expects request body.

I don't know what is the scope of this, but I think it's fair to throw a warning for such bad API design.

[2015-09-23 21:48] whitlockjc commented on #25
[Roy Fielding seems to have an opinion](https://groups.yahoo.com/neo/groups/rest-discuss/conversations/messages/9962) on this and since Swagger is for RESTful APIs, I guess we need to take what he says to heart:

    Yes. In other words, any HTTP request message is allowed to contain
    a message body, and thus must parse messages with that in mind.
    Server semantics for GET, however, are rest

[2015-09-23 21:52] whitlockjc commented on #25
Taking the above into account, I think @theganyo is right and this shouldn't live in sway.  If you really want it, you can register your own validator to do this.  I'm not completely against adding it but the more I read, the less I think we should have an opinion on the matter.

[2015-09-23 21:59] webron commented on #25
This is all a matter of API design entirely unrelated to Swagger. Swagger in general does not impose API design except for - a. limitations we unintentionally imposed and b. some rare cases that we really don't want to support (and this is more due to trying to reduce complexity than say we don't like a specific design paradigm).

Payloads for get operations is not something Swagger cares about, a

[2015-09-23 22:01] mohsen1 commented on #25
When I opened this issue I was under the impression that GET requests can not have body payloads per standard. TIL that's not true, therefore I'm closing this.

We better not get into giving API design advise I think :grinning:

[2015-09-23 22:01] #25 closed

[2015-09-23 22:02] whitlockjc commented on #25
Agreed.  Awesome conversation guys, really helpful and productive.

[2015-09-23 22:04] webron commented on #25
Thanks for bringing it up though, @mohsen1. I think it helps us all understand the boundaries we can and like to control. Keep up with the ideas, you're keeping us fresh :)

[2015-09-23 22:05] whitlockjc commented on #25
It's also a great idea for a sway-based linter for doing design linting above/beyond what sway itself does.  Seems very useful.

[2015-09-23 22:19] albinotonnina commented on #21
same error

[2015-09-23 22:21] mohsen1 commented on #21
Works as expected in latest version. @albinotonnina Try using the latest version. Online editor is using the latest version, try above YAML in it:

http://editor.swagger.io/#/

[2015-09-28 17:05] whitlockjc commented on #15
The handling of this can be done really simply, changing the error message from `Data does not match any schemas from 'oneOf'` to `Not a valid {definition type} definition`.  This approach would still require you to look into the `inner` property of the error to construct *why* the definition is not valid but at this point, you would have a human readable error and enough information to provide mo

[2015-09-28 19:12] whitlockjc commented on #24
This is actually a path-loader issue so I've reported it there and I will release when it is fixed there.

[2015-09-28 19:14] #15 closed

[2015-09-28 19:21] mohsen1 commented on #15
What is possible is looking at current object error being thrown from and guess what is going wrong. A good example is when a path parameter does not have in: required. It can be done in "semantic validation" phase.

[2015-09-28 19:29] whitlockjc commented on #15
First pass is done.  I took the path describe above.  It works but it's not very specific other than telling you that you've tried to define some object and your definition is invalid.

Anytime you have a `oneOf` failure, you have N different schemas that all have their own reason(s) for not matching.  Missing properties, wrong type, enums, etc.  To have some way to just collapse all of those poss

[2015-09-28 19:53] whitlockjc commented on #24
This is due to the hash in the location.  I'm updating json-refs to handle this but I will also update sway to not set `options.jsonRefs.location` improperly.

[2015-09-28 20:04] whitlockjc commented on #24
It seems like you're setting `options.jsonRefs.location` yourself so you'll need to update https://github.com/swagger-api/swagger-editor/blob/c80708bf0ed249e9d3d30ee87880b87967efa3c1/app/scripts/services/builder.js#L53 so that you do not include the hash.  I'll update sway for the version of json-refs that handles things either way but it would be best to not have the hash in `options.jsonRefs.loc

[2015-09-28 20:07] #24 closed

[2015-09-28 20:45] whitlockjc opened #27 "Support allowEmptyValue for parameter values"
When `allowEmptyValue` is set to `true`, an empty value is a valid value and should not cause any parameter validation failures.

Originally reported here: https://github.com/apigee-127/swagger-tools/issues/282

[2015-09-28 20:46] whitlockjc opened #28 "Support polymorphic validation"
Originally reported here: https://github.com/apigee-127/swagger-tools/issues/241

[2015-09-28 21:21] #27 closed

[2015-10-02 20:43] IvanGoncharov opened #29 "Can't handle default and id fields inside JSON Schema"
It simpler to provide code sample:
[code]
and it crash: `TypeError: undefined is not a function`
I already fix this issue and will make PR

[2015-10-02 20:52] whitlockjc commented on #29
I was worried this could happen, same thing happened to swagger-js when they merged in properties from the schema into the JavaScript object.  I look forward to your PR.

[2015-10-02 21:47] IvanGoncharov commented on #29
@whitlockjc I created #30 it not full fix. Because it remove particular scenario of how schema with invalid `id` field could appear. But it doesn't fix z-schema crash.

[2015-10-05 09:39] IvanGoncharov commented on #29
@whitlockjc This PR zaggino/z-schema/pull/141 fixed z-schema crash.
And #30 fixes incorrect validation of `properties`.

[2015-10-07 14:40] whitlockjc commented on #29
I've merged #30 but there are two questions:

1. You said #30 didn't fix everything, can you elaborate?
2. Do I need to update z-schema?

[2015-10-07 15:55] IvanGoncharov commented on #29
In nutshell, sway tried to  check value of `properties` as JSON Schema. One of the checks for check of default so if `default` was present it passed value of `properties` into z-schema as valid schema.
So sway passed something like this:
[code]
Which is valid value for `properties` but invalid JSON Schema.
There is two problems:
  - sway passing `properties` as JSON Schema, fixed in #30
  - z-sche

[2015-10-07 15:58] IvanGoncharov commented on #29
In theory, all `id` objects should be rejected on during syntax validation.
But it always better to update dependencies.

[2015-10-07 16:04] whitlockjc commented on #29
Gotcha.  As soon as I update z-schema, I'll close this as I think we've covered everything.  Thanks for your help on this.

[2015-10-07 17:34] IvanGoncharov commented on #29
@whitlockjc, I working on another PR and I believe that I will finish today, so you can wait with npm release.

[2015-10-07 17:40] whitlockjc commented on #29
Will do.

[2015-10-07 18:25] IvanGoncharov opened #32 "Spec with duplicated paths but different methods should be valid"
Following is valid Swagger:
[code]
But currently it throws an error:
[code]

P.S. I have PR, but I submit issues just to mark it properly in tests.

[2015-10-07 18:39] mohsen1 commented on #32
They are not two different paths :)

[2015-10-07 19:09] whitlockjc commented on #32
As @mohsen1 said, they are not different paths.  There is no way to tell whether `/foo` and `/bar` should go to `/{arg1}` or `/{arg2}`.  At best you could do some type-based decision but in reality, the path is the same regardless.  I'll keep it open for discussion but I don't think we'll be supporting this.

[2015-10-07 19:38] IvanGoncharov commented on #32
Spec with duplicated paths but **different** methods should be valid
Yes, paths exactly the same but one have `get` method and another have `head` method.
So no conflict during call.

[2015-10-07 19:41] IvanGoncharov commented on #32
By the way `swagger-tools` have same issue.

[2015-10-07 19:43] whitlockjc commented on #32
Of course it does, they treat `equivalent paths` the same.  I'm saying that since they are equivalently the same, although not identical from a definition perspective, it doesn't matter.  Sure, we could possibly support it but I don't know why you'd want to.  Why not just collapse the different methods into one path?

[2015-10-07 20:10] IvanGoncharov commented on #32
@whitlockjc  Because you use different path arguments, with different names, types, descriptions. I have examples of such file from web scraping that I do. So people really use this feature and it valid according to Swagger spec.

[2015-10-07 20:16] whitlockjc commented on #32
@webron Can you tell me how Swagger should handle paths that are lexically unique but functionally equivalent?  Take for example `/pet/{petId}` and `/pet/{id}`...to me and any other path-based router/matcher out there, they are equivalent.  But I'd love your opinion.

[2015-10-07 20:59] webron commented on #32
That's an invalid definition. The two paths are indeed identical as far as Swagger is concerned.

[2015-10-07 21:08] IvanGoncharov commented on #32
@whitlockjc Yes, they are equivalent but set of methods is different, so router can function properly.
So you should think of pairs `["/pet/{petId}", "GET"]` and `["/pet/{id}", "HEAD"], and there are no conflicts.
@webron I couldn't find anything in spec that forbid this behaviour. It also used in APIs and even in swagger specs.

[2015-10-07 21:12] webron commented on #32
@IvanGoncharov - sure, we can definitely clarify that in the spec, but it is definitely not supported.

[2015-10-07 22:09] IvanGoncharov commented on #29
@whitlockjc #32 Was change that I wanted to make.
So I will appreciate if you publish NPM package.

[2015-10-14 21:35] whitlockjc commented on #29
`sway@v0.3.2` has been released with these changes.

[2015-10-14 21:35] #29 closed

[2015-10-14 21:38] IvanGoncharov commented on #29
@whitlockjc Thanks

[2015-10-14 21:48] IvanGoncharov commented on #32
I opened documentation issue in swagger-spec repo.

[2015-10-14 21:48] #32 closed

[2015-10-14 21:49] whitlockjc commented on #32
Thanks.

[2015-10-20 16:00] theganyo opened #34 "Unrequired Parameter value fails validation when missing"
[code]

[2015-10-20 22:11] theganyo opened #35 "Error passing request to Parameter.getValue"
See below. The _.isPlainObject check in types.js fails on a standard request object.

[code]

[2015-10-21 19:33] IvanGoncharov opened #36 "Incorrectly report errors about invalid refs"
[code]
This code produce following output:
[code]

[2015-10-21 19:38] IvanGoncharov commented on #36
This is consequences of whitlockjc/json-refs/issues/37

[2015-10-22 05:48] whitlockjc commented on #36
json-refs has been released but it's late so I will not get sway released until tomorrow.  I will include a few other sway bugs in the release as well.

[2015-10-22 16:11] #36 closed

[2015-10-23 02:14] #34 closed

[2015-10-23 16:04] theganyo opened #37 "type: file doesn't work"
Added a parameter:
[code]

Provided the example_file data in req.files['example_file']. Got this error from Sway when processing:

`[TypeError: Invalid 'type' value: file]`

Tried adding "type" to the validTypes array in types.js. Then get this error from Sway:

[code]

[2015-10-23 20:34] #37 closed

[2015-10-27 21:23] whitlockjc opened #38 "Sway wrongly marks circular inheritance"
If you have a model `A` that has a property that references itself, when model `B` inherits from `A` it validates with an error like `Schema object inherits from itself: #/definitions/A` wrongly.

[2015-10-28 00:17] whitlockjc commented on #38
I am unable to reproduce this.  The reported YAML document *(offline)* had syntax issues.

[2015-10-28 20:47] #38 closed

[2015-10-29 21:15] whitlockjc opened #39 "Support qs style parameter names"
[swagger-tools/issues/294](https://github.com/apigee-127/swagger-tools/issues/294) pointed out that qs style object processing is not working as expected.  While sway does not get involved in the backend parsing of query parameters, we should at least be aware that qs could be involved and support it.

[2015-11-04 17:20] mohsen1 opened #40 "Throw a different error for empty path parameter declarations"
Take this path as an example: `/{}`

Currently error thrown is: "Path parameter is declared but is not defined:"

[2015-11-05 17:36] mikefre opened #41 "Schema validation for strings without date format"
Hi,
On line 98 in parameter-value.js, there is a condition about which cases  we do not want to do schema validation.
The last condition is
//   * The schema is for a string type with date/date-time format and the value is a date

&&
                  (schema.type !== 'string' && !_.isDate(value)))

So when I have a parameter like
      parameters:
        - in: formData
          name: someField

[2015-11-05 17:49] whitlockjc commented on #41
We should be doing validation for string parameters unless the value is a date.  I think the conditional is wrong.

[2015-11-06 09:57] mikefre commented on #41
So something like this?
&&
!(schema.type === 'string' && _.isDate(value) && schema.format === 'date-time')

[2015-11-06 17:07] whitlockjc commented on #41
I'm not sure yet.  I'll get to it shortly.

[2015-11-09 23:20] whitlockjc opened #42 "Schema validation for Buffer values"
sway will currently treat the `body` parameter for `Operation#validateResponse` as an `object` and fails validation.

[2015-11-11 22:40] #40 closed

[2015-11-11 22:40] #41 closed

[2015-11-11 22:40] #42 closed

[2015-11-17 22:05] whitlockjc opened #43 "Only resolve file/remote references"
When we load a Swagger document, we will fully dereference all references in the document.  For simple files, this is fine.  For files with a lot of nested objects and such, this can be a performance bottle neck.  It would be nice if Sway only resolved the remote references and then could resolve relative references on an as needed basis, preferably with some sort of cache to avoid having to repro

[2015-11-17 22:33] whitlockjc commented on #43
This may be moot.  I'll give it a shot but to fully validate the document and to build the full object models for validation and such, I don't see how we can avoid dereferencing the full document.

[2015-11-25 17:18] whitlockjc opened #44 "Create a Response object for Response-related APIs"
Now that we have response validation, we have a few response-specific APIs.

[2015-11-25 17:33] whitlockjc opened #45 "Add semantic validation for missing type parameter"
While Swagger allows you to have a schema without a `type` parameter, this is typically a mistake.  We should create a warning for this.

[2015-11-25 18:06] whitlockjc opened #46 "Properly handle JSON String values for object type"
When doing type conversion for strings when the expected type is `object` we have a bug where the provided value will fail.  Here is an example:

[code]

The reason this matters is raw string values will likely fail to convert due to a runtime issue, as shown above, instead of a type checking failure later when doing type checks.

[2015-11-25 18:26] #46 closed

[2015-11-25 20:26] IvanGoncharov commented on #45
If you apply couple of rules you can make this warnings very useful.
One such rule is to ignore cases where `allOf` present.
Another one it too show it only if properties tied to one particular type is used:
 - Objects: `properties`, `additionalProperties`, ...
 - Number: `multiplyOf`, `minimum`, ..
 - etc.

So for example if it `{  "properties": {} }` should produce warning.
But for something lik

[2015-11-25 21:35] whitlockjc commented on #45
z-schema doing this would be great.  I'll bring it up but I do know there are a number of options outside of Swagger where a type-less schema makes sense.  But for Swagger, it rarely was on purpose and you can have unexpected results.  For example:

[code]

It's clear you intended `Person` to be an object but the only was a JSON Schema validator will fail validation is if you provide an `Object` b

[2015-11-25 21:42] IvanGoncharov commented on #45
I think, it matter of lowering number of false positives.
Rules that I wrote is good starting point.
Making it as optional warnings also helps a lot.
I think it's already enough to be useful outside of Swagger.

[2015-11-25 21:50] whitlockjc commented on #45
I think that omitting `type` in Swagger is **always** a bad thing but due to how Swagger works, I can see why people might use it.  *(An example of needing to work around Swagger using this is when you have a response that can produce different values.)*  Creating warnings in the Swagger case makes sense because we are telling you that you're doing something not necessarily supported or that it co

[2015-12-07 14:20] runebjerregaard opened #47 "Path parameters are marked as declared but not defined"
I was debugging a validation problem with my swagger specification, and while doing so, I tried to validate the PetStore example in http://editor.swagger.io/.

That gave me a similar error to the one I was trying to solve:

Path parameter is declared but is not defined: petId

Could there be a problem with validators.js? (I did not investigate yet)

[2015-12-07 16:14] whitlockjc commented on #47
When I open both PetStore examples, they render without any errors.  Did you alter the document to produce the error?

[2015-12-08 08:30] runebjerregaard commented on #47
Hmm. I'm pretty sure I didn't. But the version I can download now from http://petstore.swagger.io/v2/swagger.json has the parameters all declared and defined.

Sorry to have bothered you. You can close the issue.

[2015-12-08 08:32] whitlockjc commented on #47
Feel free to reopen it if you see the issue again.

[2015-12-08 08:32] #47 closed

[2015-12-12 22:06] krivin opened #48 "Properly handle JSON String values for object type"
When doing type conversion for strings when the expected type is `object` and the string contains a JSON encoded object, it is not converted to object.

This breaks response validation in swagger-restify, which sets up connect middleware, which passes the body of the response to the validator as a string: https://github.com/theganyo/swagger-node-runner/blob/master/lib/connect_middleware.js#L162. I

[2015-12-12 22:12] whitlockjc commented on #48
Ironically, the reason this feature was removed was because of swagger-node-runner.  What version of swagger-node-runner are you running?  If it's not the latest, do you mind upgrading and trying with sway as-is?  Let me know what you find out.

[2015-12-12 22:16] krivin commented on #48
It is the latest. Just spent the day fixing npm update issues :-)

─┬ swagger-restify-mw@0.6.0
  └─┬ swagger-node-runner@0.6.13
    ├─┬ sway@0.6.0

[2015-12-12 22:18] whitlockjc commented on #48
Okay.  I don't see why we can't just add this back and resurrect its tests but I'd love to let @theganyo chime in first.

[2015-12-12 22:19] whitlockjc commented on #48
Also, if you don't mind could you create an issue in swagger-node-runner for this as well, for posterity?

[2015-12-14 18:37] theganyo commented on #48
I don't recall any specific reason from prior discussions why this feature was removed. The only discussions I'm remembering were around not parsing when the type was indeterminate. But maybe I'm forgetting something?

[2015-12-14 18:38] whitlockjc commented on #48
Could be.  Maybe too much was removed.  I'll add it back so that when we know the type is object and the value is a string, we try to parse it.  We should do the same for arrays.

[2015-12-24 16:43] whitlockjc opened #49 "Fix API documentation"
We need to use the `@module` and `@alias` jsdoc tags to generate better API documentation.

[2015-12-27 23:32] whitlockjc opened #50 "Rewrite tests to use Karma server"
To make it where you don't have to use Gulp to run tests, we should serve the necessary files from Karma's server instead of the HTTP server we spin up in the Gulp file.

[2015-12-27 23:49] whitlockjc opened #51 "Remove callback support"
Wrapping callbacks in Promises is confusing and since we've removed callback-support for the other libraries related to sway *(json-refs and path-loader)*, we should do the same here.

[2015-12-28 00:03] whitlockjc opened #52 "Look into consistency for Operation#validateRequest and Operation#validateResponse"
`Operation#validateRequest` takes a single `object` argument and documents what properties within the structure are used for validation.  `Operation#validateResponse` does not follow this approach, for good reason.  *(There is no consistent way to describe a response across different Node.js environments while most, if not all, provide raw access to the `http.IncomingMessage`.)*  It would be nice

[2015-12-28 00:26] #44 closed

[2015-12-29 17:15] whitlockjc commented on #45
The more I think about it, I don't think it's fair for me to enforce this.  While I stand by my opinion above, there are circumstances where you must omit the `type` to work around Swagger.  While I don't agree with the need for this, it's not my place.  Since we have configurable validators, these can easily be added.  Another option where sway could be involved is some configurable error/warning

[2015-12-29 17:15] #45 closed

[2015-12-29 17:48] #48 closed

[2015-12-29 18:05] #51 closed

[2015-12-29 18:54] matthewspivey commented on #28
Is this blocked by the ambiguities in the spec (https://github.com/swagger-api/swagger-spec/issues/403)?

[2015-12-29 19:29] whitlockjc commented on #28
Yes and no.  I think in the linked swagger-tools issue I got a good enough feel for how to do this but it's just not been a high priority.  I do plan on it being done by `v1.0.0` which is my current effort.

[2016-01-06 23:22] whitlockjc commented on #43
I don't think this is worth doing right now.  With `json-refs@2.0.x`, things should already be much faster and with the extra work required to make this happen, I'm not even sure there would be any benefit.  We can revisit this if anyone else has any performance related issues.

[2016-01-06 23:22] #43 closed

[2016-01-06 23:37] whitlockjc commented on #43
For posterity, let me explain a few things.  This originally came up when dealing with a very poorly written Swagger document.  There was a big performance hit when validating the document.  I thought I could just resolve relative/remote references and rely on z-schema's ability to do sub-document validation and while it works, it wasn't super straight forward due to Swagger's non-body parameter o

[2016-01-07 17:32] #49 closed

[2016-01-07 18:30] #50 closed

[2016-01-07 19:43] #52 closed

[2016-01-08 16:51] whitlockjc opened #54 "Add APIs to get the Swagger document"
I realize that `api.definition` and `api.resolved` provide the root document and the fully resolve document but it would be nice to have APIs for these *(for simplicity)* and to also have an way to get a Swagger document that isn't fully resolved but instead has all of its remote references resolved.  We almost got this when working on #43 but I canned #43 due to it adding a lot of complexity for

[2016-01-08 16:53] whitlockjc opened #55 "Remove plugin architecture"
The plugin architecture was a way to have pluggable Swagger support.  I think the simplest way to do this would be to instead of having plugins, have a way to pre-process Swagger documents prior to processing the object model from them.  This should make the internal code much simpler to read and should make it so that supporting other versions of Swagger could be done simpler as well.

[2016-01-08 17:10] whitlockjc opened #56 "Add new APIs for getting parameters by location and/or name"
We need a few new APIs:

* `Operation#getParameter(location, name)`
* `Operation#getParametersByLocation(location)`
* `Operation#getParametersByName(name)`

The last two might not be required but I could see someone wanting them.

[2016-01-08 17:26] #39 closed

[2016-01-08 23:18] #56 closed

[2016-01-11 17:20] #55 closed

[2016-01-11 22:44] whitlockjc commented on #54
This is unnecessary now that `SwaggerApi` now expose properties for the Swagger documents:

* `definition`: The Swagger document provided or retrieved without resolving any references
* `definitionRemotesResolved`: The Swagger document above but with its remote references *(relative and remote)* references resolved
* `definitionFullyResolved`: The Swagger document above but with all of its referen

[2016-01-11 22:44] #54 closed

[2016-01-12 23:21] whitlockjc opened #57 "Validate readOnly"
We need to validate the `readOnly` field: https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#fixed-fields-13

[2016-01-15 20:58] saharj opened #58 "Support Descriminator"
Apparently `descriminator` is something that has been added to json schema in swagger.

Please support it in sway as well.

For context please go to:
https://github.com/swagger-api/swagger-editor/issues/765

[2016-01-15 21:02] whitlockjc commented on #58
Thisbisba duplicate of #28.

[2016-01-15 21:02] #58 closed

[2016-01-22 21:02] saharj opened #59 "sway browser standalone is not making SwaggerApi in window"
This file is not making the global object SwaggerApi in window anymore: https://raw.githubusercontent.com/apigee-127/sway/master/browser/sway-standalone-min.js

[2016-01-22 21:15] whitlockjc commented on #59
Work on `1.0.0` started a few weeks ago in `master` so any binaries downloaded from there now use `Sway` as the global object, not `SwaggerApi`.  See the release notes: https://github.com/apigee-127/sway/blob/master/RELEASE_NOTES.md#v100-tbd

[2016-01-22 21:15] #59 closed

[2016-02-04 06:41] syagev commented on #21
@mohsen1 I'm getting the same error.
Opened the editor and pasted above YAML - gives the following error:
[code]

This is on chrome on windows.

[2016-02-05 14:51] snrbrnjna opened #60 "request validation fails for optional parameters"
`operation.validateRequest(req)` falsely fails for multiple reasons:
- when there's nothing said, wether a parameter is required and the param is missing, the validation fails with:
    +  `Cannot read property \'readUInt8\' of undefined` for strings
    + `Expected type boolean but found type undefined` for booleans
  the spec says it defaults to false.
    + ...
- when no mime type is defined vi

[2016-02-05 15:29] whitlockjc commented on #60
I doubt it fails falsely as any runtime error, like the first, would be thrown.  As for the second, I'm not sure what you're saying there but it seems like an optional boolean is not defaulting to `false` like you'd expect.  The third...I don't know what that one is.  When there is no consumes, the request shouldn't fail.

[2016-02-05 15:29] whitlockjc commented on #60
As for swagger-tools not validating enums properly, I think your schema is wrong as I mentioned there.

[2016-02-05 17:40] whitlockjc commented on #60
I can reproduce these issues but here is my feedback:

* This is an issue and will be fixed
* Nothing in the specification says that an optional boolean defaults to `false`.  If you want to set a default value, use the `default` property.  But, I do think it's wrong to validate optional arguments without a value so I will fix this as well.
* I have no idea what you're talking about regarding consu

[2016-02-05 17:50] whitlockjc commented on #60
The first two issues you see are related to an issue with how we identify optional parameters.  Fixing one fixes both.  Commit incoming.

[2016-02-05 17:53] whitlockjc commented on #60
I cannot reproduce the last issue.  I tried with empty consumes at both the global and operation level, and with no consumes at all at the global and operation level.

[2016-02-05 17:55] #60 closed

[2016-02-05 17:56] whitlockjc commented on #60
Without more information, I cannot reproduce or fix the third issue you brought up.  As for the other two, they are fixed and will be released in `1.0.0`.

[2016-02-05 21:13] IvanGoncharov opened #61 "Retain `params` field inside `z-schema` errors."
I use to sway validation errors to automatically fix some simple errors inside specs.
https://github.com/APIs-guru/api-models/blob/master/scripts/collection.js#L712

So problem with this approach is that `sway` [remove](https://github.com/apigee-127/sway/blob/d0a4b7b0ad71d61edf262888de4a374ae2055f3f/lib/helpers.js#L96) `params` object from z-schema errors and this force me to use RegExp to get the

[2016-02-06 18:57] saharj opened #62 "Sway should throw a better defined error when there is an invalid `$ref`"
Code Sample:

[code]

Please see https://github.com/swagger-api/swagger-editor/issues/756

[2016-02-06 20:12] whitlockjc commented on #62
The problem right now is that swagger-tools and sway allow you to have `$ref` anywhere because we dereference references prior to doing validation.  One the one hand, this is very nice.  On the other, it does allow you to have non-valid Swagger documents prior to dereferencing regardless of whether they are valid after dereferencing.  I will update the validation of references to make sure they ar

[2016-02-08 13:11] snrbrnjna commented on #60
thanks for your prompt answer - and sorry, i cannot reproduce the last issue neither.

[2016-02-13 18:55] #61 closed

[2016-02-23 19:46] mailingmuthu opened #63 "z-schema validator options like breakOnFirstError not working"
**Bug: **
We are using npm sway 0.6.0 for swagger validation by the following method. This package is using z-schema to validate schema. While validation is breaking on first error (by default breakOnFirstError is set as true in z-schema). So we should be able to pass z-schema options like "breakOnFirstError: false" or any other way  to display all errors after validation.

I tried this way, But n

[2016-02-24 00:40] IvanGoncharov commented on #28
@whitlockjc Do you have any progress on this?
This issue blocks me, so I can help by submitting PR for it.
I will start to work on it tomorrow, do you have any suggestion or concerns?

[2016-02-24 00:43] whitlockjc commented on #28
I'm up for any help I can get, I've punted on this long enough.  I've thought about this a few times but I have to tell you that this likely won't be easy.  I've thought about it a few times but not recently.  Let me give this some thought and I'll get back to you.

[2016-02-24 00:49] IvanGoncharov commented on #28
I experience `UNUSED_DEFINITION` warnings, so I will try to fix it.
My idea is to find all schemes under `definitions` which has `discriminator` in them.
And then remove from unused list all  schemes which have `allOf` with discriminator's schemes.
@whitlockjc Do you see any potential problems with such approach?

[2016-02-24 00:51] whitlockjc commented on #28
Wait...so you don't want to implement discriminator validation, you just want to stop indirectly used references *(discriminator)* from being marked as `UNUSED_DEFINITION`?  That is welcome too but that is not what it would take to do this work.  :)  Do feel free to reference this issue in your PR and commit message but don't use `Fixes` because it will not fix this issue completely.  Make sense?

[2016-02-24 00:54] whitlockjc commented on #28
As I think about this, I realize that the easiest way to do this might be to leverage JSON Schema, like we do for non-body parameters.

[2016-02-24 01:39] IvanGoncharov commented on #28
@whitlockjc Do you mean converting `discriminator` into `oneOf`?

[2016-02-24 01:43] IvanGoncharov commented on #28
You closed #58 as duplicate of this and it referenced swagger-api/swagger-editor#765 which is exactly what I want to fix.

[2016-02-24 16:42] whitlockjc commented on #28
Ah, maybe I assumed on #58.  _"Support Discriminator"_ is a duplicate of this, as this issue is about general support for discriminator.  I'm just saying that there are multiple parts to this:

* Handling definitions that are indirectly referenced via discriminators *(Your current case)*
* Handling discriminators during the request/response validation

Did that clear things up?  As for _how_ we'll

[2016-03-03 16:54] timkuijsten opened #65 "new getParameter/getValue syntax"
While trying to add custom validators for a swagger-express project I ran into this project.

I was wondering if the new api for something like:

    req.swagger.params.query.value

really is:

    req.swagger.operation.getParameter('page').getValue(req).value

This is quite more verbose and I can imagine you guys change this API before making sway public. Especially the seemingly redundant passin

[2016-03-03 17:51] whitlockjc commented on #65
The purpose of passing `req` to the API is so we can pull the value from the request object.  So it's not redundant.  I'm not sure how you'd expect `Parameter#getValue` to do anything if it didn't have access to the `req` object.

As for the verbosity, you're comparing two different things.  The first thing you show is a swagger-tools/swagger-node feature that sticks processed parameter values int

[2016-03-03 17:51] #65 closed

[2016-03-04 01:26] xun91 opened #66 "Optional File in formData"
Was trying to allow optional profile_picture when creating user account. Using swagger-node-runner which has sway lib dependency. The attached is the error I've got when omitting the profile_picture field.
Could you please assist? Thank you :)

![screen shot 2016-03-04 at 9 28 07 am](https://cloud.githubusercontent.com/assets/1982412/13515341/75756ea6-e1eb-11e5-9691-65d5ba6fbc7d.png)

Here is the

[2016-03-04 04:46] xun91 commented on #66
Sorry. I think the problem is in swagger node runner.

[2016-03-04 04:46] #66 closed

[2016-03-04 16:24] whitlockjc commented on #66
If you find it's here, don't hesitate to reach out.

[2016-03-05 20:38] zanona opened #67 "Allow case-insensitive Content-Type"
Hi,
I am not sure if this is the expected behaviour but at the moment validation against request presenting headers with `Content-Type` instead of `content-type` fail with the error:

[code]

even thought `Content-Type` was set to `application/json`
I am wondering if wouldn't it be a good idea to analyse Content-Type by ignoring case?
When using NodeJS' `HTTPClientRequest` Content-Type is lower-ca

[2016-03-07 17:05] whitlockjc commented on #67
Yeah, we should probably not care about it.  Most Node.js frameworks I've used always lowercase them and I think even in the tests that's what I do but I can easily make this work.

[2016-03-13 19:43] zanona opened #68 "Ultra-light version for validation purposes only"
Hey there,
I am currently using sway to validate server requests against swagger definitions which is really great.
However, I have noticed that at the moment sway is quite slow due to the fact it is currently using dependencies such as `json-shcema-faker` having a massive amount of information embedded into the library, while that is great for generating data, it might not be as efficient for tho

[2016-03-14 16:21] whitlockjc commented on #68
Sway's size shouldn't be an issue on the node.js side of things.  We've had concerns with Sway's performance before and most of it was because Sway fully resolves a Swagger document so if you have a lot of nested references and circular references and such, you can have a gargantuan document pretty easily.  The easiest way to test this:

[code]

This will tell you how many lines the fully resolved

[2016-03-14 17:13] zanona commented on #68
Thanks @whitlockjc,
I am not sure if this is the expected loading time, perhaps I might being too picky on this. please let me know if that is normal:

__test.js__ (without sway)
[code]
__output__
[code]
__test.js__ (with sway)
[code]
__output__
[code]
Meaning that by just adding the library, without loading any definition, there is a delay of 482ms?

[2016-03-14 17:21] whitlockjc commented on #68
Any way you can tell me the output of the following:

* `cat YOUR_DOCUMENT | wc -l` - The size of your Swagger document
* `json-refs resolve -f relative -f remote YOUR_DOCUMENT | wc -l` - The size of your Swagger document with all external documents resolved
* `json-refs resolve YOUR_DOCUMENT | wc -l` - The size of your fully resolved Swagger document

To run this, `npm install -g json-refs`.  Als

[2016-03-14 17:28] zanona commented on #68
Actually what I have mentioned on my last response is what is taking more time in my opinion, not the time for parsing the definition itself, but instead the time it takes just for requiring sway which is approx. half second? So if you imagine on the server where I am validating incoming requests against the definition, half second is spent only requiring sway? the parsing/validation process is ac

[2016-03-14 17:30] whitlockjc commented on #68
Oh, gotcha.  I didn't notice that.  So just a `require('sway')` takes half a second?  Holy crap.  I guess that would be due to the size.  I can think of two large libraries that could be the cause: `js-yaml` and `json-schema-faker`.  I will look into it further.

[2016-03-14 17:34] zanona commented on #68
Yes! :D Thanks Jeremy. That was my point about `json-schema-faker`, `js`-yaml seems pretty good and performant actually. but the schema faker has a lot of additional data fake data as you can expect :) hopefully there's a way to only require those when necessary or create a separate more performant version of sway perhaps?

Thanks again

[2016-03-14 17:44] whitlockjc commented on #68
I'll figure it out.  `json-schema-faker` has caused a number of contention issue for me, like the bloat added to my browser builds.  But rebuilding a mock library is something I didn't want to do.  Maybe it's time to do that...

[2016-03-15 11:24] zanona commented on #68
Thanks Jeremy, I might be able to help since this is something I will be
implementing on my current project. Could you please let me know which
methods the API rely on json-schema-faker? In fact I wasn't really sure
what was the dependency reason for validating definitions since it wouldn't
need to mock data? perhaps its being used to create new operations instead?
thanks again
On Mon, 14 Mar 2016

[2016-03-15 15:39] whitlockjc commented on #68
Well, Sway isn't just a validation API.  I could break the validation out, and I might end up doing that for https://github.com/whitlockjc/swagger-lint, but `json-schema-faker` is for mocking data.  There are a number of places where we do this:

* `Parameter#getSample`: https://github.com/apigee-127/sway/blob/master/lib/types/parameter.js#L93
* `Response#getSample`: https://github.com/apigee-127/

[2016-03-15 16:52] IvanGoncharov commented on #68
@whitlockjc I also use only Swagger validation functionality in [api-spec-converter](https://github.com/lucybot/api-spec-converter) and this lib is used in a browser.
So I pay a price for functionality that I will never use.

I would suggest creating separate lib just for validation of Swagger(without external `$ref`s).
This will keep lib small, synchronous and will give you control over how you r

[2016-03-15 17:04] whitlockjc commented on #68
That's likely what we'll do.  Right now I have started a project called [swagger-lint](https://github.com/whitlockjc/swagger-lint) and pending a rename, we could move the validation parts of sway into it and use that as the lib for simple validation.

I apologize for the longer release cycles but I'm not working much on Swagger tooling at work these days.  If anyone has time to help, I'd greatly a

[2016-03-15 17:43] IvanGoncharov commented on #68
I imagine that `swagger-lint` needs to handle external references so it will include `json-refs` and also with  YAML specs `js-yaml`.
Right?

In my case, I can't convert spec without resolve external references so the output is always self-contained.
I think many other tools already have everything to work with swagger(parsing, resolving, ...) and they just need validation.

If we can extract mini

[2016-03-15 17:51] whitlockjc commented on #68
So we want another library that is just validation, no loading/reference dereferencing/..., and then sway would use that?  In all honesty, the size of `json-refs` and `js-yaml` is minimal, especially to the problem originally brought up relating to `json-schema-faker` so yet another library seems painful but if it's required, I'm fine with it.

Before we create any new repository, please let me ch

[2016-03-15 18:20] IvanGoncharov commented on #68
You right `json-refs` is small but it required async API.
People use different approaches for resolving refs, for example `swagger-parser` use it's own but it also implement validation: https://github.com/BigstickCarpet/swagger-parser/blob/master/lib/validate-spec.js
And it has checks not supported in `sway`, so people who use [my API collection](https://github.com/APIs-guru/api-models) report val

[2016-03-15 18:30] whitlockjc commented on #68
`json-refs` uses an async API for async operations, there's no way around that.  Muddying the API to solve the perceived need to do things sync doesn't make sense to me because every API that does resolution would require some `*Sync` equivalent and that's just ugly.  As for `swagger-parser` having validations sway doesn't, I'd be interested in hearing about them but just know, the validations Swa

[2016-03-15 19:07] IvanGoncharov commented on #68
I can't agree more but only if work with files which can contain external refs. But if you know for sure that you don't have any external refs at all, an async interface is unnecessary complicates code.

See `validate` function in this example: https://github.com/lucybot/api-spec-converter#advanced-features
`api-spec-converter` always resolve all external refs, without it you can't convert between

[2016-03-15 19:11] whitlockjc commented on #68
The missing validations:

1. Sway should be doing that but maybe I didn't port that over from swagger-tools
2. swagger-tools use to do that as well but it wasn't ported over as I figured z-schema would handle it but if it's not, then it's likely due to Swagger not really using full JSON Schema and we should fix this

[2016-03-15 19:12] whitlockjc commented on #68
If you know they're missing, file bugs and we'll get it sorted for sure.

[2016-03-15 19:32] IvanGoncharov commented on #68
I believe that current approach is too complicated you need to traverse JSON Schemas with your own code. It's very error-prone and also duplicate things which `z-schema` already do.
So I'm working on https://github.com/zaggino/z-schema/issues/114
As a nice side effect, it will improve performance because Swagger file will be traversed only one time by `z-schema`.
For example, you want to validate

[2016-03-25 20:33] IvanGoncharov commented on #68
Hi @whitlockjc
Do you have any updates?

[2016-03-25 20:55] whitlockjc commented on #68
No, I'll look at it this weekend.  Day job has kept me pretty busy the past few weeks.

[2016-03-26 13:21] IvanGoncharov commented on #68
@whitlockjc I can help.
Ping me when you create a repo for it.
It would be superb if you setup Gitter for this new repo, so we could discuss things over there.

[2016-03-27 18:35] seriousme commented on #68
I have been playing around with swagger-js and I thought that the 1.5 MB uncrompressed was large, but loading 1.51 Mb compressed  in a (mobile) browser to be able to call a swagger service is way to much.

Having a swiss army knife with 50 tricks is nice, but when you need to peel potato's its not really convenient.  If sway is to be the official JS library then something more modular would be muc

[2016-03-29 16:25] whitlockjc commented on #68
I will be working on this starting today.  Once I have the repository setup, I will alert you all and I'll make sure Gitter is enabled so we can collaborate.  Thanks for your patience.

[2016-03-29 21:03] IvanGoncharov commented on #68
@whitlockjc Thank you for the update.
Yes, it would be great.

[2016-03-31 16:47] IvanGoncharov commented on #68
@whitlockjc Any progress on this one?

[2016-03-31 17:04] whitlockjc commented on #68
I started the work yesterday.

[2016-04-04 13:44] rsinger opened #71 "New release?"
There hasn't been a release since November of last year.  Fixes for two bugs that affect us (https://github.com/apigee-127/sway/issues/60 and https://github.com/apigee-127/sway/issues/39) have been merged, but not released, so we're having to hack solutions around it in the meantime.

I can't imagine we're alone with that, what's the ETA for a new release?

[2016-04-04 17:29] whitlockjc commented on #71
I think we were working on a PR from @IvanGoncharov related to #28 but I don't see why we have to.  There are a few simple bug fixes and one PR to take care of.  I'll plan on a `v1.0.0` release today unless someone else suggests otherwise.

[2016-04-04 17:47] whitlockjc commented on #68
Here is the repo: https://github.com/whitlockjc/oas-validator  I've not put anything into it yet but just know I'm working on it.  I plan on releasing Sway today, `v1.0.0`, and after that I will migrate sway to the oas-validator.  Feel free to watch that project as well as this issue for updates.

[2016-04-04 20:57] #63 closed

[2016-04-04 21:57] #67 closed

[2016-04-04 21:58] whitlockjc commented on #67
There was more to it than the suggested fix above.  Long story short, header names are case insensitive and there were a number of places where we had to support this properly.  But it's fixed and will be included in the upcoming `v1.0.0` release.

[2016-04-04 22:06] zanona commented on #67
thanks a lot Jeremy.

[2016-04-04 22:12] whitlockjc commented on #71
`sway@v1.0.0` has been released.

[2016-04-04 22:12] #71 closed

[2016-04-04 22:46] whitlockjc commented on #68
`sway@v1.0.0` has been released.  I will be working on breaking the validation support out into its own library linked to above.

[2016-04-05 12:25] rsinger commented on #71
:clap:!

[2016-04-14 14:20] PHPTrude commented on #21
thats cause you dosent define the parameter in path like
/{parameter_name}/

[2016-04-14 16:06] whitlockjc commented on #21
This error arises when you have a path like `/some/path/{pathArg}` but do not define a parameter like so:

[code]

Without a reproduction recipe to show that sway isn't doing the right thing, I can only guess that maybe it's right and your misunderstanding is wrong because sway has tests showing it handles this appropriately.  Thanks @PHPTrude for helping out.

[2016-04-23 18:32] glen-84 opened #72 "JSON References aren't properly URL-decoded"
---

Swagger Editor erroneously shows "Reference could not be resolved" errors for JSON references that contain URL-encoded characters. For example, "#/definitions/foo%20bar" instead of "#/definitions/foo bar". According to RFC 6901, sections 5 & 6, JSON pointers should be URL-encoded.

Here's a simplistic example: https://gist.github.com/BigstickCarpet/5ad1a760acbb598d38c5dbba223eb9bd

And here's

[2016-04-24 19:36] whitlockjc commented on #72
I am unable to reproduce the `Reference could not be resolved` issue but I can reproduce the similar issue where a properly resolve reference is identified as unused.  json-refs properly resolves all references in the examples provided by @BigstickCarpet.  So json-refs is not the issue, unless `JsonRefs#pathToPtr` representation is wrong which we'll discuss later.  _(Now that json-refs has a CLI,

[2016-04-24 20:26] BigstickCarpet commented on #72
I originally posted this issue for Swagger Editor, not Sway ([original issue here](https://github.com/swagger-api/swagger-editor/issues/871)).  As mentioned there, I think `json-refs` has the [correct logic for decoding URL-encoded JSON Pointers](https://github.com/whitlockjc/json-refs/blob/master/index.js#L712-L737), so that's not the problem.  It's likely that Swagger Edit is just using an older

[2016-04-24 20:57] whitlockjc commented on #72
I understand but since swagger-editor is getting json-refs from sway, and sway handles things just fine _(other than the erroneous `Definition is not used: #/definitions/foo bar` warning)_, I'm not sure how json-refs itself is the culprit unless we agree that json-refs' JSON Pointer output is wrong.

To further explain what I mean, if I take either of your documents and use the following code, nei

[2016-04-24 20:58] whitlockjc commented on #72
Copying @saharj.

[2016-04-24 21:04] whitlockjc commented on #72
Just to be complete, here is an example of json-refs handling these references properly:

[code]

Had json-refs failed to resolve any reference, it would had croaked and you would had seen an error like this:

[code]

[2016-04-28 00:58] ghost opened #74 "expose sway zschema.registerFormat used in helpers.js"
I would like to add custom formats to the request and response validators.  To do this right now requires something like:

[code]

It would be much nicer to have have access to the modules zschema so it was a matter of:

[code]

Since the require('z-schema') exists within helper.js the above interface might not live directly within the SwaggerApi instance but somewhere accessible would be nice.

[2016-04-28 15:39] whitlockjc commented on #74
I agree that this would be useful.

[2016-04-28 19:46] entropyfarms opened #75 "How to get "processed" parameter values for in:body"
I have a complex swagger schema for a JSON in:body POST request.  I can get the body value like:

[code]

where op is the specific api.getOperations() element.  How can I get the processed values of the body though?  For instance I have a body like:

[code]

with "time" specified as a type:"string" and format:"date-time" in the api specification.  I see that op.validateRequest recursively validate

[2016-04-28 19:54] whitlockjc commented on #75
What's your schema look like?  If your `type` for the parameter is not available, as in you've got a schema that does not set the `type`, you can end up in this situation.  But I can't be sure without seeing your parameter schema.

[2016-04-28 20:26] entropyfarms commented on #75
You are correct, I do not have a "type" listed.  I was more wondering if adding something like:

[code]

would correctly process the structure recursively.  Do you forsee side-effects for other types?  Except for the obvious one if value is null (though solved by swapping the order of the _.isUndefiend checks for type and value).

[2016-04-28 20:26] entropyfarms commented on #75
I tried this and it causes all kinds of issues with validation since it uses the processed value and not the raw value.  Though changing to

[code]

in parameter-value::valid does appear to solve that.

[2016-04-28 20:32] whitlockjc commented on #75
It should recursively convert values as long as the schema provides the `type`.  We do not make any assumptions for `type` when it is missing because JSON Schema does not require it.

[2016-04-28 20:45] entropyfarms commented on #75
noted.  I have type on subproperties and that that is what I want process.  e.g. type:string, format:date-time within the JSON document.

Thank you for the help.

[2016-04-28 20:53] whitlockjc commented on #75
Let me know if I can help further or if you find anything not working like you expected/wanted.

[2016-04-28 20:53] #75 closed

[2016-05-01 08:02] syagev commented on #21
True true.. definitely not a bug but an error in the original YAML posted by the OP.
Thanks.

[2016-05-04 11:23] Santinell opened #76 "api.getPath works wrong"
It returns only first one, which truthy for regexp.
paths:
- GET /host/{id}
  (id - string)
- POST /host/AWS
- POST /host/DO
- GET /host/labels

api.getPath for url "/host/xxx" always returns the first path, and can't find other operations.

[2016-05-04 15:44] whitlockjc commented on #76
Well, this is likely because your `GET` is functionally equivalent to the other items _(As in `/host/{id}` would also match the other three paths)_ but I do see how static paths alongside patterned paths might not work right.  I personally wouldn't use ambiguous URIs like you have but since it's possible and allowable by OpenAPI/Swagger, I will update things to work.

[2016-05-06 01:11] ianand2 opened #77 "Issue with relative paths in refs"
Hi
    I am trying to use sway for validating our swagger schema files. I'm running into an issue with using relative references for files. I created a repo to illustrate the issue, https://github.com/ianand2/sway-multi-file-error.

The issue seems to be coming from here: https://github.com/apigee-127/sway/blob/master/index.js#L191 after resolving the remotes, it is resolving the local references,

[2016-05-06 14:14] whitlockjc commented on #77
Seems like a legit issue.  I'm not sure how this was missed but I will get it sorted.

[2016-05-06 17:40] Khelldar opened #78 "No API for customizing schema validation."
The hardcoded options passed to ZSchema are a good set of reasonable defaults, however it would be nice to have an API for adding additional options, such as [assumeAdditional](https://github.com/zaggino/z-schema#assumeadditional) to prevent your API from accepting properties not defined in the specification.

For reference, below is the block of code in helpers.js where the options are currently

[2016-05-06 17:44] whitlockjc commented on #78
Seems reasonable.  I'll get on it.

[2016-05-10 06:43] Santinell commented on #78
How about method registerJSONValidator?
I like ajv and it will be cool if i could use it instead of z-schema.
But looks like there is one more method which used specific of validator - validateAgainstSchema...

[2016-05-10 07:04] Santinell commented on #78
Or maybe better make it as option of Sway.create

[code]

[2016-05-10 16:12] whitlockjc commented on #78
I will probably allow you to provide an `options.validator` which will allow you to pass options to z-schema.  It follows the same convention we currently follow for `options.jsonRefs`, which are the options we pass to json-refs.

[2016-05-10 17:50] Santinell commented on #78
So you disagree to allow user use another validators?
I have done some changes for using alternatives, and I can show you them.

[2016-05-10 19:22] whitlockjc commented on #78
I'm not completely against it but I do describe a specific error/warning structure that would need to be adhered to, along with not breaking existing code in the validators that might use/reference errors.  All validators work differently and so while I'm skeptical, if there is a way to just plug them in without breaking things and without a goofy contract to use it, I'm not against it.

[2016-05-11 04:34] phil-mitchell opened #79 "api.getPath fails for path parameter in parentheses"
With a path definition like "/Users({id})" api.getPath() fails to find a match.

This notations is defined by the OData spec, so it's not unreasonable to have.

Changing the path definition to "/Users\\({id}\\)" works, but then the generated documentation looks bad, and the double-escape sequence causes the YAML to look extra ugly as well.

I think it is necessary to escape certain characters (suc

[2016-05-11 05:10] Santinell commented on #78
We can say: every validator must have this methods: getLastErrors, validate (it's like interface).
And validate must return object which contains "errors" and "warnings".

It's no problem to wrap any validator this way.
I agree it's hard make same errors, but i have found only one place in sway (exept tests, which depends on error's format) - validators.js/validateStructure

[2016-05-11 05:38] Santinell commented on #78
My main desire is to use "v5 Propose" in schemas, because they very tasty

[2016-05-11 13:54] whitlockjc commented on #78
Well, the objects in the `errors` and `warnings` response needs to be a specific structure too because how would any library using Sway have any consistency?  I couldn't write a general purpose library around Sway if it's responses were structured different.

[2016-05-11 13:57] whitlockjc commented on #79
I'll give it a peek.  I assume this is when using `api.getPath(req)` where `req` is a request object?

[2016-05-11 13:58] whitlockjc commented on #78
Also, as for your wanting to use JSON Schema v5, how do you expect that to work if OpenAPI/Swagger doesn't support it?

[2016-05-11 16:16] philbert82 commented on #79
That's right.  I'm using this indirectly through swagger-node-runner.  It calls api.getPath(req) and fails to find a match.

[2016-05-11 21:18] whitlockjc commented on #79
Interesting.  I do know swagger-node-runner is using an old version of sway iirc and that *might* be the case.  Let me do some digging.

[2016-05-11 21:41] theganyo commented on #79
Just FYI, swagger-node-runner is still on Sway 0.6.0 because of breaking changes when Sway went to 1.0... and there's been no time to look into why yet.

[2016-05-11 21:43] whitlockjc commented on #79
I'll update the two of you when I find something.  I'll spend some time on Sway this evening.

[2016-05-12 03:38] whitlockjc commented on #79
I am able to reproduce this with the current release.  It seems like an issue with taking an OpenAPI/Swagger path and converting it to a regular expression.  Basically parentheses are special and while blindly escaping might work, I've opened an issue with the library we use for this to get their opinion.

[2016-05-12 04:55] Santinell commented on #78
How I see it:
userA wants to write a code and use Sway. If z-schema satisfy him, he will use Sway with default validator and use z-schema errors' format. (Like in your tests)

userB also wants to use Sway, but prefers to use another validator. So he will get errors in format of this validator(may be it's his goal).

So users can choose validator and format of errors.
For example in v5 one of propo

[2016-05-12 16:11] whitlockjc commented on #78
I'm all for pluggability where it makes sense, I've stated this.  But the reasoning you want this pluggability does not make sense to me and here's why.  OpenAPI does not allow free form JSON Schema constructs.  In fact, that's one of the biggest sources of contention right now when planning the next version of the OpenAPI Specification.  The OpenAPI Specification actually cherry-picks certain con

[2016-05-13 05:44] Santinell commented on #78
Anyway even without v5 features, why I can't use fastest validator insted of z-schema?

[2016-05-13 15:47] whitlockjc commented on #78
I told you I wasn't against it but you said something that was inaccurate and I wanted to clear that up in case that was the sole reason you were asking for the feature.  As for this fastest validator, what is it?

For me to support pluggable validators, I just need all the ways in which I use z-schema to work the same regardless of which validator you're wanting to use.

[2016-05-16 17:02] CallMeLaNN opened #81 "api.getPath does not handle basePath for swagger-node-runner and express sub-app"
I have this URL format: `domain.com/api/resource`
The baseUrl defined in swagger.yaml is `/api`
The express configured so that the /api is just a sub-app:

    app = express();
    apiApp = express();
    app.use('/api', apiApp);

The `SwaggerMiddleware` is then added into apiApp.

Both swagger definition and express already configured to use the `/api` basePath, but the swagger middleware bypass

[2016-05-16 17:16] whitlockjc commented on #81
swagger-node needs to be updated to call [api.getPath](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_Sway..SwaggerApi+getPath) appropriately so that the `url` property of the object passed to the API has the proper value.  Sway will never have code in it that is server framework aware and as people write integrations that use Sway, it is their responsibility to make a Sway API

[2016-05-16 17:16] #81 closed

[2016-05-17 06:39] saharj opened #82 "Maximum call stack size exceeded error"
Copying from https://github.com/swagger-api/swagger-editor/issues/917

I've made it into a GIST: https://gist.github.com/paul42/4a85567c9136eba058ecc5e571b2b4ef
So I think the issue is I have too many references - I've trimmed out a lot of the stuff and i still get the stack error, but if I remove a refernce, then it goes back to working -

to reproduce:
open editor.swagger.io
file->paste json
pas

[2016-05-18 08:08] glen-84 commented on #72
Any news regarding this issue?

[2016-05-27 18:53] mikefeher-waitr commented on #78
I second @Santinell [ajv](https://www.npmjs.com/package/ajv) would be my preferred JSON Schema validators. It is by far the fastest on the majority of [benchmarks](https://www.npmjs.com/package/ajv#performance), they maintains [future drafts](https://www.npmjs.com/package/ajv#data-reference) as well as [i18n](https://github.com/epoberezkin/ajv-i18n).

[2016-05-27 19:04] mikefeher-waitr commented on #78
I also have to say with OpenAPI/Swagger, It is possible to maintain custom codegen template and use ajv to validate your spec. Most of the time I'm in a REST services where each millisecond is valuable. Also using it as a [prop validator for ES6/7](https://github.com/NodeJunkie/node-json-schema-class) Classes

[2016-06-03 21:17] saharj opened #84 "Unknown error when invalid $ref is used"
_From @ePaul on May 31, 2016 17:1_

**My Swagger**

[code]

(Yes, I know that it is invalid, that's the point.)
- Swagger Editor version(from Help > About menu): 2.10.1 (currently on editor.swagger.io)
- My browser: Chromium 50.0.2661.102 Ubuntu 16.04 (64-bit)

**Issue**

If I have an invalid JSON pointer in one of my `$ref` attribute, the editor shows an non-helpful error message:

[code]

![swag

[2016-06-03 21:17] saharj commented on #84
_From @kgalli on May 31, 2016 17:13_

👍  This would be a very nice improvement.

[2016-06-03 21:29] whitlockjc commented on #84
Line numbers and column numbers won't happen as that would require generating an AST and getting that information.  The work to do this is very simple, as I've got a patch to do this locally, but it would add even more bulk to an already hefty library.  I'll revisit this when I replace json-schema-faker with something else.

As for the error you're seeing, I've created a json-refs issue to remedy

[2016-06-03 21:43] saharj commented on #84
The line number and column number are not the issue here. The issue is that Sway throws error instead of giving us the proper error message.

[2016-06-03 22:19] whitlockjc commented on #84
I realize that, which is why I said what I did.  You said _"It would be nice if that error message showed in which $ref the error occurred (as a line number, and/or as a path to the problematic place, as for other validation errors)"_ and so I just clearly explained that I can't do that right now.  I also said _"As for the error you're seeing, I've created a json-refs issue to remedy this."_  I'm

[2016-06-04 05:23] saharj commented on #84
I'm not sure if you realized it but I moved this issue from Swagger Editor using [Github Issue Mover](https://github-issue-mover.appspot.com).

Original poster is asking for line numbers etc but the real issue is that Sway was throwing an error instead of reporting an error which I believe you've found the root cause and opened an issue in JSON Refs.

[2016-06-04 08:13] ePaul commented on #84
I (as the original poster of https://github.com/swagger-api/swagger-editor/issues/955) was asking for line numbers because other kinds of errors shown in Swagger-Editor get line numbers (and other indications what is going wrong). Sorry, I was not aware that this was an issue caused by some underlying library which might not support this.

[2016-06-04 16:16] whitlockjc commented on #84
@ePaul There is no problem with your request for column/line numbers in the errors.  It's a valid request and one that wouldn't be very hard to implement.  As mentioned above, I've implemented it already locally but due to dependencies, it adds a bit of size to an already large library.  Most of that size is due to json-schema-faker and lodash.  The first dependency would require me to use another

[2016-06-04 16:43] whitlockjc commented on #84
@saharj My confusion is not with how the request was copied/ported from one repo to this one or with the original request itself or with my understanding of the request.  What I don't understand is why you felt the need to [re-explain what the issue is](https://github.com/apigee-127/sway/issues/84#issuecomment-223702109) **after** I have already clearly responded with an answer to the issue.  _(Yo

[2016-06-13 18:01] bosco-li opened #85 "RangeError: Maximum call stack size exceeded with large YAML file"
Hi there, we are getting a RangeError with this file -> https://dl.dropboxusercontent.com/u/14439503/huge.yaml

The stack seems to show the error is from this method -> https://github.com/apigee-127/sway/blob/master/index.js#L209-L211

We have a client waiting for this, really hope you can help with this, thank you so much!

[2016-06-13 19:31] whitlockjc commented on #85
I can reproduce this and I will look into this.

[2016-06-13 19:33] bosco-li commented on #85
@whitlockjc Thank you so much!

[2016-06-13 19:35] whitlockjc commented on #85
Initial digging I see that these are indeed circular:

[code]

I'm not sure why the circular handling isn't working but I will figure it out.

[2016-06-13 19:45] whitlockjc commented on #85
I have a fix but I'm trying to figure out why it works.  It should be working as-is so before I just commit this as _the_ fix, I need to check to see if it's really fixing the issue or working around it somehow.

[2016-06-13 20:41] whitlockjc commented on #85
I think this might be related to https://github.com/whitlockjc/json-refs/issues/82.

[2016-06-13 21:05] whitlockjc commented on #85
I think if json-refs was capable of finding **all** circulars, sway could just use the json-refs metadata.  Let me attempt to fix it there, I've got an idea.

[2016-06-14 01:54] whitlockjc commented on #85
I'm still working on this and will continue to until I get it fixed.  Once it's fixed, I'll release json-refs and sway with the fix.

[2016-06-14 15:14] bosco-li commented on #85
Thanks so much @whitlockjc!

[2016-06-14 17:59] whitlockjc commented on #85
I've got it fixed locally.  I will release a new version of json-refs and release a new version of sway with the new version of json-refs.

[2016-06-14 22:40] whitlockjc commented on #85
I've released a new version of json-refs.  I am now testing to see if this addresses your issue.  It seems to stop the `RangeError` but boy is it slow.  I'm trying to gather some metrics on it.

[2016-06-14 22:45] whitlockjc commented on #85
I think due to the large number of references you have, the approach in json-refs to fix https://github.com/whitlockjc/json-refs/issues/82 might not be performant enough.  I will likely need to spend more time with this.

[2016-06-15 15:43] bosco-li commented on #85
Thanks @whitlockjc for helping to push a new version :bow:.  How long does it take yours to finish?

I cleaned up the yaml a bit (sorry for missing the circular before), [here](https://dl.dropboxusercontent.com/u/14439503/cleaned.yaml) is the updated version.

Tried running Sway again seems to have stuck at [this line](https://dl.dropboxusercontent.com/u/14439503/cleaned.yaml).  I've let mine ran

[2016-06-15 15:54] whitlockjc commented on #85
Which line?  The link you have is to your YAML.  I'm tracing now to see what is up also.

[2016-06-15 16:00] whitlockjc commented on #85
I created https://github.com/whitlockjc/json-refs/issues/87 to keep track of this.  Fixing https://github.com/whitlockjc/json-refs/issues/82 was kind of a brute force thing and it works fine with all of the test Swagger documents but for yours, it just crawls.  I'm tracing as well.

[2016-06-15 16:12] whitlockjc commented on #85
I added a cache so we do not pre-process potential circulars.  It seems to fix things but it makes identifying one of the circulars fail.  I'll get this sorted and come back when it's done.  Feel free to share anything you've got.

[2016-06-15 17:22] whitlockjc commented on #85
I've got it fixed.  I'm making some changes to the way in which json-refs resolves references.  Right now, finding references is fast.  Processing references to identify circulars is now fast.  Resolving references is fast enough but is missing a case and I think it's the way references are resolved.  I'll get it fixed, and this should address https://github.com/whitlockjc/json-refs/issues/87.

[2016-06-15 23:34] whitlockjc commented on #85
With the new code, there are still two circular references that do not get replaced properly.  I'm tracking this down.

[2016-06-21 14:20] bosco-li commented on #85
@whitlockjc did you get a chance to fix the two circular references problem?  Thanks again for looking into it.

[2016-06-22 15:49] whitlockjc commented on #85
I've not fixed it yet but I've been working on it.  I'll let you know when it's done, sorry for the delay.

[2016-06-24 17:32] bosco-li commented on #85
@whitlockjc Thanks again for helping, feel free to share the area you think there is a problem is too, I can help take a look.  We've a client waiting for this to work with them.

Thanks again for the help!

[2016-06-24 17:34] whitlockjc commented on #85
I've been working on it in all of my free time.  I've got a good solution, just finishing it up.  I needed to start fresh to avoid over-engineering it.

[2016-06-28 14:00] ahultgren commented on #28
Any progress on this? (I'm also only interested in the unused definition warning)

[2016-06-30 15:03] whitlockjc commented on #28
I thought @IvanGoncharov had an incoming PR for that but maybe I was wrong.  I'm working on json-refs stuff now with hopes of releasing a new sway version within the next few days.  At that time, I'll revisit this if Ivan hasn't.

[2016-06-30 21:51] IvanGoncharov commented on #28
@whitlockjc We working on an alternative approach for Swagger validation.
IMHO primary limiting factor is the usage of `oneOf`/`anyOf` inside official schema this prevents generation of readable error messages.
Also, we want to build linter framework which allows for 3rd-party checks without the performance drop.

Currently, our implementation is in proof-of-concept stage and we still working on d

[2016-06-30 22:01] whitlockjc commented on #28
That sucks.  It would had been cool to make sway better instead of ending up with a competitor but such is life.  Let me know if I can help.

[2016-06-30 22:23] IvanGoncharov commented on #28
@whitlockjc It highly experimental so we don't know if this approach will work or not.
What trying to do is to make dialect of JSON Schema in which if  subschema fail it mean root schema also fail, so we need replace `oneOf`, `anyOf`, `not` and finally `type` with array as value. This allow us to produce flat error messages and also implement normal auto-completion.
But more importantly, it will a

[2016-06-30 22:27] whitlockjc commented on #28
That would be great.  You've been a great help with the Swagger tooling I've written and I'd rather us work together.  So if I can help, let me know.  Also, if there is anything in Sway that could be done better/different to make it more useful, please don't hesitate.

[2016-07-06 02:38] sherpya opened #86 "very slow app startup"
I'm currently using swagger-restify-mw 0.1.0 that does not use sway, while updating to 0.6.0,
I've noticed the "new world" is to use sway 0.6.0 (1.0.0 it's not yet compatible), but app startup is very slow:

without sway:
[code]

with sway:
[code]

It also fails from swaggerUI with this error:
[code]

in

[code]

there is something changed that I should be aware of?

[2016-07-06 02:44] sherpya commented on #86
I've "cheated", looks like 1.0.0 does not have slow startup problem, but req.query still persist

[2016-07-06 03:05] sherpya commented on #86
I've moved express compat before validator, but I don't have anymore `req.swagger.params` in my user code

[2016-07-06 06:47] sherpya opened #87 "circular references"
I have something like:

[code]

swagger tools silently drops validations from A, but the def is still usable,
sway says nothing when parsing the schema but then I get `UNRESOLVABLE_REFERENCE` when I try to use it.
It would be better not to drop circular references and handle them using a max depth, a common usage is depth 1, or at least ignore validation of `b` property of `A` instead of making `A

[2016-07-06 15:59] whitlockjc commented on #86
You might have to get `swagger-node-runner` to fix the restify support because it basically drives the Sway API.  As for slow startup, there is a known issue with Sway caused by `json-schema-faker` but if you're not seeing it, maybe they fixed this upstream.  But it was never more than 1s of startup time.

[2016-07-06 15:59] #86 closed

[2016-07-06 16:03] whitlockjc commented on #82
I'm marking this as a duplicate of #85 since it's got a sample YAML file that reproduces the issue and does so with an impact on performance.

[2016-07-06 16:03] #82 closed

[2016-07-06 16:04] whitlockjc commented on #87
This is a duplicate of #85 and will be addressed there.  As for how it works, swagger-tools and sway should work the same in how things are handled.  I think fixing #85 will end up with what you want.

[2016-07-06 16:04] #87 closed

[2016-07-06 16:38] sherpya commented on #86
I've managed to fix compatibly problems with `swagger-node-runner` but it's out of this project, the slow startup is fixed when switch from sway 0.6.0 to 1.0.0

[2016-07-06 16:39] whitlockjc commented on #86
Good to hear.  Let me know if I can make Sway better.

[2016-07-11 19:23] bosco-li commented on #85
Hi @whitlockjc, sorry I note that you are only doing this at your free time, I just wanted to see how is the progress and if anything I can help?

Thanks so much!

[2016-07-12 06:32] rhbecker opened #88 "no validation error when `allowEmptyValue` is set to `false` and param is left empty"
In response to issue #27, _some_ support for the `allowEmptyValue` param constraint was introduced, but seemingly only in support of the `true` scenario. Am I misunderstanding the spec or the sway codebase if I suggest that a validation error should be produced when the value is set to `false` and an empty value is passed in by a client?
### reproduction recipe
1. Add some swagger config like:

[c

[2016-07-13 18:09] whitlockjc commented on #85
I've been at a conference and finishing a sprint so my time has been limited.  I've been working on it actively and I'm almost done.  Fixing this is making json-refs much faster and more complete.  I'm glad you ran into this issue, although I'm sorry it's taken so long fixing it.

[2016-07-13 18:11] whitlockjc commented on #88
I thought we tested this but maybe not.  I'll take a peek.

[2016-07-13 18:15] whitlockjc commented on #88
I've got tests for this and we test the `false` and `true` values.  If you look at `test/test-parameter.js`, you'll see we're testing this.  Here is an example: https://github.com/apigee-127/sway/blob/master/test/test-parameter.js#L1387  Do you see anything wrong with the tests?

[2016-07-14 04:05] rhbecker commented on #88
In the 2 `false` scenario tests, you're asserting that the validation error is 'Expected type integer but found type string' and 'Expected type number but found type string', respectively.

Is that the validation error you'd expect to see in response to a not allowed empty value? It makes sense to me that you'd get that error, when you're specifying that the value ought to be one of those types an

[2016-07-14 16:07] whitlockjc commented on #88
You very well could be right.  :)  I'll give it a peek.

[2016-07-16 00:37] petracles commented on #84
Would really appreciate it if this is addressed - debugging my Swagger doc without *any* stacktrace has been a nightmare.
<img width="812" alt="screen shot 2016-07-15 at 5 37 04 pm" src="https://cloud.githubusercontent.com/assets/4413199/16891691/cc70056a-4ab2-11e6-9075-be33c67b62fb.png">

All help appreciated! Thanks :)

[2016-07-18 16:08] whitlockjc commented on #84
It's being addressed in the next release but there is a more pressing issue in json-refs that needs to be resolved first.  The plan is to get a json-refs release out, which not only fixes this issue but also fixes the issue(s) I'm referring to, and then we'll update swagger-tools and sway.

[2016-07-20 15:08] bosco-li commented on #85
Hi @whitlockjc - np I understand and appreciate your effort, thank you for using your talents to create software that help the world!  Hopefully you can get the fix soon so this can unblock us and we can do more testings.  Thanks so much.

[2016-07-21 16:24] daddy-cool opened #90 "Sway matches first path always even if there might be a "better matching" path, intended or not?"
Let's say I have two paths in my Swaggerfile:
`/{id}`
and
`/count`

now if I post to `/count` Sway's getPath-method matches this to `/{id}` instead of `/count`.

If I move `/count` before `/{id}` in my Swaggerfile it matches everything correctly.
Is this intended behaviour or a bug?

Thanks!

[2016-07-22 15:34] whitlockjc commented on #90
It's not intended, this is a duplicate of #76.

[2016-07-22 15:34] #90 closed

[2016-07-22 15:39] daddy-cool commented on #76
Thanks and sorry for the duplicate, don't know how I missed that 👍

[2016-07-25 21:40] mailingmuthu opened #91 "how to avoid caching validation result"
It is storing the validation report in cache what is the option or param i should pass to avoid caching the validation result

sway.create({ definition: filePath })
   .then(function (result) {
         console.log(result.validate().errors)
   }

[2016-07-25 21:52] whitlockjc commented on #91
There is no validation cache but if you alter the originating document and re-validate, you need to use `sway.create` again.

[2016-07-25 21:52] #91 closed

[2016-07-29 06:06] zeiphon opened #92 "$ref in a path results in an Unknown Error"
Looking at the swagger specification it seems that a `$ref` should be allowed in place of a path element, but this doesn't seem to be accepted by Sway.
For example, see the following YAML:

[code]

This currently results in an Unknown Error.

[2016-08-02 18:03] whitlockjc commented on #92
I'll take a look.

[2016-08-05 01:34] wjagodfrey opened #93 "No error thrown on unconfigured parameters"
[code]

**Issue:** Passing an unconfigured parameter (not in swagger request schema) in a POST body doesn't throw a validation error.

**Detail:** Talking to the Swagger spec guys on IRC, it turns out that this "missing" behaviour isn't explicitly stated in the spec but was intended to exist, at least optionally. Does `sway` have this ability?

Have raised this on `swagger-node-runner` as well:
ht

[2016-08-05 02:36] wjagodfrey commented on #93
If not, this is a quite serious security concern and weakens the argument for Swagger on NodeJS in enterprise environments.

This is somewhat related: http://www.computerweekly.com/news/450299011/Rapid7-discloses-remote-code-execution-flaw-in-Swagger

[2016-08-08 10:00] ahamednijamudeensa commented on #28
Any update on  the validation part? I want my request and response to be validated based on the discriminator field. Currently it validate only against the Base definitions. It would be great if this gets fixed. Let me know the current progress please

[2016-08-08 16:50] whitlockjc commented on #28
There is nothing to report yet.  I've been on vacation and I haven't worked on anything in a few weeks.  I'm back and I hope to get to this soon.

[2016-08-08 16:57] whitlockjc commented on #93
Swagger itself doesn't dictate how to handle this, so Sway is just doing what it's told.  We've talked about having a _strict mode_ or similar where undefined parameters return an error or warning but it hasn't happened yet.  I will close this issue and instead create a more specific issue that details the request.  I will link that issue to this one.

As for the flaw you mention, this has nothing

[2016-08-08 16:57] #93 closed

[2016-08-08 16:59] whitlockjc opened #94 "Allow for more strict request/response validation"
In swagger-tools, we've talked about having a _strict mode_ where request/response parameters that were not explicitly defined would create an error/warning.  What I would like to see is some configurable feature where you can turn on and alter _strict mode_ for your needs such that you are alerted whenever a request/response is made that deviates from your Swagger document.  This was requested in

[2016-08-09 16:03] diegode commented on #77
This seems related to https://github.com/apigee-127/sway/pull/96

[2016-08-10 02:39] wjagodfrey commented on #93
Cheers @whitlockjc. Security concerns are more regarding the handling of unconfigured parameters in controllers rather than in tooling. For instance, if I don't manage to properly sanitize an object getting passed to an older version of ImageMagik, then I've opened up a door for remote code execution. Better to strip or throw on unconfigured parameters opt-in, in almost all cases, and far better t

[2016-08-10 16:03] bosco-li commented on #85
@whitlockjc wanted to see if you have an update on this one please?  Thanks again for helping and understanding!

[2016-08-10 16:24] whitlockjc commented on #85
I was on vacation and have just gotten back.  It's on my radar, sorry for the delay.

[2016-08-10 16:26] whitlockjc commented on #93
I got you.  I'll get it sorted as I think this is a great feature.  #94 is where we'll discuss this further.

[2016-08-11 00:04] wjagodfrey commented on #93
<3

[2016-08-18 13:56] osher opened #97 "dependencies"
Did you look in the resulting node_modules folder?

Have a look here:
http://npm.anvaka.com/#/view/2d/sway

Why do we need both `superagent` and `request`? Did you notice how bloated the 2nd is?
I mean, I see that `json-refs` uses `path-loader` that uses `superagent`, where `sway` preferes `request`.

I advise you to consider if you really need `request`.
If you could replace it with `superagent`

[2016-08-18 16:21] whitlockjc commented on #97
sway does not use request unless it's a transitive dependency.  sway uses path-loader and json-refs alone, both of which use superagent.

[2016-08-18 16:21] #97 closed

[2016-08-18 23:28] arun0009 opened #98 "Sample Headers and date type?"
Is there a way to generate sample headers for response?

Also, I had to change my spec to use date-time instead of date which is a valid format. It throws an exception unknown generator for "date". Is there a way to inject a custom generator?

[2016-08-18 23:36] whitlockjc commented on #98
You can generate samples for any parameter or response.  If you have a header parameter, you can generate a sample.  There is no way to generate a sample header for a response but we could possibly support it.

As for date, `date` and `date-time` are valid formats when `type: string`.  As for right now, we do not expose any way to register a custom `format` because we only support the formats Open

[2016-08-18 23:41] arun0009 commented on #98
This is what I have in spec:

[code]

and I get this expection : `unknown generator for "date" in /properties/applicantResponse/properties/dateOfBirth`

If I change the format to date-time, I am able to execute it successfully. So am not sure `date` is supported or am I doing something wrong?

[2016-08-18 23:54] whitlockjc commented on #98
It looks like `date` isn't a JSON Schema `format` so we'll need to add this to the custom generators.  We already support some custom generators _(https://github.com/apigee-127/sway/blob/master/lib/validation/format-generators.js)_ and it looks like we'll be adding another one.

[2016-08-18 23:54] whitlockjc commented on #98
I'm closing this issue since it was really two issues merged into one.  I will link this issue with the newly created issue.

[2016-08-18 23:54] #98 closed

[2016-08-18 23:56] whitlockjc opened #99 "Support the date format"
It seems `json-schema-faker` does not generate sample data for string values with `format: date`.  This is because JSON Schema itself does not have a `date` format.  To fix this, we need to update our [custom generators](https://github.com/apigee-127/sway/blob/master/lib/validation/format-generators.js) to work with the `date` format for the `string` type.

Originally reported in #98.

[2016-08-18 23:58] whitlockjc opened #100 "Add API for registering a custom format generator"
Since the OpenAPI Specification allows you to use any `format` you want, we should add a top-level API for registering custom format generators like we do for [custom validators](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_Sway..SwaggerApi+registerValidator).

Originally requested in #98.

[2016-08-26 23:52] CWThomson commented on #92
I came across the same issue - references to other YAML files used to work when I was using swagger-express-mw - version 0.6 but with 0.7 (which I believe upgraded the version of sway) this broke.

Below are a couple of changes that I made to get it to work - I'll submit a pull request but there may be a better way to do this. Note below changes require a change to the swagger-node-runner module a

[2016-08-26 23:57] CWThomson commented on #92
Just to clarify the error i was getting was

`Error in callback! Tossing to global error handler. TypeError: Cannot read property 'consumes' of undefined
    at new Operation (node_modules/sway/lib/types/operation.js:65:29)
    at node_modules/sway/lib/types/path.js:104:23
    at node_modules/lodash/lodash.js:929:11
    at node_modules/lodash/lodash.js:4738:15
    at baseForOwn (node_modules/lodas

[2016-08-27 00:03] whitlockjc commented on #92
This was documented in the release notes: https://github.com/apigee-127/sway/blob/master/RELEASE_NOTES.md#v100-2016-04-04  So it seems the other library needs to be updated?

[2016-08-27 00:04] whitlockjc commented on #92
I see what you mean.  So in the event you had your `consumes`/`produces` in a referenced location, it wasn't resolving.  Got it.

[2016-08-27 00:11] CWThomson commented on #92
Exactly:

Example:
[code]

subresource.yaml
[code]

[2016-08-30 14:22] bosco-li commented on #85
Hi @whitlockjc wanted to see if you have time on this one please?  Thanks!

[2016-08-31 15:02] mbrand commented on #94
Would really love to see this 👍

[2016-09-01 23:12] whitlockjc opened #102 "Use default values in objects"
Whenever we process parameters, we will use the default value provided by Swagger.  Or so we thought.  It seems for objects, we do not attempt to set the default values for properties that have a default value.  This was originally reported here: https://github.com/apigee-127/swagger-tools/issues/421

[2016-09-09 18:49] shreejibawa commented on #32
✖ Swagger Error
Equivalent path already exists: /profile/address/{id}

✖ Swagger Error
Equivalent path already exists: /profile/qualifications/{id}

whats wrong here? these are totally different.

[2016-09-10 17:27] glen-84 commented on #72
@whitlockjc Do you think that you'll be able to look into this soon?

[2016-09-12 15:23] whitlockjc commented on #32
Can you give me a spec with a reproduction scenario?

[2016-09-12 15:25] whitlockjc commented on #72
Yes.  I haven't had a lot of time recently to put into json-refs but I will do my best to get something out this week.

[2016-09-17 19:36] wbbradley commented on #28
I'm interested in helping out. Here's where I'm unsure of how to proceed.

Is the problem here that the Swagger Spec is ambiguous in terms of validation, or in terms of code generation? Seems like there is some confusion as to what the blocking issue is. I'm seeing a few goals that may be colliding.

- The ability to validate an API specification that includes types with discriminators, and their

[2016-09-20 15:35] osher commented on #97
it appears that z-schema uses it

On Thu, Aug 18, 2016 at 7:21 PM, Jeremy Whitlock <notifications@github.com>
wrote:

[2016-09-20 15:37] osher commented on #97
![image](https://cloud.githubusercontent.com/assets/803101/18677362/35ee35e2-7f61-11e6-8a16-302e9eb90217.png)

[2016-09-20 15:43] whitlockjc commented on #28
While the Swagger Specification is not very clear on things, there are a lot of details in https://github.com/apigee-127/swagger-tools/issues/241 that help explain how this should work.  I think the reason this hasn't been done yet is really about the scope of the work.  Right now, we can rely on a JSON Schema validator to do the work.  Since discriminator support is not something a JSON Schema va

[2016-09-20 15:44] whitlockjc commented on #97
I am all for reconsidering some of the dependencies being used by `sway` but of course, I cannot dictate/own the transitive dependencies I inherit from others.

[2016-09-20 21:34] whitlockjc opened #103 "Handle Buffer bodies"
Any API that takes a body should handle the situation when body is a `Buffer`.

Originally reported here: https://github.com/theganyo/swagger-node-runner/pull/59

[2016-09-21 03:16] TheToolbox commented on #97
The above PR removed `request` as a dependency for `z-schema`. A quick update to `z-schema@3.18.0` should cut off that whole portion of the tree. I ran tests locally and it passes. I'll send a PR shortly, or feel free to do it yourselves!

[2016-09-21 05:57] wbbradley commented on #28
Sounds like you are focused primarily on the validation side of the equation, which makes sense. That's probably more important than my main concern, which is document generation.

This may be better suited for the swagger-spec issues board, but just to keep the conversation alive, I looked into how RAML is specifying this specific construct. It looks like they:

1. have `discriminator` on the sup

[2016-09-21 10:19] osher commented on #97
chapeau!

[2016-09-21 14:45] whitlockjc commented on #97
Gotcha.  I'll update `z-schema` in the next release.

[2016-09-21 16:15] whitlockjc commented on #28
Yeah, we're into the realm of the OpenAPI Specification now.  As for the context that matters to swagger-tools/sway, it's purely from a validation perspective.

[2016-09-22 18:47] mrchief opened #105 "Does it support jsdoc and json files?"
I'm currently using swagger-parser and it supports yaml, jsdoc, and json formats. Does sway support them as well or is it just yaml?

I [stumbled upon](https://github.com/apigee-127/swagger-tools/issues/227#issuecomment-129699454) sway while researching answers to https://github.com/BigstickCarpet/swagger-parser/issues/50.

[2016-09-22 19:51] whitlockjc commented on #105
sway supports json and yaml.  I assume by jsdoc support you mean parsing JavaScript source code and wiring things together based on the jsdoc tags?  Regardless, it's not supported.

[2016-09-22 19:51] #105 closed

[2016-10-06 19:25] mailingmuthu commented on #91
HI whitlockjc,
Could you please provide sample code for that ?

[2016-10-07 22:05] whitlockjc commented on #103
This was a non-issue as we cannot do type coercion when you do not specify a `type` in your schema.  _(Please see #45 for more details)_

[2016-10-07 22:05] #103 closed

[2016-10-10 22:42] bjdash opened #107 "Adding the standalone min js throws Range out of order in character class error"
I added the standalone min file to my html and its throwing below error in console. However adding teh unminified version worsk fine.

sway-standalone-min.js:26 Uncaught SyntaxError: Invalid regular expression: /[Ã€-ÃŸ][Â€-Â¿]|[Ã -Ã¯][Â€-Â¿]{2}|[Ã°-Ã·][Â€-Â¿]{3}/: Range out of order in character class

[2016-10-17 17:42] whitlockjc opened #108 "Objects should not pass the type check for arrays"
It seems that the type coercion for request parameters is converting an `Object` into an `Array[Object]` instead of failing the type check.

Originally reported here: https://github.com/apigee-127/swagger-tools/issues/438

[2016-10-20 09:25] osher opened #109 "What can I use to sample the headers I should expect from a server?"
What can I use to sample the headers I should expect from a server?
The OpenApi spec allows [definition of response headers](http://swagger.io/specification/#responseObject).

I noted `sway.Response#getSample()` - which is cool - but it returns only body.
Is there an API to sample the headers object?

Any ideas?

Here's the full story to whoever is interested:

I'm working on a code generator for

[2016-10-20 13:37] whitlockjc commented on #109
I thought about this before but forgot to implement it.  I think it's a cool idea but it would likely be a breaking change so I'll have to schedule it accordingly.  I'm going to be out of pocket until the 31st but I would love to talk about it more.

[2016-10-23 09:54] osher commented on #109
The change does not have to be breaking.
You can introduce new APIs:
`#getSampleBody()` - explicit name, alias to `#getSample()` with backward compatibility
`#getSampleHeaders()` - what I need
`#getSampleResponse()` - returns a single object with `{ statusCode, headers, body}`
Then you can depricate `#getSample()` whenever you like and version-jump permits, or even rewire it to `#getSampleResponse

[2016-10-25 19:48] bosco-li commented on #85
Hi @whitlockjc, it's been a while, wanted to get back on this if you'll fix this issue please?

Thanks so much.

[2016-10-27 10:51] wingedfox opened #110 "Root swagger file in subdir"
Hi,

I'm not sure whether this should be fixed in `swagger-node-runner` or in `sway`, but I could not serve swagger docs with $ref's from a subdirectory.

**Config**

[code]

**1st case**

_Root doc_

[code]

_Error_

[code]

_`api.definitionRemoteResolves`_

[code]

**2nd case**

_Root doc_

[code]

_Error_

[code]

_`api.definitionRemoteResolves`_

[code]

[2016-10-31 15:59] whitlockjc commented on #109
I'm sure we can do it in a non-breaking approach too.  Thanks for the ideas.

[2016-10-31 16:01] whitlockjc commented on #85
I apologize and I'm on it.  :)

[2016-10-31 16:02] whitlockjc commented on #110
This is related to #101.

[2016-10-31 16:02] #110 closed

[2016-11-01 02:42] whitlockjc commented on #108
This is not an issue here as the conversion logic from `swagger-tools` was not used for sway.  There is no implicit wrapping of non-array values in an array.

[2016-11-01 02:42] #108 closed

[2016-11-04 14:26] webron opened #111 "Empty references cause an endless loop"
It looks like an empty reference value can throw sway into an endless loop, when running in a browser ending with a crash. For example:

[code]

[2016-11-05 03:45] whitlockjc commented on #111
Based on the _JSON Pointer_ spec, this is the same as a reference to the root of the document.  So it seems we need to make sure that we handle this.

[2016-11-28 16:09] dmk255 commented on #28
Any update on this?

[2016-12-13 22:05] whitlockjc opened #115 "Autogenerate TypeScript definitions from source"
We should take the work done in https://github.com/apigee-127/sway/pull/113 and figure out a way to generate these TypeScript definitions from the JavaScript sources.

[2016-12-14 17:27] whitlockjc opened #116 "Only allow one body parameter"
Per the Swagger 2.0 specification, an operation can have only one `body` parameter and we need to enforce this.

Originally reported here: https://github.com/apigee-127/swagger-tools/issues/461

[2016-12-19 21:17] bosco-li commented on #85
Hi @whitlockjc are you still on this one?  Our test team found this and now our customer experience this one as well.

[2016-12-19 21:18] bosco-li commented on #85
Please do share your thought on the problem and where you plan to put in the fix as well.  So we can start looking into other options to get a fix.

[2016-12-20 16:17] whitlockjc commented on #85
I can start working on a branch to make this easier to collaborate.  Basically, I've rewritten the core logic so many times I can't tell you.  I just haven't had any time recently like I thought I would.  Would that help?

[2016-12-23 03:13] #92 closed

[2016-12-24 02:17] amarzavery opened #118 "Sway should have options to accept a vendor specific swagger schema"
##Why am I asking this?
We have developed our (vendor) extensions and have added that to the swagger schema. We want to take advantage of the z-schema validator.
This is the [link](https://github.com/Azure/autorest/blob/master/schema/swagger-extensions.json) to our swagger schema with extensions.

##How it will benefit the community
It would be nice if **Sway** would provide an option
- to accept

[2016-12-24 20:44] whitlockjc commented on #118
I'm not sure I want to support custom Swagger documents.  I'm not completely against it but since we already give you APIs for [registering custom validators](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_Sway..SwaggerApi+registerValidator) and will soon have an API for [registering custom format validators](https://github.com/apigee-127/sway/issues/74) and  an API for [registe

[2016-12-24 22:30] amarzavery commented on #118
Open-API allows us to provide extensions on any part/artifact of the swagger spec. The extensions are not limited to being used for "types" and "formats".

For example: we have an extension to describe a "long-running/asynchronous" operation and an extension to describe a "pageable" operation. We also have an extension for specifying examples.

All the extensions are described/added in the swagger

[2016-12-24 22:34] whitlockjc commented on #118
The point I made is that sway already has an API to register custom validators, so validations for custom extensions and other stylistic checks that are not covered by the Swagger specification itself.  I'm not saying sway doesn't support custom Swagger documents, I'm saying that all extension support Swagger supports sway does, other than the two open issues.

What isn't working like you want?  I

[2016-12-24 22:37] whitlockjc commented on #118
To me, I read your request as you saying you've taken the JSON Schema file from Swagger, altered it and want sway to read it in as the JSON Schema for Swagger.  If that's the case, that is not a supported Swagger approach.

I'm going to get @webron's eyes on this too.

[2016-12-24 22:42] amarzavery commented on #118
Yup I was looking at that. We do like that in our CI.
[First set all the remote references](https://github.com/Azure/azure-rest-api-specs/blob/master/test/test.js#L62) and then
[Validate the spec against the schema](https://github.com/Azure/azure-rest-api-specs/blob/master/test/test.js#L87).

I want to start using Sway in our CI. It is definitely a value add. I was thinking if I can do the structu

[2016-12-24 22:48] amarzavery commented on #118
We are not modifying the swagger schema in any way, as that would be against the rules. We are simply adding schema for our extensions so folks in Azure get intellisense experience for the custom extensions and can get validation errors if they are used incorrectly.

[2016-12-24 23:18] whitlockjc commented on #118
So what doesn't work like you want?  If you can register a custom validators for the document, what is missing?  I'm missing something or overlooking it in your original message.

[2016-12-25 19:30] amarzavery commented on #118
I am sorry. I replied to your second comment.

Yes, I meant that. We have not altered the schema. We have simply extended it to add schema for our custom extensions. Then I gave an example of how we are doing it in our CI.

//Setting the remote references
[code]

The above code is very similar to what is happening in Sway at
- instantiating the validator
[code]
-  actual validation
[code]

[2016-12-26 19:44] webron commented on #118
It's an interesting situation. Sway, as far as I understand, allows you to provide custom code validations (and uses some of its own), but at the core uses a JSON Schema to validate the spec.

@amarzavery is asking for a way to use an altered (sorry, @amarzavery, any kind of mutation is altering, even if just adding) version of the schema to validate additional vendor extensions added within the s

[2016-12-27 17:37] whitlockjc commented on #118
Well, I'm not interested in supporting custom Swagger documents primarily because that is not the way to extend Swagger.  Swagger supports [vendor extensions](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#vendorExtensions) to _extend_ Swagger without the need to customize its core JSON Schema.  On top of that, Sway has support for registering custom validators which will

[2016-12-27 17:43] webron commented on #118
@whitlockjc I believe they *are* using vendor extensions, they're just using a modified json schema to validate their own vendor extensions. Azure specs are by all means valid Swagger specs - they're not customizing it beyond.

[2016-12-27 18:04] whitlockjc commented on #118
I didn't see mention of vendor extensions being used, that's why I suggested them.  Regardless, Sway allows you to write your own validators and they can validate anything you want them to, including vendor extensions.

[2016-12-28 02:55] amarzavery opened #119 "validateRequest does not throw an error when stringified (JSON.stringify) version of the request body is provided"
I was testing validateRequest() to see if it correctly throws an error in the following scenarios
- if a property of the body parameter is set to null and the swagger spec says that it should be of type string.
- if a property of the body parameter is of type integer and the user provides a string instead

Initially validateRequest output was `{ errors: [], warnings: [] }`. I was amazed to see thi

[2016-12-28 02:57] whitlockjc commented on #119
Can you provide the pertinent portion of your Swagger document _(the parameter definition and any referenced definitions)_ and an example that reproduces the issue?

[2016-12-30 14:24] Sayene opened #120 "global (api level) security ignored when resolving operation.securityDefinitions"
After upgrade from sway 0.6 to 1.0 (with swagger-node-runner):
* global (api level) security definition is not resolved into req.swagger.operation.securityDefinitions object - which is now an empty object {}
* operation.securityDefinitions is resolved with right definitions only when security definition is added to operation level
Global security definition should be resolved into operation.securi

[2017-01-05 16:58] whitlockjc commented on #120
I think this is a bug that is better filed with `swagger-node-runner`.  Basically, when `swagger-node-runner` did its work to update to sway 1.0, it didn't update for the security changes.  These were [documented in the release notes](https://github.com/apigee-127/sway/blob/master/RELEASE_NOTES.md#v100-2016-04-04).

[2017-01-05 16:58] #120 closed

[2017-01-18 05:08] amarzavery opened #122 "ptr must be a JSON Pointer"
Not sure what is going on over here.  I have double checked and the references are correct. Not sure why sway (or json-refs internally) is not able to resolve the references.

The reference in question in the [swagger spec](https://github.com/tjlvtao/azure-rest-api-specs/blob/master/arm-customer-insights/2016-01-01/swagger/customer-insights.json#L800) and the referenced relative-remote file is [he

[2017-01-18 05:10] amarzavery commented on #122
It was able to resolve other example references in the spec, not sure what was wrong with the above 2 references.

[2017-01-18 05:12] whitlockjc commented on #122
Are you using `json-refs` directly or via some other tool?  If via some other tool, what is it?  If directly, how are you invoking it?  _(I want to know the options your passing, if any.)_

[2017-01-18 05:38] amarzavery commented on #122
Here is a [github gist](https://gist.github.com/amarzavery/b5080f711743e59834f2e509390ae611#file-test-js-L33). You can execute the script to see the errors.

Please npm install `sway` and `request`.

[2017-01-18 07:42] amarzavery commented on #122
Ok, I found the issue. The example file https://github.com/tjlvtao/azure-rest-api-specs/blob/master/arm-customer-insights/2016-01-01/examples/RelationshipsDelete.json has duplicate keys in one of the sub-objects.

However, the error thrown by sway points the customer in the wrong direction. In `index.js` there is a call to YAML.safeload(res.text). `loader.js` file in package `js-yaml` that `sway`

[2017-01-18 17:16] amarzavery commented on #122
Found another issue:  **JSON Pointer points to missing location**.

Try validating this spec 'https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2016-09-01/swagger/networkInterface.json'. with the above [script provided in the gist](https://gist.github.com/amarzavery/b5080f711743e59834f2e509390ae611).

It will fail with the following error
[code]

I verified that the references

[2017-01-18 20:28] whitlockjc commented on #122
There are two issues:

1. `options.relativeBase` is not being used right.  It should be a directory, or the parent path of the document being validated, and not a file like you're specifying.  _(This is confusing and is being rewritten in `json-refs`)_
2. _"does not handle resolving circular references"_ depends on what you expect.  The current version will just set circular references to `{}` but

[2017-01-18 20:36] amarzavery commented on #122
I would like to correct the observation for:

- [`this.specDir = path.dirname(this.specPath);`](https://gist.github.com/amarzavery/b5080f711743e59834f2e509390ae611#file-test-js-L21)
   - path.dirname('https://github.com/tjlvtao/azure-rest-api-specs/blob/master/arm-customer-insights/2016-01-01/swagger/customer-insights.json') => 'https://github.com/tjlvtao/azure-rest-api-specs/blob/master/arm-custo

[2017-01-18 20:53] whitlockjc commented on #122
Ah, I didn't see that part I guess.  One thing you might want to try as well is using `raw.github.com` instead of `github.com`.  In the `json-refs` and `sway` tests, I use `raw.github.com` and I _think_ it's due to GitHub not returning a parseable output as you'd expect.  I'm going to try and run your code and see if I can make more progress myself.

[2017-01-18 20:57] whitlockjc commented on #122
Quick question: Why are you requesting the JSON document yourself and passing that to Sway?  Sway can do both at one time.

[2017-01-18 21:25] whitlockjc commented on #122
Initial testing shows that the relative references are handled properly.  When logging the retrieved document, here is the output:

[code]

The problem is immediately after this, the relative references are re-requested but only with the relative parts:

[code]

I will look into this further.

[2017-01-18 22:35] whitlockjc commented on #122
I've figured it out.  :)  Sway does two `json-refs` passes.  The first pass will resolve _remote-only_ references and is properly configuring `json-refs` for `options.relativeBase`.  The second pass is intended to resolve _local-only_ references and is not configured for `options.relativeBase` because it shouldn't be necessary.  Unfortunately, there are two bugs in sway:

1. Sway that is passing t

[2017-01-18 22:35] #122 closed

[2017-01-18 22:52] whitlockjc opened #123 "Only resolve local references during second pass"
Sway does two passes of a document when resolving references, one to identify/resolve remote references and a second to identify/resolve local references.  Unfortunately, if any of the remote references fail to resolve the second pass _(as written right now)_ will attempt to re-resolve those failed remote references and will likely fail because the `json-refs` options are not prepared for resolvin

[2017-01-18 22:54] whitlockjc opened #124 "Remote resolution errors are not reported"
Whenever we create the `SwaggerApi` object, we are only passing in the `json-refs` reference metadata for the local reference resolution instead of both the local and remote resolution.  To fix this, we need to update https://github.com/apigee-127/sway/blob/master/index.js#L200 to actually merge the remote and local reference metadata _(`refs)_ together so that the validation logic can report **al

[2017-01-18 23:54] amarzavery commented on #122
@whitlockjc - Thanks for looking into this. Looks like you have looked into the first issue. I wanted to confirm whether you looked into the second issue or not? [This](https://github.com/apigee-127/sway/issues/122#issuecomment-273539213) is the issue I am talking about. In that issue, I did not have any example json files. They were simply local references to models defined in other specs.

[2017-01-19 00:27] whitlockjc commented on #122
Here is the output from the test you requested:

[code]

I bet these are the same as the previous issue, which should be #123.  As for the _"Cannot use 'in' operator to search for 'definitions' in undefined"_, I'd bet that's due to this: https://github.com/whitlockjc/json-refs/issues/103

[2017-01-19 00:28] whitlockjc commented on #122
If I'm missing something, let me know.  Also, I did see that `json-refs` is reporting errors like the _"duplicate mapping keys"_ errors properly but it's `sway` that is not handling them right.  That should be #124.

[2017-01-19 04:12] amarzavery commented on #122
@whitlockjc - I think you **missed setting the relativeBase** and that is the reason you were seeing that error.
[code]

Now, executing the above code, should show the real issue and that is as follows:

[code]
This error is completely different from what I was seeing in the other issue.

[2017-01-19 04:15] whitlockjc commented on #122
Nope, sway handles all of that for me when I pass in a definition as a URL.  The issue I see that way is what was reported.  Let me fix the known issues and we'll see where we are.

[2017-01-19 04:26] amarzavery commented on #122
I see. It never worked for me out of the box. It started to work when I passed in the relativeBase. It works like that for most of the swagger specs.

**Interesting find**: If all those model definitions are in the **same file even though they being circular** then everything works well. Here is the snippet to prove my theory.

The input file is the swagger spec of a previous api-version "2016-06-

[2017-01-19 04:28] whitlockjc commented on #122
I'm in the process of rewriting the resolver to be more efficient and
correct.  This should be addressed.

On Wed, Jan 18, 2017, 21:26 Amar Zavery <notifications@github.com> wrote:

--
Take care,

Jeremy Whitlock

Twitter: @whitlockjc

[2017-01-19 04:31] amarzavery commented on #122
Cool sounds good 👍 .
I am in the process of filing a new issue in Sway that blew my mind away. Will file it shortly (~20 mins). Please take a look at that as well and let me know your thoughts on it.

[2017-01-19 05:05] amarzavery opened #125 "Request or response validation does not fail if the payload contains properties in a different case"
The swagger spec, defines all the model properties in **camelCase**. However, the example contains the data in **PascalCase**.
Making up a simple example for explanation:
- swagger spec
[code]
- and the sample contained:
[code]
I expected Sway to catch this for me. However, it gave a thumbs up.

Actual swagger spec and sample data for reference:
- [Model definition](https://github.com/tjlvtao/azur

[2017-01-19 05:31] whitlockjc commented on #125
This is part of JSON Schema.  It is a composite but you can have conflicts and if one schema disallows a property, it will fail.  I just tested this with straight up JSON Schema and it fails as well.  I tested the following at https://json-schema-validator.herokuapp.com:

**JSON Schema**

[code]

**Payload**

[code]

**Validation Results**

[code]

So as you can see, Sway is just reporting what JS

[2017-01-19 06:39] amarzavery commented on #125
This exactly proves my point. **id** is **not** an unwanted property. **E**ntityType definitely is unwanted, because the schema says that **e**ntityType is the property name. _(In a json object keys are case-sensitive)_.

I agree that the tool is doing that. However, that is not enough. Because, swagger specification is more than a json schema.

To prove my point, please read [this excerpt](https:

[2017-01-19 16:47] whitlockjc commented on #125
Well, I understand your frustration but even with Swagger's wording it is possible to have conflicting schemas.  Let's get @webron involved to see what he says.

[2017-01-19 17:23] whitlockjc commented on #122
Also, here is the little snippet I'm using to test things:

[code]

[2017-01-19 17:24] whitlockjc commented on #123
Here is the little snippet used to test things: https://github.com/apigee-127/sway/issues/122#issuecomment-273840433

[2017-01-19 17:24] whitlockjc commented on #124
Here is the little snippet used to test things: https://github.com/apigee-127/sway/issues/122#issuecomment-273840433

[2017-01-19 20:03] webron commented on #125
I'm going to put the discussion on hold for one main reason:
[code]
That's not even a valid JSON Schema, Swagger or no Swagger. You're defining a *property* called `allOf` and trying to define it as an array of something. That's not how you use `allOf` and that's not a valid syntax.

[2017-01-19 20:04] whitlockjc commented on #125
Good catch @webron, I didn't even catch that.

[2017-01-19 21:43] amarzavery commented on #125
I am sorry for making up an incorrect example. I was trying to simplify things and probably put stuff in the wrong place ;).

- Here is the schema:
[code]
- Here is the data:
[code]
- Here is the validation result:
[code]

- Should `"id"` also be an **unwanted** property ?

[2017-01-19 22:34] webron commented on #125
Yes :( The `"additionalProperties": false` makes it so that it conflicts with the `allOf`. Not a Swagger issue but a JSON Schema one 😕

[2017-01-19 23:09] johanste commented on #125
One observation is that the OpenAPI specification explicitly says that neither the definition of allOf or additionalProperties are taken straight from the json schema specification, but rather that their meaning are modified to fit the needs of swagger.

Off the top of my head, it would not be unreasonable to, given the the definition of allOf:

interpret the composed single object (from a schema

[2017-01-19 23:21] webron commented on #125
Having written the spec itself, the intent of the two things you bring up were:
1. The difference in `allOf` and `additionalProperties` is that their content is the Swagger Schema Object and not a regular JSON Schema (otherwise we allow people to 'escape' the boundaries). Beyond that, they behave the same.
2. The quote you mention is intended to help people who don't fully understand how JSON Sche

[2017-01-19 23:29] johanste commented on #125
My humble feedback on the specification is that, while the intent was to clarify the behavior, it did not help me get a better understanding - in fact, it made me look for the differences that weren't there. The explanation above is to me significantly more clear than what's currently in the spec.

It may be helpful to create an annotated version of the specification where some of these clarificat

[2017-01-19 23:31] webron commented on #125
Well, hopefully it will be clearer in the next version of the spec, but the current one is not going to change. Hopefully, the behavior is clearer now though, and I'll be happy to answer any further questions.

[2017-01-20 16:48] whitlockjc commented on #125
Since things appear to be working as designed, I'm closing this.  Feel free to continue the discussion or to reopen if you feel it should be addressed again.

[2017-01-20 16:48] #125 closed

[2017-01-20 18:05] amarzavery commented on #125
@whitlockjc - This is one more reason, why I want the validator in helper.js to be exposed.
The function [createJSONValidator()](https://github.com/apigee-127/sway/blob/master/lib/helpers.js#L104)
[code]
is creating an instance of ZSchema validator. Now, Z-schema validator has an option called [assumeAdditional](https://github.com/zaggino/z-schema#assumeadditional) which when set, assumes `additio

[2017-01-20 18:51] amarzavery commented on #122
@whitlockjc - I know you must be busy. However, is it possible to get any ETA on resolving this issue?

[2017-01-20 18:52] whitlockjc commented on #122
I'm hoping within a few days.

[2017-01-24 21:19] yktv4 commented on #77
any news on this? running into an issue where sway fails to resolve references even within a single document.

[2017-01-24 21:40] whitlockjc commented on #77
`json-refs` is nearing completion.  When it's released, sway will be updated to reflect.  Thanks for your patience.

[2017-01-24 22:13] yktv4 commented on #77
@whitlockjc I wouldn't bother you unless @theganyo used this in https://github.com/theganyo/swagger-node-runner which kinda made it useless for request validation as it fails all the time. but I guess it's primarily his issue, not yours.

thank you for your work! really appreciate people like you who support OSS, keep it up!

[2017-01-28 06:12] amarzavery opened #126 "Getting 'UNRESOLVABLE_REFERENCE' Error even though the definition is present in the swagger spec"
## Output

[code]

- The definition "RouteFilter" is actually present in the definitions section of the spec. It can be seen over [here](https://gist.github.com/amarzavery/0a27e2bb3558ed3ef81744ed9c3fa5a3#file-spec-json-L1272).
-  I have debugged this to the point where [`helper.validateAgainstSchema(validator, schema, value)`](https://github.com/apigee-127/sway/blob/master/lib/helpers.js#L443) is

[2017-01-28 06:32] whitlockjc commented on #126
I can confirm this.  I'll look into it.

[2017-01-29 05:35] amarzavery commented on #126
@whitlockjc - Sorry for bugging you. But any update on this? This will be a blocker for us. We are planning to take a dependency on this in our CI process before merging swaggers.

Any update would be really helpful.

## Interesting feature in z-schema that can be used in Sway
Btw, I found another way to validate examples against model definitions.

- z-schema provides a mechanism to validate agai

[2017-01-30 17:09] amarzavery opened #127 "An example of validator and generator for custom formats"
We have a format named "uuid". I would like to add support for this while generating fake data.
[json-schema-faker](https://github.com/json-schema-faker/json-schema-faker#custom-formats) supports this. However, I was not able to find any plugin/hook to register validator and generator for the format.

I looked into the tests folder for an example but couldnt find one.

Can you provide an example o

[2017-01-30 17:11] whitlockjc commented on #127
This is a duplicate of #100.

[2017-01-30 17:11] #127 closed

[2017-01-30 17:14] amarzavery commented on #100
What is the ETA for this?

[2017-01-30 20:29] whitlockjc commented on #100
Like most of `json-refs` and `sway`, I work on it in my free time and I've not had much of that lately.  I am desperately trying to get them released ASAP but no guarantees on an ETA.  Contributions welcome.

[2017-01-31 01:28] amarzavery commented on #126
@whitlockjc - Any thoughts on the alternative approach (z-schema feature _"validating against a sub-schema"_) provided in the previous comment?

[2017-01-31 18:36] whitlockjc commented on #126
I implemented that at one point honestly and it worked fine but I needed the full schema to generate sample data anyways so I just went with one approach.  The fully-resolved approach should _just work_ once the `json-refs` bugs are fixed.  A complete rewrite of the `json-refs` resolver is almost done and it should fix all bugs and performance issues brought up in the past.  I just need a little m

[2017-01-31 18:49] amarzavery commented on #126
I see. No worries. I have forked your repo and made changes based on the alternate solution. I am testing different scenarios to make sure everything works. Once things look good, will send a PR. Would love to take your feedback on it :).

[2017-01-31 19:24] leslie-wang opened #128 "open API 3.0 spec support"
OpenAPI will release version 3.0 at Feb 28, 2017. https://www.openapis.org/blog/2017/01/24/a-new-year-a-new-specification. It would be useful if this tool can support 3.0 as well.

[2017-02-01 14:06] glen-84 commented on #72
Which week? 😁 Just kidding.

[2017-02-03 01:01] SwingGuy1024 commented on #84
The example above has a missing reference. I'm seeing the same behavior with a malformed reference:
           `$ref: '#definitions/County'`

After struggling with the error, I finally figured out that I needed to put a slash before the word `definitions`.
            `$ref: '#/definitions/County'`

I hope your fix covers this case, too.

[2017-02-11 02:45] Celadora opened #129 "sway ignores required option on parameters"
In my Swagger definition we have:

      parameters:
        - name: photo
          in: formData
          description: The uploaded portrait photo
          required: false
          type: file

This will throw an error.
Error: req.files must be provided for 'formData' parameters of type 'file'

The problem is that Sway isn't checking if required is false, and so these lines will always throw an

[2017-02-11 05:53] whitlockjc commented on #129
This is a simple fix I can whip up.  To fix this, we should treat `req.files` as missing as fine when `required` is `false`.  We could possibly do the same with the other parsers as well.

[2017-02-13 22:43] whitlockjc opened #130 "Remove support for items being an array"
While JSON Schema allows for the `items` property of an array to be either an `object` or an `array` of `object`s, OAI does not.

[2017-02-14 02:18] BrighTide commented on #85
Hey, the effect this problem us having on apigee-127/swagger-tools#39 is a bit of a blocker for us :( I can justify using some overtime to make a fix, if it's just a matter of throwing some dev time at some bullet points? Let me know :) (also, obligatory thanks for all the work you do with open api spec tooling!)

[2017-02-14 02:44] whitlockjc commented on #85
Sorry for the blocker, I'll be working on it tonight.  If I can't get it patched up within a day or so, I can see if I can get some help.

[2017-02-14 03:32] BrighTide commented on #85
No worries, and awesome sauce :) let me know

[2017-02-15 17:56] whitlockjc opened #131 "Unresolvable reference reports wrong error"
As reported in https://github.com/whitlockjc/json-refs/issues/105, it seems like `json-refs` is reporting a missing reference appropriately but the `error` message being set is not as expected, which leads me to believe that there is an underlying bug somewhere.

[2017-02-15 22:18] whitlockjc commented on #131
This is not a `json-refs` issue.  After further digging, `json-refs` is returning the following error message: `connect ECONNREFUSED 127.0.0.1:8080) -> http://localhost:8080/id.json#/definitions/properties/Config`  This means that `sway` is messing up the error and that means that it is where the jacked up error message reported in `json-refs` was happening.

[2017-02-19 23:07] BrighTide commented on #85
Hey, so did you need any additional man power getting that fix out in the end?

[2017-02-20 09:53] Celadora commented on #92
This commit isn't making it to the npm package, when we reinstall swagger-node-runner it is missing.

[2017-02-20 15:42] lumaxis commented on #92
@Celadora This patch has not been released to npm yet, see #121

[2017-02-21 17:08] whitlockjc commented on #85
Well, I just need to figure out how to manifest time.  ;)  All kidding aside, I'm 90% done with a rewrite of the resolver that has a huge performance benefit and fixes all known resolution bugs.  I should had been committing this to a branch so others could help but since I didn't, that's not possible so more people power wouldn't help.  I'll do better next time but know it's almost done.

[2017-02-21 23:00] BrighTide commented on #85
I'll hit up my local occult library, see if they've got any time stuff :D, and awesome. Thanks for all the hard work!

[2017-02-27 17:24] whitlockjc commented on #85
Alright, I'm really banging my head against the wall on this one.  If anyone wants to do some pair programming on this, please join me in: https://gitter.im/whitlockjc/json-refs

[2017-03-06 18:04] vinassefranche opened #132 "Default value for parameters with type array not taken into account"
Hi,

If we define a global default value for a parameter with type array, the default value will never be used, even if no default value is set for the items.

For a parameter defined like this :
[code]
if i call the api without specifying the fields parameter in the query, `request.swagger.params.fields.value` will remain `undefined`. I would expect it to be `["uuid", "name", "value"]`

I've seen

[2017-03-06 18:24] whitlockjc commented on #132
Which library are you using?  `sway` itself doesn't provide server middleware so you must be using something else, that might be using `sway`.  I ask because I need to figure out if the issue is with `sway` or the other library.

[2017-03-06 21:53] vinassefranche commented on #132
Hi,

i'm using swagger-node (https://github.com/swagger-api/swagger-node) which now uses sway.
To me, the issue seems to be in the parameter-value.js file (https://github.com/apigee-127/sway/blob/master/lib/types/parameter-value.js), in the getter function of the value property. There is a `if (_.isArray(schema.items)) {` which defines a specific way of setting values for arrays.

[2017-03-06 22:09] whitlockjc commented on #132
I just looked at `swagger-node` code _(https://github.com/theganyo/swagger-node-runner/blob/07a706f461833ca1642981a61c8ce72e6a8a260b/fittings/swagger_params_parser.js#L39)_ and it seems to be doing the right thing so it must be in `sway`.  Looking at the `sway` code _(https://github.com/apigee-127/sway/blob/master/lib/types/parameter-value.js#L167)_ I don't see anything immediately but I'll take a

[2017-03-06 22:25] vinassefranche commented on #132
Just to help you on your review :
on line 168 (https://github.com/apigee-127/sway/blob/master/lib/types/parameter-value.js#L168) you define a specific branch for array types (for other than arrays, you take the schema.default value if it exists - between lines 185 and 189) In this branch, you only reference the default values of the items (lines 171, 181 and 182) and not the global default value.

[2017-03-06 22:57] whitlockjc commented on #132
Yeah, not sure why I did that.  Probably because you can specify a default value for the schema of the items.

[2017-03-11 22:47] whitlockjc opened #134 "Request validation should support DELETE and PATCH"
https://github.com/apigee-127/swagger-tools/issues/480

[2017-03-13 16:02] AlJohri commented on #128
@whitlockjc I was wondering if there's any plans to start supporting the OpenAPI 3.0 spec. Thanks!

[2017-03-23 05:12] amestsantim opened #135 "ptr must be a JSON Pointer"
This is my swagger.json file which has the proper reference but somehow I'm getting the "ptr must be a JSON Pointer" error in the online editor.

{
    "swagger": "2.0",
    "info": {
        "title": "SMS Api",
        "description": "This is a SMS Api that works on top of Kannel.",
        "contact": {
            "name": "My Name",
            "email": "example@example.com"
        },
        "

[2017-03-23 15:47] whitlockjc commented on #135
The reason you're getting these errors is because your `$ref` values are not valid.  For example, in one place you use `#definitions/ValidationError` but that should really be `#/definitions/ValidationError`.  If you look at the [JSON Pointer spec](https://tools.ietf.org/html/rfc6901#section-6), you'll see the only fragment-based JSON Pointer without a `/` after the `#` is `#` itself, which is a r

[2017-03-23 15:47] #135 closed

[2017-03-24 04:14] amestsantim commented on #135
Yes, you are indeed right, I guess I was just blinded from staring too much at the json and not seeing the missing /.
Thanks!

[2017-03-29 14:11] pipo2152 opened #136 "Errors and warnings when running npm start server mode but no errors in swagger-online-editor"
I am a newbie to swagger. I created my api definition. I am getting the following errors and warning for my query parameters.

[code]

Here is the snapshot of the parameters:

[code]

[2017-03-29 15:36] whitlockjc commented on #136
I can't see why you're getting the errors/warnings but since `swagger-editor` uses `sway`, I'm somewhat surprised.  Which editor are you speaking of?  _(I ask because SmartBear just open sourced some new tooling)_

[2017-03-29 18:28] pipo2152 commented on #136
I'm using the editor at: http://editor.swagger.io/#!/

I found that when I generated the server from the editor, it managed to change the swagger.yaml syntactically. For example, this is how my parameter looked:

  order_by:
    name: "sort_by"
    in: "query"
    required: false
    type: "array"
    items:
      type: "string"
      enum:
      - "time"
      - "severity"
      - "occurrence"

[2017-03-29 18:53] whitlockjc commented on #136
Good to hear.

[2017-03-29 18:53] #136 closed

[2017-03-30 11:55] MikeRalphson opened #137 "Error is thrown on duplicate keys in resolved remote references"
I believe it is this [line](https://github.com/apigee-127/sway/blob/master/index.js#L175) responsible.

The error finally reported is not very indicative of the source of the problem:

  error: ptr must be a JSON Pointer
  message: 'Reference could not be resolved: ../examples/NameSpaces/SBNameSpaceList.json'
  path:
    - paths
    - '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceBus

[2017-03-30 15:21] whitlockjc commented on #137
This is a duplicate of #131.

[2017-03-30 15:21] #137 closed

[2017-03-30 15:27] MikeRalphson commented on #137
Only partially. The clobbering of the json-refs error message is one thing, but treating all resolved JSON content as YAML breaks the defined behaviour of JSON in that duplicate keys are ignored.

[2017-03-30 17:24] whitlockjc commented on #137
`js-yaml` _should_ be throwing an error whenever it attempts to load a document with duplicate keys: https://github.com/nodeca/js-yaml/commit/9ea29ec6aa5e48d3dff3eacf7582818643a0ab0c  I checked the release version and it's older than the one we're using.  I will do a quick check with `json-refs` to see if it's suppressing the error, a known issue.

[2017-03-30 17:39] MikeRalphson commented on #137
Thanks for the update. In my case the data being returned is JSON not YAML, and so the `js-yaml.safeLoad()` in strict mode is producing different results than a `JSON.parse()` would return. I still consider this less than optimal behaviour.

[2017-03-30 17:45] whitlockjc commented on #137
I've tracked it down.  There are three players here:

* `js-yaml`
* `json-refs`
* `sway`

Here are the results:

**Test YAML**

[code]

**Test JS**

[code]

**Test Output**
[code]

**Results**

It seems that if the duplicate key is in the root document, `js-yaml` and `sway` handle it just fine while `json-refs` seems to have some weird issue _(not sure what is up but I'll report it there and link

[2017-03-30 18:06] MikeRalphson commented on #137
Understand. At the moment [APIs.guru](https://github.com/apis-guru/openapi-directory) requires the use of a `sway` patched as per the original suggestion in this issue, but I don't really want to have to maintain forks of `api-spec-converter` and `sway`. But I can put off a decision on switching to another validator for a while until the situation on support for OpenAPI 3 becomes clearer.

[2017-03-30 18:40] whitlockjc commented on #137
PRs are welcome.

[2017-04-24 19:51] workshur opened #140 "Request validation fails when POSTing an array with only one element"
[code]
This simple definition works good for empty arrays and arrays with multiple items.
[code]

But it fails for array with only one element.
[code]
[code]

As I understand it, the reason lies [here](https://github.com/apigee-127/sway/blob/e53e529dc4a01b11a40f9e968fc15be76a292c73/lib/helpers.js#L213):
[code]
`JSON.parse([1]);` returns integer 1

I also see that we have a [handler](https://github

[2017-04-24 20:00] whitlockjc commented on #140
This has been fixed here: https://github.com/apigee-127/sway/pull/114  I'll be putting together a release this week that should fix this.

[2017-04-24 20:08] workshur commented on #140
@whitlockjc Wow. Sounds good. Many thanks

[2017-04-25 05:59] whitlockjc commented on #85
@bosco-li Sorry for the long delay but I've got a new version of `json-refs` that will improve performance and accuracy.  I'm not sure if you're still using this but if you are, let me know.  I'll be updating `sway` shortly to use the new release within the next few days.

[2017-04-25 06:09] whitlockjc opened #141 "Upgrade to json-refs@v3.0.0"
Now that `json-refs@v3.0.0` [has released](https://github.com/whitlockjc/json-refs/releases/tag/v3.0.0), `sway` should be updated to fix resolution issues and performance.

[2017-04-25 06:10] whitlockjc commented on #85
`json-refs@v3.0.0` [has released](https://github.com/whitlockjc/json-refs/releases/tag/v3.0.0) and `sway` will be updated to include it.  Based on the test document @bosco-li provided, processing time went from over 48 minutes to under 2.2 seconds.  And everything is resolved and recorded as expected.

[2017-05-04 06:21] FranckVE commented on #84
I had the same bug and lack of details on what was going wrong. I could only get out of trouble when I made sure that all references to `definitions` were :
like `$ref: "#/definitions/Expenditure"`
instead of ~~`$ref: "#definitions/Expenditure"`~~
that is : adding the slash `/` in the reference to `definitions`: `#/definitions/...`

[2017-05-04 14:44] whitlockjc commented on #84
The issue is fixed in `json-refs@v3.0.0` but I've not updated `sway` yet.  I'm working on it.

[2017-05-05 15:57] bosco-li commented on #85
Thank you!

[2017-05-05 16:07] whitlockjc commented on #85
I'm reopening until `sway` has been updated to use `json-refs@v3.0.0`.

[2017-05-05 16:52] bosco-li commented on #85
Thanks - do you know when will that happen?

[2017-05-05 18:10] whitlockjc commented on #85
ASAP. ;)  I've been working on Kubernetes stuff this week, `sway` hopefully over the weekend.

[2017-06-13 13:49] bosco-li commented on #85
@whitlockjc do you have an estimate when there will be an update for `sway` to use `json-refs@v3.0` please?

Thanks.

[2017-06-13 22:58] whitlockjc commented on #85
No.  👎   But it's my top priority in my personal time at my keyboard.

[2017-06-20 08:38] akdor1154 opened #144 "schema with allOf does not validate if type is not specified as well."
[code]

returns a validation error when I try to do path.validateResponse() with `{a: 1, b:2}`
[code]

If I add `type: object` as a sibling to `allOf` then all works fine. The Swagger 2.0 examples specifically demonstrate using `allOf` with no type.

Using latest version on NPM. Haven't tried git master but there seem to be no open issues to do with this.

[2017-06-26 16:58] whitlockjc commented on #144
All JSON Schema validation in sway is handled by [z-schema](https://github.com/zaggino/z-schema)  I'm not sure if the issue is with sway or z-schema but if it's purely from a JSON Schema validation perspective, I'm not sure sway is the culprit.  I'll do a quick test and see if I can create a reproduction recipe without sway.

[2017-06-26 17:04] whitlockjc commented on #144
I cannot reproduce with sway or z-schema.  Can you give me the full error output, the objects for each validation error?  It will provide more details that I can look into.

[2017-06-27 23:29] akdor1154 commented on #144
Test case at https://github.com/akdor1154/swaggerIssue144 :)

[2017-06-28 04:33] whitlockjc commented on #144
Your reproduction scenario, `body` is an `object` yet you're passing it in as a `string` for validation.  If I remove the `JSON.stringify` call in [your example](https://github.com/akdor1154/swaggerIssue144/blob/master/index.js#L9), it passes without validation error.  Since your parameter does not have a `type`, we cannot infer that you passed in a JSON `string` that should be coerced into an `ob

[2017-06-28 04:33] #144 closed

[2017-06-28 06:01] akdor1154 commented on #144
Thanks for the explanation. I thought the ServerResponse interface was designed to mimic that of the `http` module (where `body` is always a string or buffer, if I am not mistaken). I also thought that specifying the content-type header should be a sufficient hint to sway that the body should be `JSON.parse`d. Am I wrong on both counts here?

[2017-06-28 15:46] whitlockjc commented on #144
All sway APIs dealing with parameters/responses will attempt to _coerce_ values appropriately.  The reason this is failing in your case is because you do not have a `type` set for your response schema.  Here is the code in question, with explanation as to why we don't treat an unset `type` as `object` or anything else: https://github.com/apigee-127/sway/blob/master/lib/helpers.js#L187  So if your

[2017-07-04 06:35] motorro commented on #120
@whitlockjc, there is still a problem in sway code. Please see #145

[2017-07-05 16:37] Celadora commented on #132
I think a slightly better solution than commit 5b027fa is to check that the default value is in fact an array
starting at line 181 in parameter-value.js
[code]
can be changed to

[code]

[2017-07-06 15:39] whitlockjc commented on #132
Good point.

[2017-07-06 15:39] whitlockjc commented on #120
Will do, thanks.

[2017-07-08 04:20] #141 closed

[2017-07-08 04:31] whitlockjc commented on #85
`sway` was just updated to `json-refs@v3.0.0`.  I'm going to merge PRs and fix bugs before cutting a release.

[2017-07-08 04:31] #85 closed

[2017-07-10 20:59] bosco-li commented on #85
@whitlockjc thank you for this.  Are you going to publish the updates on npm please?

[2017-07-10 22:19] whitlockjc commented on #85
Yep, the work has already started.  All deps were updated, although I do think better `json-refs` support needs to be done.  I'm also fixing bug/feature requests and then cutting a release.

[2017-07-12 15:44] bosco-li commented on #85
Thanks @whitlockjc - do you have a timeline for cutting a release just so we know when to expect please?

[2017-07-12 15:53] whitlockjc commented on #85
No concrete ETA but I'm working on it in the evenings so it should be within a week or so.

[2017-07-19 10:53] randomcatgamer opened #146 "Swagger global security definition not working!"
Using the global security definition does not work.
[code]
The error I get is:
__Cannot read property 'type' of undefined","stacktrace":"TypeError: Cannot read property 'type' of undefined
   at getScopeOrAPIKey (D:\\devcat\\dev_workspace\\workspace\\backend-marketplace-productactivation\\node_modules\\swagger-node-runner\\fittings\\swagger_security.js:80:25)
    at andCheck (D:\\devcat\\dev_works

[2017-07-20 16:23] whitlockjc commented on #146
This will be resolved via #145.

[2017-07-20 21:54] whitlockjc opened #147 "Ensure path matching is case-sensitive"
Per [RFC3986 6.2.2.1](https://tools.ietf.org/html/rfc3986#section-6.2.2.1), it seems that all URI components other than scheme and host are suppose to be case-_sensitive_.  This is a bug and should be fixed.

Originally reported in `swagger-tools`: https://github.com/apigee-127/swagger-tools/issues/519

[2017-07-27 23:18] noahdietz commented on #116
I think this can be closed:
* check in validators [here](https://github.com/apigee-127/sway/blob/master/lib/validation/validators.js#L625-L630)
* test for it [here](https://github.com/apigee-127/sway/blob/master/test/test-api.js#L1198)

I verified on API studio that the proper error is thrown when two `body` params are defined.

[2017-07-28 05:43] whitlockjc commented on #116
Good catch.

[2017-07-28 05:43] #116 closed

[2017-07-28 08:41] motorro commented on #120
@whitlockjc have you got a chance to check the PR? Thanks!

[2017-07-28 22:36] noahdietz commented on #147
Verified that this bug exists.

I added the following test to [`test-path.js:65`](https://github.com/apigee-127/sway/blob/master/test/test-path.js#L65):
[code]

The suggested fix was to add the `sensitive: true` flag to the use of `path-to-regexp`. In sway, this is used in a path's regexp compilation [here](https://github.com/apigee-127/sway/blob/master/lib/types/path.js#L80).  Adding it here fixe

[2017-07-29 00:03] noahdietz commented on #134
_copied my comments from https://github.com/apigee-127/swagger-tools/issues/480_

@whitlockjc should the method check be removed entirely (every method's body, if present, will be validated against the desired content type) or should we exclude `GET`? Personally, I think we should exclude the `GET`, but I'm not married to that.

Furthermore, `HEAD` should follow `GET` in its treatment, and `OPTION

[2017-07-31 04:43] noahdietz commented on #130
Just for clarification, this is saying "2D arrays" are not allowed in OAI? i.e. it is invalid to have a response schema, for example, that is `type: array` with `items` of `type: array`? Thanks. Just trying to clarify.

I did read this in the 3.0 spec [here](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#properties) but clarity can't hurt 🐼

[2017-07-31 15:49] whitlockjc commented on #134
Maybe we just remove the filtering based on HTTP method.  If _"any HTTP request message is allowed to contain a message body"_, who are we to disallow sending and validating it?

[2017-07-31 15:51] noahdietz commented on #134
Cool by me. I can change my PR to remove that conditional. Do you still want tests for various HTTP methods to make sure they are being validated as well, or just the one already existing exhaustive test is fine?

[2017-07-31 23:26] noahdietz commented on #123
With what is in master I can't reproduce this. The bug is definitely present in 1.0.0 but that doesn't have `json-refs` 3.0.0 which I'm thinking handles this case?

I can add a test for this just for posterity but otherwise I think this issue can be closed.

[2017-07-31 23:35] noahdietz commented on #111
I confirmed that what is in master is unable to reproduce this issue.

@whitlockjc I believe your upgrade to `json-refs` 3.0.0 was the fix. I think we can close if you are ready to.

[2017-08-01 17:48] noahdietz commented on #123
Nevermind, I can reproduce with `master`. I think the spec I was using previously was being weird.

I copied the above snippet to the spot you indicated and the errors went away.

[2017-08-02 19:34] noahdietz commented on #123
and now i realize that I think this change breaks other tests because of #124 and the fact that the errors from both passes aren't being merged, and only the results from the second pass are being reported.

[2017-08-21 11:38] gooftroop commented on #128
Any update on this now that it's GA?

[2017-08-23 08:00] osher opened #152 "Feature Request: support sway.getOperation(operationId)"
If that sounds reasonable - I can work on a PR for you :)

[2017-08-23 17:32] whitlockjc commented on #152
Maybe `#getOperationById(operationId)`?  `#getOperation(methodOrId)` could end up with ambiguous results.  _(I do think you'd have to go out of your way for this but I'd rather not rely on the end user)_

[2017-08-23 17:32] whitlockjc commented on #128
We're wrapping up the next sway release, bug/security fixes and enhancements.  After that, 3.0 support will be our top priority.  Sorry for the delay.

[2017-08-24 08:04] osher commented on #152
I did give a thought about it

First - not to confuse with [`PathObject.getOperation`](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_Sway..Path+getOperation).

we're discussing [`SwayAPI.getOperation`](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_Sway..SwaggerApi+getOperation)

Basically it implements already two overloadings, now distinct probably by arity

[2017-09-08 15:34] whitlockjc commented on #152
My initial concern was that you could have one operation with a method of _X_ and another operation with an `operationId` of _X_ but in all honesty, that's a stretch.  So I think having `#getOperation(methodOrOperationIdOrRequest)` is reasonable.  We don't need a separate method for this.

[2017-09-13 15:46] #134 closed

[2017-09-13 15:51] #147 closed

[2017-09-13 15:58] #129 closed

[2017-09-19 14:39] #132 closed

[2017-09-19 14:52] whitlockjc commented on #132
@Celadora This has been fixed and the more I think about your suggestion, I think it's not ideal.  If you use a default value, we should use it regardless and let it fail validation.  _(Actually, I think we validate this during validation so it doesn't matter.)_

[2017-09-22 17:46] noahdietz commented on #146
#145 was merged, and will come in the next release.

@randomcatgamer can you pull master, link to the local copy and verify that the fix works? If you can't do this, please verify as soon as there is a release so that we can close the issue.

[2017-09-22 17:52] noahdietz commented on #140
Need #114 to be fixed (just reseting some conflicting changes) then we can merge that to fix this...

[2017-10-05 22:15] amalahussein commented on #128
@whitlockjc is there anything you need help with to get 3.0 support out? Happy to contribute.

[2017-10-10 17:42] whitlockjc commented on #146
This is a duplicate of #120.

[2017-10-10 17:42] #146 closed

[2017-10-11 04:37] whitlockjc opened #155 "Remove NSP exception for superagent"
As of right now, NSP has an exception for https://nodesecurity.io/advisories/479 and it should be removed once visionmedia/superagent#1259 is fixed.

[2017-10-11 05:08] #152 closed

[2017-10-12 17:31] jmichel84 commented on #94
+1 Would really need this, having to double check everything before saving to the db is a pain.

[2017-10-12 18:09] whitlockjc commented on #94
It will be in the next release which we are currently working on.

[2017-10-17 19:43] chelfi opened #156 "getPath returns undefined when used whith router (express.Router()), baseUrl ignored"
When using a router (express.Router()) instead on the app itself (express()), SwaggerExpress is unable to route the request to the right controller. error is happening in the sway lib when resolving the path. Here is how to reproduce it.
- prepare a swagger-app1.yaml file with basePath: /v1/app1 and a path /hello implemented in for example in controller helloController and operationId sayHello

-

[2017-10-17 19:46] whitlockjc commented on #156
I'll get this looked into and fixed in short order.

[2017-10-18 19:35] fed135 opened #157 "Update the NPM build"
The NPM version dates to last year, locked with dependencies from that time.

[code]
Faker 3.1 didn't have a `.npmignore` file at that time. That dependency alone is >68Mb
I was wondering why our node_modules folder was so big...

[2017-10-19 14:47] whitlockjc commented on #157
[package.json#L69](https://github.com/apigee-127/sway/blob/master/package.json#L69) shows `^0.5.0-rc8` which includes `faker@4.1.0`.  This should had been fixed on `master` in 85ebf329c623e42c37725c80e780e7a212e206f6

[2017-10-19 14:47] #157 closed

[2017-10-19 19:25] fed135 commented on #157
@whitlockjc  It may be on master here, but it hasn't been published on NPM: https://www.npmjs.com/package/sway

The project has been on version 1.0.0 since  Apr 4, 2016!

[2017-10-19 19:35] whitlockjc commented on #157
I understand.  As for the last release being a while back, sorry for the delay.  We're working on a new release but we haven't finished it yet.  Feel free to get involved and help out.

[2017-10-20 14:45] fed135 commented on #157
@whitlockjc Do you have a list of bugs or features that need to be worked on in particular? What's preventing you from releasing now?

[2017-10-20 16:44] whitlockjc commented on #157
We could release right now.  If you look at the [release notes](https://github.com/apigee-127/sway/blob/master/RELEASE_NOTES.md#tbd), you'll see that there are a number of changes on `master` that could be useful.  I'd like to push a `1.1.0` release with those changes and possibly cherry-pick some changes for a `1.0.1`.  As for what's left, `1.1.0` should get all issues fixed that are not breaking

[2017-10-24 15:29] whitlockjc opened #158 "Validate response headers"
It appears we might not be validating response headers.

Originally reported here: https://github.com/apigee-127/swagger-tools/issues/544

[2017-10-24 16:05] whitlockjc commented on #158
I reached out to @webron to get his opinion on if response headers are required to be sent _(and should be validated as such)_ or if they are optional _(and should be validated when present)_.  Here is what he said:

    I would say no. If you look at the description of the Response Object, it says `A list of
    headers that are sent with the response.` suggesting they must exist. If you look at

[2017-10-25 16:49] nazarhussain commented on #74
This would a very useful feature, is there any update on it?

[2017-10-25 17:30] whitlockjc commented on #74
We're working on a release as we speak.  We've been trying to get it out over the last couple of weeks but work has been interfering.  The plan is to include this in the next release.

[2017-10-26 06:34] nazarhussain commented on #74
@whitlockjc Thanks for this information. What's the expected date of next release?

[2017-10-26 15:17] whitlockjc commented on #74
I don't want to give that, only because I'd hate to miss it.  I've given guesses in the past and missed so I'd rather not this time.

[2017-10-26 15:17] whitlockjc commented on #74
But I do hope by end of month.

[2017-10-27 07:24] nazarhussain commented on #74
@whitlockjc For everyone reference till the feature is released. I figured out a workaround, that is working for me.
[code]

[2017-11-03 20:34] baronfel commented on #115
Perhaps look at tools like https://github.com/englercj/tsd-jsdoc?

[2017-11-06 16:14] whitlockjc commented on #115
That would be exactly what I'd want.  Let me give using it a whirl.

[2017-11-09 12:17] ArjunHariharan commented on #92
When do you plan to release this version?

[2017-11-13 15:54] MikeRalphson commented on #157
Would seriously love a `1.0.1` or `1.1.0` release, just to get the benefit of the newer `json-refs` release. Don't care about new features (assuming it passes the same tests as the existing release).

[2017-11-15 16:07] whitlockjc commented on #157
I apologize, let me see if we can get something done sooner.

[2017-11-15 16:12] MikeRalphson commented on #157
No need to apologise, that was just meant as a positive testing report. :)

[2017-11-21 21:12] gruberchris commented on #128
I just started to use Sway for my project. I am impressed with it so far. I did find one issue regarding when a parameter is declared as type "file". My understanding is that under OpenAPI v2, "file" was a legal type but under OpenAPI v3, it is not. I get an error saying "unknown primitive "file" in /type" because the "/pet/{petId}/uploadImage" route in this public swagger example http://petstore.

[2017-11-29 16:08] gruberchris opened #159 "Unknown primitive "file" in /type"
I just started to use Sway for my project. I am impressed with it so far. I did find one issue regarding when a parameter is declared as type "file". My understanding is that under OpenAPI v2, "file" was a legal type but under OpenAPI v3, it is not. I get an error saying "unknown primitive "file" in /type" because the "/pet/{petId}/uploadImage" route in this public swagger example http://petstore.

[2017-11-29 16:41] whitlockjc commented on #159
`sway` uses OpenAPI v2.0 and `type: file` should be valid.  Do you have a reproduction recipe?

[2017-12-02 02:55] whitlockjc commented on #159
Without a reproduction recipe, I cannot help.  We have numerous tests for `type: file` so I'm not sure how we could be doing it wrong without some help.

[2017-12-02 02:57] whitlockjc opened #160 "Rewrite the document processing"
Right now, we have two types of validation:

1. Built-in validation that cherry-picks the places of the OAS document where we do validation
2. Custom validation that walks the document for each custom validator

I think if we were to rewrite the validation approach, we could walk the document once and handle all types of validation.

[2017-12-02 02:59] whitlockjc commented on #156
The interface for `sway` is that `req.url` is used _but_ I think we we also check for `req.originalUrl`, and use that first if it's there, this would fix the situation.  Is that correct?

[2017-12-02 03:14] #156 closed

[2017-12-02 03:14] whitlockjc commented on #140
This was fixed using 94ba34fe8008e9febdff2ff1ee48027ac95a881f.

[2017-12-02 03:14] #140 closed

[2017-12-02 03:22] whitlockjc commented on #131
This seems to have been resolved when upgrading to the latest `json-refs`.  My test to reproduce this shows it's working:

[code]

[2017-12-02 03:22] #131 closed

[2017-12-02 03:23] whitlockjc commented on #130
Actually, this isn't required.  We might have some code in there that allows it but the structural validation would keep it from happening.

[2017-12-02 03:23] #130 closed

[2017-12-02 03:24] whitlockjc commented on #126
Did a PR ever come from this?

[2017-12-02 03:25] whitlockjc commented on #126
With the latest on `master`, `json-refs` has been updated and should be fully-resolving everything.  Is this still an issue?

[2017-12-02 03:25] whitlockjc commented on #124
This was fixed when `json-refs` was updated.

[2017-12-02 03:25] #124 closed

[2017-12-02 03:43] #123 closed

[2017-12-02 03:44] whitlockjc commented on #119
I'm closing this until you provide more information.

[2017-12-02 03:44] #119 closed

[2017-12-02 03:44] whitlockjc commented on #126
Closing this until there is more information.

[2017-12-02 03:44] #126 closed

[2017-12-02 03:53] #111 closed

[2017-12-02 16:44] gruberchris commented on #159
I think you closed this a little too fast.

Here is my code that results in the error i described when processing the sample endpoint I described.

`import Sway from 'sway';

let cachedSwayApi;

export default class SwayApi {
  static createSwayApi(swaggerSpec) {
    return new Promise((resolve, reject) => {
      Sway.create({definition: swaggerSpec}).then(swayApi => {
        cachedSwayApi = swa

[2017-12-03 01:26] chelfi commented on #156
Thank you Jeremy. that's perfect.

On Fri, Dec 1, 2017 at 9:59 PM, Jeremy Whitlock <notifications@github.com>
wrote:

[2017-12-04 17:06] whitlockjc commented on #159
I don't mind reopening it, but without a reproduction recipe there was nothing to go on.

[2017-12-04 17:07] whitlockjc commented on #159
Do you have an example OAS that reproduces this?  That's more important than your JS code.

[2017-12-05 14:37] gruberchris commented on #159
@whitlockjc Not sure what you are asking for. Is the "example OAS" you are asking for the swagger.json I am using? If so, I'm using this public swagger.json example, http://petstore.swagger.io/v2/swagger.json

[2017-12-05 15:26] gruberchris commented on #159
![image](https://user-images.githubusercontent.com/2971844/33614961-68e93f1c-d99e-11e7-93c6-6653d57bc170.png)

[2017-12-05 16:24] whitlockjc commented on #159
If I use the [petstore example](http://petstore.swagger.io/v2/swagger.json), I do not produce any errors at all during validation:

[code]

There are _no_ errors or warnings.  I'm not sure how you're producing an error and I am not.  In fact, the petstore example is in the `sway` repository and is used during its test suite.

I will try to run your sample code now.

[2017-12-05 16:28] whitlockjc commented on #159
Your code doesn't even attempt to validate so I'm not sure.  I cannot reproduce your reported issue with the petstore example and `sway`.

[2017-12-05 16:39] gruberchris commented on #159
I get the exception "unknown primitive "file" in /type when calling "getSample()" on the parameter object "file" parameter in that route.  I'm sure if you can run my code against this swagger.json you'll see the same error I am seeing.

[2017-12-05 16:42] whitlockjc commented on #159
Yeah, running your code was painful because I would had needed Babel or something to get it into a format that Node.js works with _(I tried v8.x)_.  I guess my reproduction didn't get to the part of your code where this happened, my bad.

I do think I understand this now and I can see why this bug would happen.  Should be an easy fix.

[2017-12-05 16:46] gruberchris commented on #159
Awesome. Thanks for taking the time. I should have thought about needing babel to run my example. I'll keep an eye out for your fix.

[2017-12-05 18:06] patricklx opened #161 "file upload not working"
I tracked it down to this line:
https://github.com/apigee-127/sway/blob/master/lib/types/parameter.js#L150
req.files is an array. So this should probably use a `.find(f => f.fieldName == name)`?

Or should swagger-tools/othertool create the mapping, dont know?

[2017-12-06 12:31] patricklx commented on #161
okay, so actually swagger-node-runner is doing that mapping. Was bad config on my side...

[2017-12-06 12:31] #161 closed

[2017-12-14 15:49] ArjunHariharan opened #162 "Support for Custom validators"
Is there a way to add custom validator for the request/response objects?
Ex - URL and Timezone formats are not supported by Swagger which I would like to add in addition to the existing validations which swagger provides.

[2017-12-27 21:29] whitlockjc commented on #162
This is a duplicate of #100.

[2017-12-27 21:29] #162 closed

[2017-12-29 14:08] andreamussap commented on #84
I'm using swagger 2, and this happened to me when I forgot to include a slash in the $ref. It sucks that the error msg is not clear, but as soon as I've seen the error I just went back to what I last did and then I found the issue.
(29/12/2017)
![unknow-error-missing-slash](https://user-images.githubusercontent.com/10401080/34438867-aca16782-eca1-11e7-9d41-23653b2c4349.png)

[2018-01-10 01:35] dinvlad commented on #115
Any progress with these? Thanks

[2018-01-10 17:14] whitlockjc commented on #115
When I looked into this, it wasn't as simple as using a Grunt plugin to do this.  I'll keep looking but at the time, I tried a few options and they all left me wanting more.

[2018-01-10 17:30] dinvlad commented on #115
I see. Would it make sense then to fix existing definitions per #138? E.g. there are some glaring typos like `defintion` in `create()`, making typings almost unusable (barring a cast to `any`) at the moment.

[2018-01-10 17:32] whitlockjc commented on #115
I think we could/should fix them and keep looking into a solution.  I took most of December off so I'll be back on this by EOW.

[2018-01-18 14:55] Thavaprakash opened #163 "Module not found: Error: Can't resolve 'swagger-schema-official/schema'"
Hi ,
I'm getting below error. Please help me to get rid of this error.
npm version: "1.0.0"
node version: v8.9.1
npm version: 5.5.1

[code]

[2018-01-18 17:25] whitlockjc commented on #163
I cannot reproduce this.  I just installed `sway` into a new project and used it without issue.

[2018-01-18 18:31] Thavaprakash commented on #163
HI @whitlockjc ,
Thanks for your prompt reply, Actually I'm getting this error while run build using webpack after implementing Typescript in my project.

[2018-01-18 18:32] whitlockjc commented on #163
I'm not sure this is related to `sway` so I'm going to close this.  If you find out otherwise, let me know.

[2018-01-18 18:32] #163 closed

[2018-01-21 21:09] whitlockjc commented on #57
This is actually quite difficult to implement.  I'm not giving up but due to the difficulty, I'll likely park it alongside #28 and come back to it.  Long story short, we would have to implement some of the JSON Schema parsing/validation just to support this.  `readOnly` is allowed any place a `properties` property is allowed and that is infinitely nestable, in many locations _(`additionalPropertie

[2018-01-21 21:13] whitlockjc commented on #72
After trying to come back to this, was the issue that JSON Pointers in the error messages should be URL Encoded?  I _think_ that's it.

[2018-01-21 21:19] whitlockjc commented on #72
Just to summarize what I think is necessary:

1. `json-refs` needs to handle URI encoded JSON Pointers/References as inputs
2. `json-refs` needs to output JSON Pointers/References as URI encoded

I think earlier I mentioned this as an either/or and I don't think that is accurate.  Can someone confirm?

[2018-01-22 00:32] #74 closed

[2018-01-22 00:41] whitlockjc commented on #76
I'm actually not sure how best to do this.  We _could_ just make static paths always match over parameterized paths but I think that is somewhat naive.  For `/host/{id}` and `/host/AWS`, it's simple.  But what happens when you have multiple segments and any combination of them have both parameterized and static versions?

[2018-01-22 00:47] whitlockjc commented on #77
This is actually working as designed.  With `json-refs@v3.0.0+`, this accidental feature was removed.  It's discussed here: https://github.com/whitlockjc/json-refs/issues/100

[2018-01-22 00:47] #77 closed

[2018-01-22 06:39] Santinell commented on #76
I think algorithm should search in this order:
1) full match (static path + equal type of request (GET, POST, etc.))
2) the longest path (e.g. by `path.split('/').length`)
3) if paths have the same length and the same type of request, then first of them.

[2018-01-23 03:11] sauvainr opened #164 "GET request fails content-type check"
I got the following error when using a GET request which of course don't have content..
`{
  code: 'INVALID_CONTENT_TYPE',
  message: 'Invalid Content-Type (application/octet-stream).  These are supported: application/json'
}`

Work-around was to add 'application/octet-stream' in the consumes of the API.
Is it a known issue?

[2018-01-23 19:55] whitlockjc commented on #164
What's interesting is that a `GET` request _can_ have a body and so if a `Content-Type` is present, it will be validated.  We could potentially turn off validating the `Content-Type` if there is no body whenever no request parameter is `in: body`.

[2018-01-24 20:34] drej1 commented on #126
Hi @whitlockjc just one question! I'm dealing with this same issue. it's fine that it is fixed in master, but how can I tell to my node.js application to use sway from master? I can only tell to use version 1.0.0 which doesn't include this fix. Will there be soon, I mean very soon some new release? Thanks

[2018-01-24 20:38] whitlockjc commented on #126
You can use `npm install --save apigee-127/sway#master`.

[2018-01-25 09:44] drej1 commented on #126
Thanks! My fault, didn't check npm documentation in detail :/

[2018-01-25 20:20] drej1 commented on #126
Hi @whitlockjc I still have a problem with **UNRESOLVABLE_REFERENCE**.
I have the following swagger model defined:
[code]

While sending a request I get the following error:
[code]

Please could you take a look at it what am I missing?
Thank you very much!

[2018-01-25 23:03] whitlockjc commented on #126
I'll need more information.  What I see suggests there is no issue but I've no idea what you document(s) structure looks like.

[2018-01-26 06:41] drej1 commented on #126
Here's my whole swagger.yaml
[swagger.zip](https://github.com/apigee-127/sway/files/1666850/swagger.zip)

And I'm sending the following documents in body:
example1:
[code]

example2:
[code]

[2018-01-26 16:37] whitlockjc commented on #126
Can you tell me how the document is being used?  If I validate the document, it validates without error.  Are you using some APIs that might not be working properly?

[2018-01-27 10:24] glen-84 commented on #72
I honestly don't know the details. I think that @BigstickCarpet would have to confirm.

[2018-01-29 18:42] drej1 commented on #126
I use swagger-node with updated swagger-node-runner and swagger-express-mw and sway.
It fails in my tests while sending request to the swagger-node endpoint via superagent.
Does this help?

This week I will try to debug the process if this doesn't help.
Thanks

[2018-01-30 02:09] whitlockjc commented on #126
`swagger-node-runner` uses an old version of `json-refs` which had issues.  But in all honesty, I'm not sure how `sway` is being used so it's hard to tell.  It seems like you're validating a request which means `sway` isn't fully resolving documents _(fixed in `json-refs@v3.0.0+`)_ or `sway` is using the wrong schema _(the not-fully-resolved one)_.  Without a reproduction recipe, it will be hard t

[2018-01-30 12:38] osher commented on #128
@whitlockjc  - same question here. If it'd help if I join the effort - please contact me. `theganyo` has my private mail as I did some PRs for swagger-node-runner / bagpipes.

[2018-02-06 15:11] SteveMorin commented on #164
@whitlockjc Is there a way to do this in the current release? I'm seeing the same issue.

[2018-02-06 17:21] whitlockjc commented on #164
I'll get started.

[2018-02-06 19:39] MartinDelVecchio commented on #164
I am seeing the same thing on a POST that has no parameters in: body; all parameters are in: query.  It has no consumes: specified, either at the file level or at the operation level.

So I am sending no body, and no Content-Type header.  The error I am getting:

     {"message":"Validation errors","errors":[{"code":"INVALID_CONTENT_TYPE","message":"Invalid Content-Type (application/octet-stream).

[2018-02-06 19:47] whitlockjc commented on #164
Yep, that's what I'll get working on.

[2018-02-06 19:49] MartinDelVecchio commented on #164
OK, great.  Thanks!

[2018-02-08 20:55] drej1 commented on #126
Hi, I found the issue:)
In sway you are calling `helpers.removeCirculars(results.definitionFullyResolved);` while the removeCirculars function assumes the definition is fully resolved but it is not, because json-refs is not called with option `resolveCirculars=true` and by default it is set to `false`, so the circulars are detected but not resolved. This way there are no repeating nodes inside `re

[2018-02-08 21:14] whitlockjc commented on #126
I'll file a new issue.  If you haven't seen it by the time you read this, feel free to do the same.

[2018-02-09 08:03] drej1 opened #165 "UNRESOLVABLE_REFERENCE for circular references"
Hi,
In sway you are calling helpers.removeCirculars(results.definitionFullyResolved); while the removeCirculars function assumes the definition is fully resolved but it is not, because json-refs is not called with option resolveCirculars=true and by default it is set to false, so the circulars are detected but not resolved. This way there are no repeating nodes inside removeCirculars function, not

[2018-02-09 09:01] drej1 commented on #126
Hi, thanks. I filed issue #165

[2018-02-09 13:01] penx opened #166 "getResponse should return default response if getResponses does not have a matching status code"
I am getting the following error from my mock API:

[code]

Against a very simple path:

[code]

Looking at the code:

https://github.com/apigee-127/sway/blob/d2f577e2061bf36012477e6d29d0eaae71572700/lib/types/operation.js#L179-L196

My understanding of the usage of this function is that it should return default response if getResponses() does not have a matching status code.

e.g. something like

[2018-02-09 14:42] penx commented on #166
On second thoughts, maybe swagger-node-runner is the best place for me to resolve the issue I'm having:

https://github.com/theganyo/swagger-node-runner/blob/7f85797e74ee8a182ae9458ac8e2eb4db9c7a6c3/fittings/swagger_router.js#L120

Should probably be:

[code]

[2018-02-09 15:49] penx opened #168 "Add date and time format support to mocks"
This can be done fairly easily by upgrading to a new RC of json-schema-faker once the following PR has been included in a release:

https://github.com/json-schema-faker/json-schema-faker/pull/360

[2018-02-09 15:49] #166 closed

[2018-02-11 02:39] whitlockjc commented on #72
First pass at this one is a pain.  I can reproduce it of course but the internal model for circulars/dependencies makes it painful.  I'll keep at it.

[2018-02-12 00:10] whitlockjc commented on #84
https://github.com/whitlockjc/json-refs/issues/130 and https://github.com/whitlockjc/json-refs/issues/131 have been fixed.  I will cut a release and will update `sway` to use it so that the issues reported are resolved.

[2018-02-12 00:46] whitlockjc commented on #126
You can already use `options.jsonRefs` in [Sway.create(options)](https://github.com/apigee-127/sway/blob/master/docs/API.md#swaycreateoptions--promise) to alter how `json-refs` is invoked.  But the reason `sway` isn't released with proper `json-refs@v3.0.0+` support is because of things like this.

[2018-02-12 00:54] amarzavery commented on #126
Sway is a fantastic library for doing different swagger validations. However, in the initial days I had several issues with resolving json reference around relative paths or circular references. I ended up writing my swagger spec resolver such that all the references are local to the document. I then give the resolved swagger to sway for doing semantic and model validation. After that everything w

[2018-02-12 01:20] amarzavery commented on #126
Precursor:

There are couple of other issues that I had with sway. Listing them over here in the hope that this helps other people who might have encountered similar issues.

## Validating polymorphic models
 It does not correctly validate polymorphic models. For example `Cat` and `Dog` are having an `allOf` relationship with `Animal` which has a discriminator property named `dtype`, then at runti

[2018-02-12 01:23] whitlockjc commented on #126
I'm not sure this is the proper way to address concerns.  I'd rather see issues that can be fixed than discussing things in one issue about other issues.  Also, `json-refs`' issues that you mentioned about resolving references should be fixed.

[2018-02-12 01:25] amarzavery commented on #126
Sure. I shall open separate issues.

[2018-02-12 01:28] amarzavery opened #169 "Validating Polymorphic model types"
## Problem
Polymorphic models are not being validated correctly. For example `Cat` and `Dog` are having an `allOf` relationship with `Animal` which has a discriminator property named `dtype`, then at runtime the request body or the response body could be an `Animal` or a `Cat` or a `Dog`. If the model specified was a `Cat` then sway would not fail if some required properties of `Cat` were not prov

[2018-02-12 01:42] amarzavery opened #170 "Validating nullable types"
## Problem:
There are services that reuse the same model in request body and response body. At times the model has a sensitive property like `password` or `storageAccountKey` that is required while the model is being used as in the request body and when the service sends the same model back in the response, it sets those sensitive properties with a null value. Now sway will fail with an error null

[2018-02-12 01:44] amarzavery commented on #126
I have opened :
- #169 (validating polymorphic types)
- #170 (validating nullable types) as separate issues as directed. Thank you :).

[2018-02-12 02:06] amarzavery commented on #164
The [HTTP RFC spec says](https://tools.ietf.org/html/rfc2616#section-7.2.1) that if the content-type is not provided then "application/octet-stream" should be treated as the default content-type.

   Content-Type header field defining the media type of that body. If
   and only if the media type is not given by a Content-Type field, the
   recipient MAY attempt to guess the media type via inspecti

[2018-02-12 03:21] whitlockjc commented on #72
This was fixed in `json-refs@v3.0.4` and committed the fix in https://github.com/apigee-127/sway/commit/cdd8030a7dac5f86de5fb0bdf719b7ed92ada1f0

[2018-02-12 03:21] #72 closed

[2018-02-12 03:21] whitlockjc commented on #62
This was fixed in `json-refs@v3.0.4` and commited in https://github.com/apigee-127/sway/commit/cdd8030a7dac5f86de5fb0bdf719b7ed92ada1f0

[2018-02-12 03:21] #62 closed

[2018-02-12 03:24] whitlockjc commented on #84
This was fixed in `json-refs@v3.0.4` and commited in https://github.com/apigee-127/sway/commit/cdd8030a7dac5f86de5fb0bdf719b7ed92ada1f0

[2018-02-12 03:24] #84 closed

[2018-02-12 14:24] MartinDelVecchio commented on #164
@amarzavery, not that in my example, my request does not have a body.

[2018-02-12 16:44] penx commented on #126
I'm getting this issue at the moment and am trying to debug to get more info for you.

From what I can tell, it's from the following lines:

https://github.com/apigee-127/sway/blob/ee8329540b4c1a279c5077a6937bcd495f085b89/lib/types/parameter-value.js#L122-L125

The call to `validateAgainstSchema` passes `parameterObject.schema`, which is only a subset of the schema and doesn't contain the `#/defin

[2018-02-12 17:38] penx commented on #126
this is with swagger-node-runner@0.7.3, sway@master and json-refs@3.0.4

I'm not sure whether you're saying above that `parameterObject.schema` should not contain any references ($ref keys) as these should be fully resolved by json-refs before calling`validateAgainstSchema`?

In which case I guess the issue I'm having is with swagger-node-runner (the call to operation:validateRequest from fittings

[2018-02-12 17:47] penx commented on #126
would it help if I create an example that reproduces this?

[2018-02-12 20:52] whitlockjc commented on #169
Duplicate of #28.

[2018-02-12 20:52] #169 closed

[2018-02-12 20:54] whitlockjc commented on #126
`Parameter.schema` should be fully-resolved and based on the code, that is the case.  If you're using `sway@v1.0.0`, it is possible that a `json-refs` issue is causing the problem.  If you're using `sway@master`, you might want to file a bug with a reproduction recipe.

[2018-02-12 20:55] whitlockjc commented on #126
Since you mention `swagger-node-runner`, I'm assuming you're using a version of `sway` less than `v1.0.0` and most certainly less than `master`.  So I am not surprised you're running into a situation where the document isn't fully resolved.

[2018-02-12 20:59] whitlockjc commented on #170
This is what custom validators is for.  Since you're referring to using a vendor extension, you would need to register your own validator.  This is possible via [Sway.registerValidator](https://github.com/apigee-127/sway/blob/master/docs/API.md#module_Sway..SwaggerApi+registerValidator) or using `options.customValidators` when using [Sway.create(options)](https://github.com/apigee-127/sway/blob/ma

[2018-02-12 20:59] #170 closed

[2018-02-12 21:00] whitlockjc opened #171 "Register custom request/response validators"
`sway` already has the ability to register custom validators for the full Swagger 2.0 document but it does not include the ability to register custom request/response validators.  This needs to be done.

Originally reported in #170.

[2018-02-12 21:22] penx commented on #126
I’m using a fork of swagger node runner and am using sway@master

[2018-02-12 21:23] whitlockjc commented on #126
Then I'll need to know more about the reproduction.  `json-refs` resolver, the one being used in `sway@master`, doesn't have any resolution issues I'm aware of but there were some things it use to resolve that it shouldn't had and that _could_ be related.

[2018-02-12 21:37] amarzavery commented on #170
Sounds good.

[2018-02-12 21:38] amarzavery commented on #170
But this is more than a vendor extension. I want to be supporting nullable types for all the model properties that are not required, apart from the ones that have x-nullable: true present for them?

How would one go about doing that via registerValidator

[2018-02-12 21:40] whitlockjc commented on #170
The point I'm trying to make is that OAS doesn't have a concept of nullable so you're asking `sway` to do something that isn't supported natively in OAS.  So you'd have to do this with a vendor extension and a custom validator _(#171)_ to enforce it.

[2018-02-12 21:44] amarzavery commented on #170
Ah I see..

[2018-02-12 22:11] amarzavery commented on #28
Although we have implemented polymorphic validation in our tool [oav](https://github.com/azure/oav) using the `oneOf` approach and we use this for validating request/response, the error messages are nested as pointed earlier in one of the comments. It takes some time to understand what is incorrect.

**If we do not want to use oneOf then there is another approach that can be used, a little cumbers

[2018-02-12 22:14] amarzavery commented on #28
Suggestion: Sway could maintain different copies of the spec internally for semantic and model validation, thereby avoiding the problem of using non 2.0 open api specification keywords like `oneOf`.

[2018-02-13 11:10] penx commented on #126
After writing the example, I am pretty sure it's the same as issue #165

[2018-02-13 11:20] penx commented on #165
As mentioned in #126, I am having the same issue, and have made the following example to help reproduce:

https://github.com/penx/sway-resolve-reference

[2018-02-13 12:10] penx commented on #165
I've used my forks of swagger-node-runner and sway for the example, mainly because:

- I want to ref the latest version of sway/json-refs
- I'm not sure how to use Sway as a mock server on its own without using swagger-node-runner

The forks shouldn't contain any changes that impact this bug, so I expect you could also replicate the issue just by using the spec file.

[2018-02-13 12:11] penx commented on #165
@whitlockjc if you have any pointers to fixing this, I may have some time to look at it

[2018-02-13 15:40] penx commented on #165
I've created a failing unit test and then patched with @drej1's suggestion, in PR here:

https://github.com/apigee-127/sway/pull/172

[2018-02-14 07:47] cskru commented on #32
Ofcourse!
I am scratching my head regarding this and I created a spec to reproduce.

Spec1: paste this spec on https://editor.swagger.io/

[code]

Please reopen this issue or may be I can file a separate issue

[2018-02-15 00:04] whitlockjc commented on #32
`/path/{paramName}` and `/path/{someOtherParamButTheVerbIsPut}` is _functionally_ the same.  So `/path/foo` will match both of those paths and I think that is an oversight.  I'm not sure there is anything in the OAS 2.0 spec that says this is an error but I cannot think of why anyone would want to do this.  Maybe @webron has an opinion.

[2018-02-15 01:30] webron commented on #32
It's an error, the two paths are considered identical.

[2018-02-15 01:46] whitlockjc commented on #32
There you have it.  Thanks @webron!

[2018-02-15 17:27] penx opened #173 "Prerelease on npm"
It's coming up on 2 years since sway@1.0.0 was released to npm.

@whitlockjc any chance you could put the current master as a prerelease on npm?

I think this is all that's needed:

[code]

It would help me a lot with building and releasing [tooling that requires a recent version of sway](https://github.com/penx/openapi-mock) 🙂

[2018-02-16 19:25] whitlockjc commented on #173
Any reason you can't use `apigee-127/sway@master`?

[2018-02-16 19:40] penx commented on #173
Our team's issue is that we need to `npm install` from our internal package repository rather than from npm directly and users won't have access to GitHub when this happens.

sway, swagger-node-runner etc. all need to be added to our internal package repository and at some point patched with the changes I have on my forks. As far as I can tell, the easiest way to do this would be to import a relea

[2018-02-18 07:39] vladbarosan commented on #78
👍 for having the feature of using another validator (namely ajv mentioned previously ).
 - Much faster
 - errors come in a much more readable format.
 - Z-schema seems to be missing some validations ( e.g. date time format for strings)

[2018-02-22 19:09] penx commented on #168
0.5.0-rc13 is out with date and time support, PR raised: #174

[2018-03-15 13:21] jwalton commented on #173
Could we even have a 1.1.0 release?  I'm using swagger-node-runner which relies on Sway.  Would be nice if I could get access to custom formats.

[2018-03-15 14:00] whitlockjc commented on #173
Crafting a `1.1.0` release right now should be possible but I'd need to figure out what things could be merged.  Do you see anything in the [release notes](https://github.com/apigee-127/sway/blob/master/RELEASE_NOTES.md#tbd) that would be breaking and require a `2.0.0` vs. a `1.1.0`?  `1.0.1` definitely isn't an option with everything in the release notes.